body{font-family: 'Roboto'; font-weight: 300; font-size: 16px; color: #6B6B7D; line-height: 22px;}
*:focus, img:focus{outline: none;}
#page {  padding-top: 60px;}
.center{text-align: center;}
.navbar .container{max-width: 1170px;}
.blue{color: #42b7da;}
.wrapper{margin-top:40px; margin-bottom: 20px;}
.grybg{background: #f3f7f8 url('../images/divider.png') no-repeat top center;}
.graybg{background: #f9fbfc; margin-top: 0px; margin-bottom: 0px;}
.whtbg{background: #FFF; margin-top: 0px; margin-bottom: 0px;}
.blubg{ background: #42b7da; margin-bottom: 0px;}
.martop0{margin-top: 0px;}
.item{padding: 5px;}
blockquote{border: none; padding-left: 0px; padding-top: 10px;}

.garybg{background: #f9fbfc;}

h3{font-weight: 500; font-size: 22px;}

#top_bar.site{background: url('../images/home-bg.jpg') no-repeat top center; padding-bottom: 8%;position: relative;}
#top_bar.sdk{background: url('../images/sdk-bg.jpg') no-repeat top center; }
#top_bar.dam{background: url('../images/dam-bg.jpg') no-repeat top center; }
#top_bar.affiliate{background: url('../images/affiliate-bg.jpg') no-repeat top center; }

.cntr{text-align: center;}
.press-icons{list-style: none;}
.press-icons li{display:inline-block; text-align: center; vertical-align: middle; margin-right: 25px;}
.press-icons li a{display:block; background-image: url(../images/press/press-logos.png); background-repeat: no-repeat;}
.toi a{background-position: -190px -300px; width: 190px; height: 100px;}
.toi a:hover{background-position: 0px -300px;}
.dna a{background-position: -380px -350px; width: 105px; height: 50px;}
.dna a:hover{background-position: -380px -300px;}
.bs a{background-position: -389px 0px; width: 90px; height: 100px;}
.bs a:hover{background-position: -299px 0px;}
.iw a{background-position: 0px -36px; width: 299px; height: 36px;}
.iw a:hover{background-position: 0px 0px;}
.lri a{background-position: 0px -150px; width: 206px; height: 50px;}
.lri a:hover{background-position: 0px -100px;}
.rtn a{background-position: -250px -200px; width: 250px; height: 100px;}
.rtn a:hover{background-position: 0px -200px;}
.ao a{background-position: -274px -625px; width: 133px; height: 25px;}
.ao a:hover{background-position: -274px -600px;}
.nt a{background-position: -206px -150px; width: 127px; height: 50px;}
.nt a:hover{background-position: -206px -100px;}
.fov a{background-position: 0px -625px; width: 273px; height: 25px;}
.fov a:hover{background-position: 0px -600px;}
.ei a{background-position: -294px -550px; width: 133px; height: 50px;}
.ei a:hover{background-position: -294px -500px;}
.bt a{background-position: -161px -650px; width: 161px; height: 50px;}
.bt a:hover{background-position: 0px -650px;}
.btrade a{background-position: -200px -450px; width: 268px; height: 50px;}
.btrade a:hover{background-position: -200px -400px;}
.tp a{background-position: -333px -150px; width: 152px; height: 50px;}
.tp a:hover{background-position: -333px -100px;}
.dq a{background-position: 0px -550px; width: 294px; height: 50px;}
.dq a:hover{background-position: 0px -500px;}
.vintera a{background-position: -100px -400px; width: 100px; height: 100px;}
.vintera a:hover{background-position: 0px -400px;}


.navbar-inner{background: none; border: none; box-shadow:none; padding-top: 10px; padding-bottom: 10px;}


.navbar .nav > li > a{color: #FFF; text-shadow: none; font-size: 24px; margin-top: 2px; font-weight: 500;}
.navbar .nav > li > a span{font-size: 16px;}
.navbar .nav > li > a:hover, .navbar .nav > li > a.current{border-top: 2px solid #FFF; color: #FFF; margin-top: 0px;}
.navbar .nav > li > a.btn, .navbar .nav > li > a.btn:hover{ margin-top: 8px; border: 0px;}

.navbar .nav li.dropdown > .dropdown-toggle .caret{border-bottom-color: #FFF; border-top-color: #FFF;}
#top_bar .hero-unit{background: none; text-align: center; color: #FFF; padding-top:12%; padding-bottom: 17%; margin: 0px;}
.muvi #top_bar .hero-unit{padding-top:9%; padding-bottom: 15%;}
.site #top_bar .hero-unit{margin-top: 10%;padding: 0;}

#top_bar.contact, #top_bar{background: #42b7da;}
.hero-unit h1{font-size: 2.5rem;}
.hero-unit h2{font-weight: 300; font-size: 28px;}
.navbar .nav#yw21 > li > a{font-size: 22px; margin-top: 6px;}
.navbar #yw21 > li > a{font-size: 22px; margin-top: 6px; font-weight:400;}
.nav-divider{width: 1px; height: 35px; background: #FFF; margin-top: 12px;}
.btn:hover, .btn:focus{background-position: 0px;}

.btn-white{background: #FFF; color: #02a2d4;}
.navbar .nav > li > a.btn-white{color: #02a2d4; padding:4px 12px; }
.navbar .nav > li > a.btn-white:hover{background: #CCC;}

#yw21{margin-top: 5px;}

#yw20, #yw21{list-style: none;}
#yw21 li{ display: inline-block;}
#yw21 li a{padding: 5px; display: block; color: #FFF; text-decoration: none;}
#yw21 li a.btn{color:#02a2d4; text-shadow: none; }
#yw21 li a.btn:hover{color: #FFF; background: #02a2d4;}

#yw21 ul.dropdown-menu a{color:#02a2d4;}
#yw21 ul.dropdown-menu li{ display: inline;}
#yw21 ul.dropdown-menu li a:hover{color:#FFF;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{ background: #02a2d4;}

h2.btm-bdr, h1.btm-bdr{background: url(../images/h2-bg.png) no-repeat bottom center; text-align: center; padding-bottom: 30px; color: #42b7da; font-size: 38px; font-weight: 500; margin-bottom: 30px;}
.home-page-studio{text-align: center; }
.home-page-studio h3{font-size: 24px; font-weight: normal;}

.home-page-customers{padding: 20px 0px;}
.home-page-customers ul{list-style: none;}
.home-page-customers li{ display: inline-block; text-align: center; padding: 0px 15px;}
.sols .span4:first-child{margin-left: 0px;}

.top_social li{padding: 0px 5px;}
.top_social li a{margin-right: 0px;}

.footer-above{background: #42b7da; margin-bottom: 0px;}
.footer-nav .navbar-inner{ padding: 0px;}

.footer-above ul{padding: 10px 0px; margin: 0px;}
.footer-above ul li{display: inline-block; color: #c7f2ff; padding: 5px;}
.footer-above ul li a{color:#FFF;}
.footer-above .container .span6:first-child{margin-left: 0px;}
footer{background: #000; padding: 10px 0px; color: #8C8F95;}
.span6 ul li:first-child{padding-left: 0px;}
.span6 ul li:last-child{padding-right: 0px;}

.blubg a{color: #c7f2ff; display: inline-block; margin-right: 3%; font-size: 22px; font-weight: 500;}
.barlinks .span9{margin-left: 0px;}

.cols2{list-style: none; margin: 0px; padding: 0px;}
.cols2 img{width: 100%;}
.cols2 li{display: inline-block; }
.cols2 li:first-child{margin-left: 0px;}
.cols2 li.bigger{width: 50%;}
.cols2 li.smaller{width: 40%;}
.pad50{padding-top: 50px; padding-bottom: 50px;}
.txt-right{text-align: right;}
.move_top{margin-top: -100px;}

.white{color: #FFF;}


.col-first{ margin-top: 100px;}
.col-center{text-align: center;}
.col-last{ margin-top: 100px;}

.table th, .table td{border: 0px;}
.table-condensed thead tr th{background: #3ec6e0; color: #FFF;}
.table-striped tbody tr.even td{ background: #e8f2f7;}
.table-striped tbody tr.odd td{ background: #FFF;}
table.center-table{max-width: 60%; margin: 0px auto; float: none;}
.table-striped td h3{margin: 0px;}

.dam .footer-above{ margin-top: 0px;}

.customers h3{font-size: 25px;font-weight: bold;}
.customers ul{list-style: none;}
.customers ul li{display: inline-block; padding: 0px 3px;}
.customers ul li.separator{font-size: 30px;}
.customers ul li:first-child{padding-left: 0px;}

@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    #top_bar .hero-unit{padding-top: 200px; min-height: 370px;}
    .hero-unit h1{font-size: 36px;}
    .hero-unit h2, h2.btm-bdr, h2{font-size: 24px;}
    .home-page-studio h3, h3{font-size: 20px;}
    #yw20{display: none;}
    
    .home-page-customers li{ width: 100%; text-align: center; margin: 0px; padding: 0px;}
    .span3, .footer-above .container, [class*="span"]{padding: 4px;}
    .navbar .nav > li > a{margin: 0px;}
    .navbar .nav > li > a:hover, .navbar .nav > li > a.current{color: #02a2d4; border: 0px;}
    
    table.center-table{max-width: 100%;}
}

@media (max-width: 980px) {
    .navbar .nav > li > a{font-size: 18px; max-width: 115px; padding: 10px;}
}


/*Contact Us page*/
.icon-name{background: url(../images/name-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-email{background: url(../images/email-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-company{background: url(../images/company-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-phone{background: url(../images/phone-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-message{background: url(../images/message-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}


@media (min-width: 1200px) {
    textarea{width: 477px;}
}

@media (max-width: 765px) and (min-width:440px) {
    textarea{width: 371px;}
}

.martop10{margin-top: 10px;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{box-shadow: none;}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child{
    border-radius: 0px; 
    background: none; 
    border: none;
    padding: 10px;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input{
    border-radius: 0px;
    border: none;
    color: #42b7da;
    text-transform: uppercase;
    border-left: 0px;
    padding: 10px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    border-radius: 0px;
    color: #42b7da;
    text-transform: uppercase;
    padding: 10px;    
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{box-shadow: none;}
.border{ border:1px solid #42b7da;}

#contact-form{position: relative;}
.btn-blue{ border-radius: 2px; font-size: 24px; padding: 8px 80px; border-color: #42b7da; box-shadow: none; text-align: center; background: #42b7da; color: #FFF; text-shadow: none;}
.btn-blue:hover, .btn-blue:focus{background: #42b7da; color: #333;}
.error{color: #FF0000; text-align: left;}
.loading{position: absolute; width: 93%; height: 93%; background: #FFF url(../images/loading.gif) no-repeat center; z-index: 1;}

#first [class*="span"]:first-child, #second [class*="span"]:first-child, #third [class*="span"]:first-child, #fourth [class*="span"]:first-child,
#fifth [class*="span"]:first-child, #sixth [class*="span"]:first-child, #seventh [class*="span"]:first-child, #eightth [class*="span"]:first-child, 
#nineth [class*="span"]:first-child{margin-left: 0px;}

#LoginModal .modal-header{background: #42b7da; border-radius: 5px 5px 0px 0px; color: #FFF;}
#LoginModal .modal-header h3{text-align: center; font-weight: 400; font-size: 32px; text-transform: uppercase; padding-top: 10px; padding-bottom: 10px;}
#login_form label{display: inline-block; color: #42b7da;}
#login_form input[type="text"], #login_form input[type="password"]{width: 94%; color: #67677f; font-size: 16px; padding-top: 10px;padding-bottom: 10px;}
#login_form input[type="checkbox"]{margin-top: 0px; margin-right: 5px;}
.btn.btn-blue{background: #42b7da; color: #FFF; font-weight: 400; font-size: 20px; border-radius: 4px; text-align: center; padding-top: 10px; padding-bottom: 10px; text-shadow: none;}
.btn.btn-blue:focus, .btn.btn-blue:hover{background: #42b7da;}

p.home_img{min-height: 116px;}
h3 a{color: inherit;}
.list{list-style: none;}

.list li{display: inline-block; min-height: 116px;}
table td.tbl_btm_bg{background: url('../images/dam_table_btm_bg.jpg') no-repeat top center; background-color: inherit !important; height: 10px;}
.table-condensed th, .table-condensed td{vertical-align: middle; padding: 8px;}

.navbar .brand{margin-right: 46px;}
.navbar .nav > li > a span{font-size:15px;}
.navbar .nav > li > a{/*padding:10px 14px; min-width: 170px;*/text-align: center;}
#yw21 li a.btn { font-size: 16px; font-weight: 400; padding: 5px 15px;}
#yw21 li{margin-left: 15px;}
#yw21.pull{margin-left: 10px !important;}
#yw21.pull li{margin-left: 0px;}

#yw21 li:first-child{margin-left: 0px;}
.navbar .nav{margin-right: 0px;}
#yw21{margin-left: 18px;}
.navbar-inner{padding-right: 0px;}

.zerocap{margin-top: 60px;}
.ql{margin-top: 110px;}
.infscl{margin-top: 30px;}
.drm{margin-top: 80px;}
.custlook{margin-top: 50px;}
.ppv{margin-top: 50px;}
.webmob{margin-top: 45px;}
.bltmrkt{margin-top: 40px;}
.audrel{margin-top: 100px;}

.cms{margin-top: 50px;}
.wrldsec{margin-top: 70px;}
.convrt{margin-top: 45px;}
.reltime{margin-top: 40px;}

.selfpub{margin-top: 60px;}
.discveng{margin-top: 50px;}
.viral{margin-top: 35px;}
.bltdrm{margin-top: 85px;}
.setprc{margin-top: 55px;}


.acqsub{margin-top: 30px;}
.qkset{margin-top: 120px;}
.brndown{margin-top: 70px;}

.blogsection{margin-top: 40px;}
.blogsection .span4:first-child{margin-left: 0px;}
.blogsection h2.btm-bdr{font-size: 22pt; margin-bottom: 20px; padding-bottom: 20px; margin-top: 0px; text-align: left; background: none; border-bottom: 1px solid #42b7da;}
.blogsection h3{line-height: 30px;}

.tag-links a{color: #0088cc; }
footer.entry-meta{background: #EEE; margin-top: 40px; padding-left: 4px; padding-right: 4px;}
.paddlr20{padding-left: 20px; padding-right: 20px;}

.fixedtop #navblubar{position: fixed; top: 0px; width: 100%; margin-top: 0px;}
.fixedtop .curstep{margin-top: 100px !important;}
#contactModal, .modal-dialog{  width: 570px; }
#contactModal .modal-body{max-height: 600px; padding-right: 0px;}
.contactform h2.btm-bdr{margin-bottom: 10px;}
.close{font-size: 28px;}

.huge-it-share-buttons ul li{display: inline-flex;}
.huge-it-share-buttons ul li a{display: inline-block;}
.huge-it-share-buttons ul li.none{display: none;}
.huge-it-share-buttons ul{float: none !important;}
#huge-it-share-buttons-top{margin-top: 40px;}
#huge-it-share-buttons-top h3{display: none;}
ul.huge-it-share-buttons-list{margin-left:0px;}
.huge-it-share-buttons{background: none !important;}
.nobackground{background: none;}

.clear{
    clear:both;
}
.team_img{
    height: 100%;
    width:100%;
}
.teammem_name{
    font-size: 23px;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 4px;
}
.team_designation{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #222;
}
.team_desc{
    font-size: 16px;
    width:90%;
}

.barlinks .span8{ margin-left: 0px;}
#dwnl.modal-dialog{width:100%;}

#download_pop .modal-header{background: #42b7da; border-radius: 5px 5px 0px 0px; color: #FFF;}
#download_pop .modal-header h3{text-align: center; font-weight: 400; font-size: 32px; text-transform: uppercase; padding-top: 10px; padding-bottom: 10px;}
#download_frm label{display: inline-block; color: #42b7da;}
#download_frm input[type="text"], #download_frm input[type="email"]{color: #67677f; font-size: 16px; padding-top: 10px;padding-bottom: 10px;}

#download_pop .form-group{margin-bottom: 5px;}
.form-horizontal .control-label{padding-top: 12px; text-align: left;}
#download_frm label.error{color: #FF0000;}
.form-control.error{text-align: left;}
.form-group .span3{margin-bottom: 5px; margin-left: 5px;}

#demo_error li{list-style: none; /*display: inline-block;*/}
textarea{border: none;}
button.btn, input.btn[type="submit"]{padding-left: 20px; padding-right: 20px;}

@media screen and (max-width: 1024px) {
    .navbar .brand{margin-right: 0px;}
    .navbar .nav > li > a{font-size: 18px; min-width: 125px;}
}
.faq_block{
    cursor: pointer;
}
.que{
    padding-left: 10px;
}
.ans{
    padding-left: 10px;
    width:95%;
}
.ans_block{
    display: none;
    padding-top: 10px;
    padding-left: 34px;
}
.minus_icon{
    display: none;
}
.pics{
    height: 410px;
    width: 75%;
    padding: 0;
    margin: 0;
}
.tour_detail{
    display: none;
}
.output_tour{
    width:23%;
    float:left;
    padding-left: 1%;
}
.tour_heading{
    font-weight: bold;
    font-size: 18px;
}
.tour_desc{
    text-align: left;
}
.tour_next{
    position: absolute;
    top: 150px;
    left: 65%;
    background-image: url("../images/next_tour.png");
    background-repeat: no-repeat;
    background-size:65%;
    z-index: 55;
    height: 130px;
    width: 130px;
    float:left;
    cursor: pointer;
}
.tour_prev{
    position: absolute;
    top: 150px;
    left: 1%;
    background-image: url("../images/prev_tour.png");
    background-repeat: no-repeat;
    background-size:65%;
    z-index: 55;
    height: 130px;
    width: 130px;
    float:left;
    cursor: pointer;
}
.header_li{
    width:20%;
}

.muvi_header_li{
    width:30%;
}
.hiw_top{
    width: 30%;
    padding:1%;
}
.hiw_li{
    margin-left:20px;
}
.pad10{
    padding-top:10px;
}
.bold{
    font-weight: bold;
}
.li_desc{
    padding: 2px 0px 0px 20px;
}
.dropdown-menu li.separator:before {
content: "";
display: block;
height: 1px;
background: rgba(0,0,0,0.05);
margin: 7.5px 15px;
}

.video-container iframe, .video-container object, .video-container embed {width:100%;}
.span12 .span2:first-child{margin-left: 0px;}

.features h3{margin-top: 0px; line-height: 26px;}
#map{height: 300px;}


.social a{opacity: 0.5;}
.social a:hover{opacity: 0.9;}

.muvi-social li{float: left; margin-right: 0px; list-style: none; margin-left: 5px;}
.muvi-social a{ display: block; height: 31px; width: 31px; background-image: url(../images/social-icons.png); background-repeat: no-repeat;}
.muvi-social a.fb{ background-position: -62px 0px;}
.muvi-social a.fb:hover{background-position: -62px -31px;}

.muvi-social a.ln{ background-position: 0px 0px;}
.muvi-social a.ln:hover{background-position: 0px -31px;}

.muvi-social a.tw{ background-position: -31px 0px;}
.muvi-social a.tw:hover{background-position: -31px -31px;}

.muvi-social a.gp{ background-position: -93px 0px;}
.muvi-social a.gp:hover{background-position: -93px -31px;}

#contact-form input[type="text"]{width: 222px;}
#contact-form textarea{width: 93%;}


#contact-form textarea{height: 174px;}
.market-from input[type=text], .market-from input[type=email]{ width: 95%;}
.market-from label{display: block !important;}
.contact_us p#errors{ margin: 0px;}

#contact-form input[type=text]{border:0px; width: 85%;}
.border .add-on{padding-left: 8px; width: 5%;}
.tarea .icon-message{ vertical-align: top; margin-top: 15px;}

@media (min-width: 200px) and (max-width: 360px) {
    #contact-form input[type="text"]{width: 250px;}
    #contact-form textarea{width: 250px;}
}

@media (min-width: 360px) and (max-width: 1000px) {
    #contact-form input[type="text"]{width: 77%;}
    #contact-form textarea{width: 88%;}
}

@media (min-width: 1000px) and (max-width: 1200px) {
    #contact-form input[type="text"]{width: 167px;}
    #contact-form textarea{width: 399px;}
}
@media (max-width: 780px){
   .eml{margin-top: 10px;} 
}
#ForgotModal .modal-header{background: #42b7da; border-radius: 5px 5px 0px 0px; color: #FFF;}
#ForgotModal .modal-header h3{text-align: center; font-weight: 400; font-size: 32px; text-transform: uppercase; padding-top: 10px; padding-bottom: 10px;}

.btn-free-trial{ font-size: 12px; padding: 13px 30px; font-weight: normal; text-shadow: 0px !important;}
.btn{text-shadow: none !important; box-shadow:none !important;}
.btn-blue-trial{background: #1ac6ff; border-color: #1ac6ff; color: #FFF;}
.btn-blue-trial:hover{background: transparent; color: #FFF;}

.btn-how-works{color:#333; background: #FFF; border-color: #CCC;}
.btn-how-works:hover{color: #1ac6ff; background: #FFF;}

.span3.marleft0{margin-left: 0px;}

.input-nm-style{padding-right: 66px;display: inline;top:10px;position: relative; }
.clear2{height:20px;clear:both;}
.clear3{height:30px;clear:both;}
.radio-new{ font-weight:500;color:#42b7da; font-size:16px}
.divider-blue{ background:#42b7da; height:1px; width:70%; margin:40px 0px;}
.divider-blue2{ background:#42b7da; height:1px; width:100%; margin:40px 0px;}
.cyan-bold{ color:#42b7da; font-weight:500;}

.btn.btn-gray {
    background:#999;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding:10px 60px;
    text-align: center;
    text-shadow: none;
}
.btn.btn-blue {
    background:#42b7da;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding:10px 60px;
    text-align: center;
    text-shadow: none;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #42b7da;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.stage
	{
		margin-bottom:80px;
	}
.icon-num
	{
		border-radius:50%;
		background:#42b7da;
		color:#fff;
		padding:10px;
		font-weight:bold;
		text-align:center;
	}
.icon-num-select
	{
		border-radius:50%;
		background:#42b7da;
		color:#fff;
		padding:13px;
		font-weight:bold;
		text-align:center;
		margin-top:0px;
	}
.icon-blur
	{
		background:#d9f1f8;
		padding:10px;
		height:40px;
		width:40px;
		border-radius:50%;
		float:left;
		margin:-10px -10px;
	}
.text-2
	{
		font-size:20px;
		padding-top: 5px;
		margin-left:30px;
		float:left;
	}
.text-2a
	{
		font-size:20px;
		padding-top: 5px;
		margin-left:25px;
		float:left;
		font-weight:400;
		color:#42b7da;
	}
.vertical-bar
	{
		width:1px;
		background:#42b7da;
		position:absolute;
		float:left;
		height:600px;
		margin-left:16px;
		z-index:-999;
		margin-top:-30px;
	}
.free-trial-list
	{
		margin-top:20px;
		margin-buttom:40px;
	}
.free-trial-list ul
	{

	}
.free-trial-list ul li
	{
		margin-bottom:10px;
	}
.pricing-list
	{
		margin-top:20px;
		margin-buttom:40px;
	}
.pricing-list ul
	{

	}
.pricing-list ul li
	{
		margin-bottom:10px;
		list-style-image:url(../images/tick.png);
	}
.comment-box
	{
		padding:25px;
		border:1px #42b7da solid;
		border-radius:20px;
		width:70%;
		margin-left:5%;
	}
.traingle-icon
	{
		background:url(../images/triangle-icon.png);
		width:43px;
		height:31px;
		position:absolute;
		margin-top:25px;
		float:right;
		margin-left:60px;
	}

.comment-box2
	{
		padding:50px 25px 50px;
		border:1px #42b7da solid;
		border-radius:13px;
		width:80%;
		background:#42b7da;
	}
.traingle-icon2
	{
		background:url(../images/right-arrow-icon.png);
		width:21px;
		height:49px;
		position:relative;
		float:right;
		margin-right:-46px;
		margin-top:-26%;
	}
.comment-box2-text
	{
		font-size:16px;
		color:#fff;
		font-weight:500;
		text-align:center;
		vertical-align:middle;
		padding-top:10%;
	}
.big-text
	{
		font-size:100px;
		color:#fff;
		font-weight:400;
		text-align:center;
		vertical-align:middle;
		padding-top:10%;
	}
.home-page-customers-text li {
    display: inline-block;
    padding: 0 8px;
    text-align: center;
	width: 130px;
}
.bluebg
{
	background: #e7f9fe;
	margin-bottom:-39px;
}
.home-page-customers2 li{ display: inline-block; text-align: center; padding: 0px 3%;}

.table {
    background:#fff;
}
.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #fff;
}
.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #15b0e2 #15b0e2 #15b0e2 -moz-use-text-color;
    border-image: none;
    border-radius: 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #15b0e2;
}
.table th, .table td {
    border-top: 1px solid #15b0e2;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.grylightbg {
    background: url("../images/divider.png") no-repeat scroll center top #ffffff;
}
.select{border: 1px solid #15b0e2; padding: 0px; height:40px; color:#222}
.input-nm-style2{padding-right: 30px;display: inline;top:-5px;position: relative;}
.input-nm-style2a{padding-right: 14px;display: inline;top:-5px;position: relative;}

.bold-4{ font-weight:400; color:#6b6b7d}
.text-mid{font-size: 22px;
    padding-top: 10px;}

dt { float: left; padding: 4px; }

.bar {
margin-bottom: 10px;
margin-top:-15px;
color: #fff;
height:40px;
text-align: center;
background: -webkit-gradient(linear, left top, left bottom, from(#dfe5e8), to(#dfe5e8));
background-color: #dfe5e8;
-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-animation-name:bar;
-webkit-animation-duration:0.5s;
-webkit-animation-iteration-count:1;
-webkit-animation-timing-function:ease-out;

-moz-box-shadow: 0px 5px #f0f3f4;
-webkit-box-shadow: 0px 5px #f0f3f4;
box-shadow: 0px 5px #f0f3f4;
}

.bar-blue {
margin-bottom: 10px;
margin-top:-15px;
color: #fff;
height:40px;
text-align: center;
background: -webkit-gradient(linear, left top, left bottom, from(#42b7da), to(#42b7da));
background-color: #42b7da;
-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-animation-name:bar;
-webkit-animation-duration:0.5s;
-webkit-animation-iteration-count:1;
-webkit-animation-timing-function:ease-out;

-moz-box-shadow: 0px 5px #d9f1f8;
-webkit-box-shadow: 0px 5px #d9f1f8;
box-shadow: 0px 5px #d9f1f8;
}

.bar-green {
margin-bottom: 10px;
margin-top:-15px;
color: #fff;
height:40px;
text-align: center;
background: -webkit-gradient(linear, left top, left bottom, from(#42b7da), to(#42b7da));
background-color: #008000;
-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-animation-name:bar;
-webkit-animation-duration:0.5s;
-webkit-animation-iteration-count:1;
-webkit-animation-timing-function:ease-out;

-moz-box-shadow: 0px 5px #AAB9AA;
-webkit-box-shadow: 0px 5px #AAB9AA;
box-shadow: 0px 5px #AAB9AA;
}

#data-one { -webkit-animation-name:bar-one; }
#data-two { -webkit-animation-name:bar-two; }
#data-three { -webkit-animation-name:bar-three; }
#data-four { -webkit-animation-name:bar-four; }

@-webkit-keyframes bar-one {
0% { width:0%; }
100% { width:60%; }
}

@-webkit-keyframes bar-two {
0% { width:0%; }
100% { width:80%; }
}

@-webkit-keyframes bar-three {
0% { width:0%; }
100% { width:64%; }
}

@-webkit-keyframes bar-four {
0% { width:0%; }
100% { width:97%; }
}

@media screen and (max-width: 780px){
   .input-nm-style{padding-right: 66px;display: inline;top:-5px; position: relative; }
}

@media screen and (max-width: 768px){
   .bold-4{ margin-top:200px}
}
.footer-above{margin-top: 30px;}
textarea#message{border:0px !important;}

.sidebar-module-inset{background:#42B7DA; color: #FFF; padding:10px 20px; border-radius:4px; font-weight:bold}
.sidebar-module-inset button{font-size:20px; font-weight: bold;}

.martop20{margin-top: 20px;}
.ls-head{
		background: rgba(0, 0, 0, 0) url("../images/h2-bg.png") no-repeat scroll center bottom;
		color: #42b7da;
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 25px;
		padding-bottom: 25px;
		text-align: center;
		width: 100%;
	}
	.radio-inline{
		display: inline-block;
		padding-left: 20px;
		margin-bottom: 0;
		font-weight: 400;
		vertical-align: middle;
		cursor: pointer;
	}
        
@media screen and (max-width: 980px){
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a{color: #FFF;}
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{color: #02a2d4;}   
}   
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    margin-bottom: 7px !important;
    width: auto;
}
 
@media screen and (max-width: 800px){
    .nav-collapse .dropdown-menu a{color: #FFF;}
    .wrapper p{ padding: 10px}
    .container{padding: 10px}
} 
@media screen and (max-width: 480px){
  h2.btm-bdr, h1.btm-bdr {
    background: rgba(0, 0, 0, 0) url("../images/h2-bg.png") no-repeat scroll center bottom;
    color: #42b7da;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -55px;
    padding-bottom: 10px;
    text-align: center;
    line-height:1.3;
}
}

@media screen and (min-width: 1200px){
   
.btn-free-trial {
    font-size: 22px;
}           
} 
@media (max-width: 1200px) and (min-width: 700px) {
   
.btn-free-trial {
    font-size: 20px;
    padding: 15px 25px !important;
}          
}

@media (max-width: 1024px) and (min-width: 300px) {
    .btn-free-trial{ font-size: 14px;}
}
[class^="icon-"], [class*=" icon-"]{vertical-align: middle; font-size: 18pt !important;}

#howItWorks .wrapper{margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;}
body.login{background:none !important;}