<div class="single-product-area forget">
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{$this->Language['forgot_pwd']}</h3>
                <h4 class=""></h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="{$this->siteurl}">{$this->Language['shop']}</a>
                </li>
                <li>/</li>
                <li>
                    <a href="{$this->siteurl}/shop">{$this->Language['product_list']}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row"> 
            <div class="col-md-6">
                <h2 class="login-title">{$this->Language['forgot_pwd']}</h2>

                <div class="form-signin">
                    <form name="frmRP" id="frmRP" method="post" action="javascript:void(0);">
						<input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                        <div class="form-group ">
                            <label class="control-label required" for="login_email">{$this->Language['text_email_for_password_reset']}</label>
                            <div class="controls">
                                <input type="text" name="email" id="reset_email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" />
                            </div>
                        </div>   
                        <div class="loader" id="loader" style="display: none;left:500px;text-align:center;">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ></i>
                            <span class="sr-only">{$this->Language['loading']}</span>
                        </div>
                        <div class="clear"></div>
                        <div class="form-group ">
                            <div class="controls">
                                <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" name="login_submit" id="login-btn">{$this->Language['btn_submit']}</button>
                                <div style="float: right; margin-top: 10px;">{$this->Language['remember_password']}? <a class="link txt-right" href="{$this->siteurl}/user/login">{$this->Language['login_here']}</a></div>
                            </div>
                        </div>
                        <div id="reset-errors" class="error center"></div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>