<div class="single-product-area login-form">
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{$this->Language['user_login_profile']}</h3>
                <h4 class=""></h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="{$this->siteurl}">{$this->Language['shop']}</a>
                </li>
                <li>/</li>
                <li>
                    <a href="{$this->siteurl}/shop">{$this->Language['product_list']}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset3">
                <h3 class="c-font-uppercase c-font-bold">{$this->Language['login']}</h3>
                <p class="help-block">  {$this->Language['have_account']} {$this->Language['enter_email_password_to_login']}</p>
                <form name="login_form" id="login_form" method="post" action="javascript:void(0);">
					<input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                    <h4>{$this->Language['already_registered']}</h4>
                    <div id="login_errors" class="error center"></div>
                    <div class="loader" id="login_loading" style="display:none;left:50px;text-align: center;">
                        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" ></i>
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label"  for="username">{$this->Language['text_email']}</label>

                        <div class="controls">

                            <input type="email" required name="LoginForm[email]" id="username" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off"  class="form-control c-square c-theme" value="" />
                        </div>
                    </div>
                    
                    <div class="form-group ">

                        <label class="control-label" for="password">{$this->Language['text_password']}</label>
                        <div class="controls">
                            <input type="password" required name="LoginForm[password]" id="password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control c-square c-theme"/>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="controls">
                            <div class="c-checkbox">
                                <input name="LoginForm[rememberMe]" id="LoginForm_rememberMe" value="1" type="checkbox" class="c-check" value="1">
                                <label for="LoginForm_rememberMe">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span> &nbsp;{$this->Language['rememberme']}</label>
                            </div>  
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="form-group ">
                        <div class="form-group" role="group">
                            <button type="submit" class="btn btn-lg c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" name="login_submit" id="login-btn">{$this->Language['btn_login']}</button>
                            <div style="float: right; margin-top: 10px;"><a class="link txt-right" href="{$this->siteurl}/user/forgot">{$this->Language['forgot_password']}</a></div>
                        </div>
                    </div>                    
                </form>                 
            </div>        
        </div>
    </div>
</div>