<div class="single-product-area">

    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{$this->Language['register_step']}</h3>
                <h4 class=""></h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="{$this->siteurl}">{$this->Language['shop']}</a>
                </li>
                <li>/</li>
                <li>
                    <a href="{$this->siteurl}/shop">{$this->Language['product_list']}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <h2 class="c-font-uppercase c-font-bold" >{$this->Language['create_account_now']}</h2> 
            <form id="membership_form" name="membership_form" method="POST" class="form-horizontal" action="javascript:void(0);">
				<input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                <div id="loading" class="loader"></div>
                <div id="errors" class="error center"></div>  

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">{$this->Language['text_name']}</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" autocomplete="off" placeholder="{$this->Language['text_name']}" id="name" name="data[name]" required />
                    </div>

                    <label for="email" class="col-sm-2 control-label">{$this->Language['email']}</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['email']}" id="email_address" name="data[email]" required />
                    </div>                    
                </div>   

                <div class="form-group">
                    <label for="join_password" class="col-sm-2 control-label">{$this->Language['text_password_placeholder']}</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['text_password_placeholder']}" id="join_password" name="data[password]" required />
                    </div>

                    <label for="confirm_password" class="col-sm-2 control-label">{$this->Language['confirm_password']}</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['confirm_password']}" id="confirm_password" name="data[confirm_password]" required />
                    </div>                    
                </div>                          

                <div class="top20"></div>
                <div class="form-group ">
                    <div class="col-sm-12">
                        <label > 
                            <input name="data[subscribe_newsletter]" value="1" checked="checked" type="checkbox"> &nbsp;{$this->Language['subscribe_to_announcement']}</label>  
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                        <div class="c-checkbox c-toggle-hide" data-object-selector="c-account" data-animation-speed="600">
                            <input type="checkbox" id="checkbox1-77" class="c-check">
                            <label for="checkbox1-77">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                {$this->Language['chk_over_18']} <a class="link linkcol" href="{$this->siteurl}/page/terms-privacy-policy" target="_blank">{$this->Language['terms']}</a>
                            </label>
                        </div>
                    </div>
                    <label id="data[over_18]-error" class="error" for="data[over_18]" style="display: none;"></label>
                </div>            

                <div class="clear"></div><br>
                <div class="form-group ">
                    <div class="controls">
                        <div class="pull-left col-sm-2">
                            <button id="register_membership" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login" onclick="validateSignupStep1Form();">{$this->Language['btn_register']}</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>                   

                <span class="error" id="plan_error"></span>     
            </form> 
            </div>
        </div> 
    </div>
</div>


<script type="text/javascript">
    var action = 'saveuser';
    var btn = 'Register';
</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>