<div class="c-layout-page">
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
           <div class="row">
         <div class="col-lg-12 top20"><h2 class="">{$this->Language['shopping_cart']}</h2></div>
         </div>
        </div>
    </div>
    <div class="container" style="padding: 20px;">
        <h3>{$this->Language['order_placed']}</h3>
        <p>{$this->Language['order_processed']}</p>

        <div class="pull-right"><a class="btn btn-primary" href="{Yii::app()->getBaseUrl(true)}/shop">{$this->Language['continue_shopping']}</a></div>
    </div>
</div>