.loader{
	position: absolute; 
	width: 100%; 
	height: 48%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	display: none; 
	background: url('../images/loader.gif') no-repeat center;
	z-index: 100;
	background-size:9%;
}

#main-top-menu{
	list-style: outside none none;
	padding-left: 0;
}
#main-top-menu li.active a{
	color: #953f32;
	text-decoration: underline;
}
.reactivate_title{
	border-radius: 8px;
	margin-bottom: 0;
	padding: 20px 25px;
	background-color: #11151d;
	border: 1px solid #1a1f2b;
	color: #aaa2a3;
}
.modal-background{
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
	-ms-filter: blur(8px);
	filter: blur(8px);
	filter: url("svg/blur".svg#blur);
	filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='4');
}
@supports (-ms-accelerator:true) {
	.modal-background {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
        filter: url("svg/blur".svg#blur);
        filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='0');
    }
}
.text-caps {
	text-transform: capitalize;
}
.modal-header{
	border-bottom: none;
	padding:0;
}
#cancel_now {
	margin-top: 2% !important;
}
.padding40{
	padding-left: 40px;
	padding-right:40px;
}
.loader-player,
.loader-player:after {
	border-radius: 50%;
	width: 6em;
	height: 6em;
}
.loader-player {
	margin: 77px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(207,85,64, 0.2);
	border-right: 1.1em solid rgba(207,85,64, 0.2);
	border-bottom: 1.1em solid rgba(207,85,64, 0.2);
	border-left: 1.1em solid #cf5540;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load1 1.1s infinite linear;
	animation: load1 1.1s infinite linear;
	border-width: 5px !important;
	overflow: hidden;
}
@-webkit-keyframes load1 {
	0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
	}
	100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
	}
}
@keyframes load1 {
	0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
	}
	100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
	}
}
.load-container , .load-episode ,.load-favourite{
	position: absolute; 
	width: 100%; 
	height: 48%;
	top: 34%;
	bottom: 0px;
	left: 0px;
	display: none; 
	z-index: 100;
	background-size:9%;
}

.c-white{
	color: #aaa2a3;
}
.ap{
	display: none;
}
.card figure a > img {
	border-radius: 8px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.13);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;}
.loader_episode{
    top : 60%;
}
.load-favourite{
	top:30%;
}
#success_message{
	border-radius: 8px;
	margin-bottom: 0;
	padding: 20px 25px;
	background-color: #11151d;
	border: 1px solid #1a1f2b;
	color: #aaa2a3;
}
@supports (-ms-ime-align:auto) {
	.audioPlay {
		transition:0 !important;
	}

}
a:focus {
    outline: 0;
}
.if-contentBanner img {
	margin: 4% 0 0 0;
	filter: blur(1px);
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
}
.modal button.close {
	padding: 19px 30px 0 0 !important;
}
@media (min-width:768px) and (max-width:1400px){
	.modal{
		overflow: hidden !important;
	}
}
.fill-header::after {
	background-color: rgba(17, 21, 29, 0.71) !important;
}
label.error , .error-text{
	color:#8d2629;
}
.card:hover a {
	color: #953f32;
}
thead tr th{
	text-transform: uppercase;
}
.left5{
	margin-left:-5px;
}
.avater-alert .close {
    margin-left: 8%;
    margin-top: 4%;
}

.alert-danger{
    color:#8d2629 !important;
}
.close{
    color:#ffffff !important;
}
.left-5{
	margin-left:5px;
}
@media(max-width:400px){
	.addfav.top10{
		margin-top:10px;
	}
}
@media(max-width:320px){
	.avater-alert .close {
		margin-left: 8%;
		margin-top:26%;
	}
}
@media(min-width:360px) and (max-width : 420px){
    .avater-alert .close {
		margin-left: 8%;
		margin-top:16%;
	}
}
@media(max-width:360px){
	.top10{
		margin-top:10px;
	}

}
@media(min-width: 500px) and (max-width : 800px){
    .avater-alert .close {
		margin-left: 9%;
		margin-top:7%;
	}
}
.ui-widget-content{
    list-style: outside none none ;
}


.modal .meta-info {
    text-transform: capitalize;
}
@media (max-width : 430px){
    .avatar-upload input{
		margin-left:0px !important;
		margin-top: 5%;
	}
	.avatar-body{
		padding-left:0px !important;
	}
	.icon-menu{
	text-align : center ;
}
}
.top-12{
    margin-top:12px;
}
/*Added by Sanjaya for Fav.*/
@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?29434485');
	src: url('../fonts/fontello.eot?29434485#iefix') format('embedded-opentype'),
		url('../fonts/fontello.woff?29434485') format('woff'),
		url('../fonts/fontello.ttf?29434485') format('truetype'),
		url('../fonts/fontello.svg?29434485#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
.demo-icon
{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.col-fluid{
	position: relative;
}
.deleteFav {
	background: #fff;
	color: #f00;
	position: absolute;
	right: 25px;
	top: 10px;
	padding: 5px 10px;
	border-radius: 4px;
	z-index: 99;
}
/*Added by Sanjaya for Fav.*/
.right-grid{
	width : 80px;
}
.middle-grid {
	width: calc(100% - 140px);
}
.right-grid span {
	display: inline-block;
}

.right-grid .dot-menu img {
    height: 21px;
}
.dot-menu{
	position : absolute;
	z-index: 10;
	right : 2%;
	top :37%;
}
.dropup .dropdown-menu:before{
	content:initial;
}
.dropup .dropdown-menu:after{
	content: "";
	position: absolute;
	top: initial;
	right: 7px;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 8px solid transparent;
	bottom: -7px;
	border-top: 8px solid #1a1f2b;
}

.dropup .dropdown-menu > li > a{
	color: rgba(255, 255, 255, 0.4) ;
}

.dropdown-menu > li > a:hover {
	color: #953f32 !important;
}

.img-playlist {
	height: 23px;
}
.playlist-track,.playlist-song{
	border-left: 1px solid #1a1f2b;
	border-right: 1px solid #1a1f2b;
	padding :24px;
}
.playlist-song{
	border-top: 1px solid #1a1f2b;
	border-bottom: 1px solid #1a1f2b;
}
.img-add,.img-del,.img-min,.img-edit,.img-play{
	height : 19px;
}

.current{
	display : none;
}
.play-list{
	border : 1px solid #1a1f2b;
	padding : 20px;
}
.playlist .playlist-track{
	padding : 17px;
}
.m-t-5{
	margin-top : 5%;
}
.queue_playlist{
	position : fixed;
	right : 0;
	top :50%;
	background: #12171f none repeat scroll 0 0;
}
.queue-list{
	font-size: 14px;
	height: 100%;
	right: -220px;
	padding: 35px 0 50px;
	position: fixed;
	text-transform: uppercase;
	transition: all 300ms ease 0s;
	width: 220px;
	z-index: 1000;
}
.queue-visible{
	right :0;
}

.user_playlist{
	height : 200px;
}
.playslist_user span{
	display : inline-block;
}
.clear-bottom{
	margin-bottom : 30px;
	font-size  : 11px;
}
.col-fluid{
	margin-bottom : 15px;
}
.music{
	display : none;
}
.pl_play .music{
	display : block;
}
.ellipse__shape:hover,.ellipse__shape.share:hover {
    width: 85%;
}
.share__this .fa{
	color : rgba(255,255,255,0.65);
}
.playlist__share{
	top : 10px;
}
.queueListing{
max-height : 350px;
}
.top-22{
	margin-top : -22px;
}
.icon-menu{
	text-align : right ;
}
.wrap{
	 overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c-white:hover {
	color:#aaa2a3;
}
a:focus,a:hover,a:visited{
	color: #aaa2a3 !important;
}

@media(max-width : 361px){
	.playslist_user span{
		font-size : 12px;
	}
.collapse_list.in{

	display : inline-block;
}
.queueListing{
	max-height: 200px;
}
}
.as-btn-more {
    margin-top: 3%;
    text-align: center;
}
.load-episode.load1.loader_more {
    top: -84px;
}
#deletePlaylist .modal-footer{
	border : none;
}	
.dropdown-menu > li > a {
    color: #aaa2a3;
}
.modal-content{
	margin-top : 7%;
}
.volume.playlist{
	overflow : hidden;
}
.download_btn{
margin-top:10px;
}
/*.pl-container {
    background: #12171f none repeat scroll 0 0;
    bottom: 25%;
    display: block;
    overflow: auto;
    position: fixed;
    right: 0;
    width: 500px;
    z-index: 77777;
}
	.pl-ul {
    max-width: 100%;
    padding: 20px 0;
}*/

.btn-primary{ 
 background: #953f32 none repeat scroll 0 0;
    border-color: #953f32;
 height: 40px;
    min-width: 179px;
    padding: 8px 12px;}
.btn-flat,.btn-info:hover,.btn-flat:hover{
background: #953f32 none repeat scroll 0 0;
    border-color: #953f32;
}
