.has-player {
    padding-bottom: 87px;
}

.ap {
    -moz-user-select: none;
    background: #12171f;
    border-top: 0px solid #ccc;
    bottom: 0;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    font-size: 14px;
    height: 87px;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 99999;
}

.ap__item--track {
    flex-direction: column;
}

.play-section {
    display: flex;
}
.ap__item.ap__item--track {
    border-left: 1px solid #1c2430;
    border-right: 1px solid #1c2430;
}

.ap__inner {
    margin: 15px auto 10px;
    max-width: 100%;
    height: 60px;
}
button{
    width: 60px;
    height: 60px
}
/*Album Art*/
.art{
    width:100%;
}
.art .card{
    position: absolute;
    left: 20px;
}
.art-desc{
    padding-right: 20px;
}
.art-desc h6{
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
}
.art-desc h6,.art-desc p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.art .card figure>img,.art .card figure{
    border-radius: 4px;
}
/*Track*/
.track__time {
    left: 0;
    top: -7px;
    width: 100%;
}
.track__time--duration {
    position: absolute;
    right: -50px;
}

.track__time--current {
    left: -50px;
    position: absolute;
}

.progress-container {
    margin-top: 0px;
    overflow: visible;
    padding: 2px 0;
}

.progress__bar::after {
    background: #b64b38;
}

.progress__bar {
    background: #b64b38;
}

.progress__preload {
    background: #7e7c8a;
}

.track {
    padding: 0px 18%;
}

.progress__bar,
.progress__preload {
    height: 2px;
}

.progress__bar,
.progress__preload {
    height: 1px;
}

.progress {
    border-radius: 0;
    height: 1px;
    margin-bottom: 7px;
}
.progress__bar:after{
    top:-1px;
    background: #12171f;
    border: 2px solid #b64b38;
}
.is-active .progress__bar:after{
    opacity: 1;
}
.volume {
    background: #1a1f2b;
    border: 0 solid #ccc;
    border-color: #1a1f2b transparent transparent;
}
.volume {
    background: #1a1f2b;
    border: 0 solid #ccc;
    border-color: #1a1f2b transparent transparent;
	background: rgba(34,46,55,1);
	background: -moz-linear-gradient(top, rgba(34,46,55,1) 0%, rgba(34,46,55,1) 21%, rgba(26,31,43,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,46,55,1)), color-stop(21%, rgba(34,46,55,1)), color-stop(100%, rgba(26,31,43,1)));
	background: -webkit-linear-gradient(top, rgba(34,46,55,1) 0%, rgba(34,46,55,1) 21%, rgba(26,31,43,1) 100%);
	background: -o-linear-gradient(top, rgba(34,46,55,1) 0%, rgba(34,46,55,1) 21%, rgba(26,31,43,1) 100%);
	background: -ms-linear-gradient(top, rgba(34,46,55,1) 0%, rgba(34,46,55,1) 21%, rgba(26,31,43,1) 100%);
	background: linear-gradient(to bottom, rgba(34,46,55,1) 0%, rgba(34,46,55,1) 21%, rgba(26,31,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222e37', endColorstr='#1a1f2b', GradientType=0 );
	box-shadow:1px 2px 4px #0d111a;
}

.volume::before,
.volume::after {
    border-color: #1a1f2b transparent transparent;
}

.volume__bar {
    background: #b64a38;
}

.volume__track {
    background: #7e7c8a;
    width: 2px;
}

.pause-btn {
    display: none;
}

.is-playing .pause-btn {
    display: block;
}

.volume.shareicon {
    float: left;
    height: 113px;
    margin-left: -168px;
    padding: 20px 18px 10px;
    text-align: left;
    width: 175px;
}

.volume.shareicon::before,
.volume.shareicon::after {
    border-image: none;
    border-style: solid;
    border-width: 7px;
    bottom: -12px;
    content: "";
    margin-left: 65px;
    position: absolute;
    right: 5%;
}

.volume.playlist {
    float: left;
    height: auto;
    margin-left: -440px;
    padding: 20px 5px 18px 10px;
    text-align: left;
    width:480px;
	overflow-y:hidden;
}

.volume.playlist::before,
.volume.playlist::after {
    border-image: none;
    border-style: solid;
    border-width: 7px;
    bottom: -12px;
    content: "";
    margin-left:193px;
    position: absolute;
    right: 5%;
	width:16px;
}
.modal-player {position: relative;max-height:450px;overflow:auto;}
.st2 {
    fill: #7e7c8a;
}
.ap__controls--repeat{
    display: none !important;
}
@media (max-width: 1024px){
    .ap__item > .ap__controls {
        -webkit-box-flex: 0;
        -webkit-flex: 0 25%;
        -ms-flex: 0 25%;
        flex: 0 25%;
    }
}
@media (min-width:992px){
    .ap__item.ap__item--playback {
        -webkit-box-flex: 1.9;
        flex: 1.9;
        overflow: hidden;
    }

    .ap__item.ap__item--track {
        -webkit-box-flex: 4.5;
        flex: 4.5;
    }
    .ap__item--settings{
        -webkit-box-flex: 1.4;
        flex: 1.4;
    }
    .art .card {
        width:85px;
        top:-10px;
    }
    .art-desc{
        padding-left: 120px;
    }
    .progress {
        background: #7e7c8a none repeat scroll 0 0;
    }
}
@media (max-width:991px){
    .has-player {
        padding-bottom: 69px;
    }
    .ap__item.ap__item--playback {
        -webkit-box-flex: 1.5;
        flex: 1.5;
        overflow: hidden;
    }

    .ap__item.ap__item--track {
        -webkit-box-flex: 2;
        flex:2;
    }
    .ap__item--settings{
        -webkit-box-flex: 1.2;
        flex: 1.2;
    }
    .art .card {
        width: 60px;
        top: 15px;
    }
    .art-desc{
        padding-left: 95px;
        margin-top: 15px;
    }
    .track{
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
    }
    .progress {
        background: #242a33 none repeat scroll 0 0;
    }
}

@media (max-width: 767px) {
    .ap__item.ap__item--playback{
        -webkit-box-flex: 4.8;
        flex: 4.8;
    }
    .ap__item.ap__item--track{
        border: 0;
        align-items: flex-end;
    }
    .art .card {
        top: 7px;
        left: 15px;
    }
    .ap {
        height: 70px;
    }
    .ap__item.ap__item--settings {
        margin-top: -40px;
        display: none;
    }
    .play-section {
       position: relative;
       top: 5px;
    }
    .ap__controls.ap__controls--prev,
    .ap__controls.ap__controls--next {
        display: none;
    }
    .ap__inner {
        margin: 5px auto 5px;
    }
	.music {
    width:44px;
}
.media-heading {
    font-size: 16px;
    padding: 14px 0 0 40px;
}
	
}
@media (max-width:736px){
.ap__item.ap__item--settings
{
	display:flex!important;
	margin-top:0px!important;
}
.volume-btn {
    display: none!important;
}
.ap__item--track {
    order: 2;
}
.volume.shareicon {
   display:none!important;
}
.dn
{
	display:none!important;
}
.ap__item.ap__item--playback {
    -moz-box-flex: 3.2!important;
    flex: 3.2 1 0!important;
}

.volume.playlist {
    height: 263px;
    margin-left: -394px;
    overflow: auto;
    width:700px;
	overflow-y:hidden;
}
.modal-body {position: relative;max-height:230px;overflow:auto;}
.dropdown-toggle5 > img {
    position: absolute;
    right: 0;
	top:10px!important;
}
.dropdown-toggle1 > img {
    position: absolute;
    right: 0;
	top:-7px;
}
.dropdown-menu-visible-xs {
    margin: 24px 0 0;
}
.navbar-nav .open .dropdown-menu {
    background-color: #1a1f2b;
}
.dropdown.open {
    margin-top: 16px;
}
.navbar-nav .open .dropdown-menu {
    margin-top:18px;
}
.dropdown-menu1::before, .dropdown-menu1-visible-xs::before {
    top:11px!important;
}
button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:0px;
}
.dropdown-menu {
    padding: 8px 0px;
}

}
@media (max-width:732px){
.ap__item.ap__item--settings
{
	display:flex!important;
	margin-top:0px!important;
}
.volume-btn {
    display: none!important;
}
.ap__item--track {
    order: 2;
}
.volume.shareicon {
   display:none!important;
}
.dn
{
	display:none!important;
}
.ap__item.ap__item--playback {
    -moz-box-flex: 3.2!important;
    flex: 3.2 1 0!important;
}
.volume.playlist {
    height: 263px;
    margin-left: -360px;
    overflow: auto;
    width:640px;
}
.dropdown-toggle5 > img {
    position: absolute;
    right: 0;
	top:10px!important;
}
.dropdown-toggle1 > img {
    position: absolute;
    right: 0;
	top:-7px;
}
.dropdown-menu-visible-xs {
    margin: 24px 0 0;
}
.navbar-nav .open .dropdown-menu {
    background-color: #1a1f2b;
}
.dropdown.open {
    margin-top: 16px;
}
.navbar-nav .open .dropdown-menu {
    margin-top:18px;
}
.volume::before, .volume::after {
    display: none;
}
.dropdown-menu1::before .dropdown-menu-visible-xs::before {
    top: 29px;
}
.dropdown-menu1::before, .dropdown-menu1-visible-xs::before {
    top:11px!important;
}
button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:0px;
}
.dropdown-menu {
    padding: 8px 0px;
}
}
@media (max-width:667px){
  .volume.playlist {
    margin-left: -348px;
    width:620px;
}
button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:0px;
}

}
@media (max-width:640px){
.ap__item.ap__item--settings
{
	display:flex!important;
	margin-top:0px!important;
}
.volume-btn {
    display: none!important;
}
.ap__item--track {
    order: 2;
}
.volume.shareicon {
   display:none!important;
}
.dn
{
	display:none!important;
}
.ap__item.ap__item--playback {
    -moz-box-flex: 3.2!important;
    flex: 3.2 1 0!important;
}
.volume.playlist {
    height: 263px;
    margin-left: -334px;
    overflow: auto;
    width: 598px;
	overflow-y:hidden;
}
.dropdown-toggle5 > img {
    position: absolute;
    right: 0;
	top:10px!important;
}
.dropdown-toggle1 > img {
    position: absolute;
    right: 0;
	top:-7px;
}
.dropdown-menu-visible-xs {
    margin: 24px 0 0;
}
.navbar-nav .open .dropdown-menu {
    background-color: #1a1f2b;
}
.dropdown.open {
    margin-top: 16px;
}
.navbar-nav .open .dropdown-menu {
    margin-top:18px;
}
.volume::before, .volume::after {
    display: none;
}
.dropdown-menu1::before .dropdown-menu-visible-xs::before {
    top:29px;
}
.dropdown-menu1::before, .dropdown-menu1-visible-xs::before {
    top:11px!important;
}
button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:0px;
}
.dropdown-menu {
    padding: 8px 0px;
}
}

@media (max-width:600px){
.volume.playlist {
    margin-left: -312px;
    width: 554px;
}
}

@media (max-width:580px){
    .ap__item--playback, .ap__item--settings{
        -webkit-box-ordinal-group: 1;
        -webkit-order: 1;
        order:1;
    }
}
@media (max-width: 568px) {
	.volume.playlist {
    margin-left: -280px;
    width: 500px;
}
.media-list {
    width:100%;
}

}
@media (max-width:480px){

.volume.playlist {
    margin-left: -240px;
    width: 438px;
}
.media-list {
    width:100%;
}
button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:6px;
}
.music {
    width: 40px;
}
.media-heading {
    font-size: 15px;
    padding: 14px 0 0 40px;
}
}
@media (max-width:414px){
  .volume.playlist {
    margin-left: -205px;
    width: 380px;
}
.media-list {
    width: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.as-btn-grey {
    margin-right:0px;
}
.as-btn-md {
    min-width: 100%;
    padding: 8px 17px;
    margin-bottom: 10px;
}

}
@media (max-width:412px){
  .volume.playlist {
    margin-left: -205px;
    width: 380px;
}
}
@media (max-width:375px){
  .volume.playlist {
    margin-left: -182px;
    width: 340px;
}
button {
    width: 46px;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:0px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 11px;
}
.music {

    width: 36px;
}
.media-heading {
    font-size: 14px;
    padding: 14px 0 0 40px;
}
}

@media (max-width:360px){

.volume.playlist {
    margin-left: -170px;
    width:320px;
}
.media-list {
    width:100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.as-btn-grey {
    margin-right:0px;
}
.as-btn-md {
    min-width: 100%;
    padding: 8px 17px;
    margin-bottom: 10px;
}
}

@media (max-width:320px){

.volume.playlist {
    margin-left: -150px;
    width:290px;
}
.media-list {
    width:100%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ap__item > .ap__controls {
    flex:0px;
}
.play-section {
    top:6px;
}
.dropdown-menu1::before, .dropdown-menu1-visible-xs::before {
    top:11px!important;
}
button {
    width: 46px;
}

}
