{$content = $item|json_decode}


<div class="container">
    <div class="wrapper">
        <div class="row top20">
            <div class="col-md-12">
                <div class=" title1">{$content->name}</div>
            </div>
<div class="row">
            {if $celebrity_image !=''}
            <div class="col-md-2 col-xs-12">
                <img src="{$celebrity_image}" alt="{$content->name}" title="{$content->name}" class="star_image img-responsive" align="left" />
            </div>
            {/if}
            <div class="col-md-10 col-xs-12">
                    <div class="star_summary">{$content->summary|utf8_decode}</div>
                    <br /><br />
                
            </div>
          </div>
        </div>
          <div class="row">
<div class="col-md-12">
 <div class="title1">{$this->Language['cast_details']}</div>
 <div class="list_page">
<div class="row top10 ">
            {include file='../layouts/castitem.html'}
</div>
 </div>
</div>
        </div> 
    </div>
</div>