<style type="text/css">
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
    -moz-animation: spin .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
</style>
<script src="{$this->siteurl}{$Yii->theme->baseUrl}/js/search.js"></script>
<div class="product-big-title-area">
    <div class="c-layout-page">
        <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
            <div class="container">
                <div class="c-page-title c-pull-left">
                    <h3 class="c-font-uppercase c-font-sbold">{$this->Language['faq']}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="container">
        <div class="search-area row">
            <div class="col-sm-6" style="margin-top:20px;">
                <div class="input-group">
                    <input type="text" name="search" id="search" placeholder="What are you searching for?"  class="form-control c-square c-theme" />
                    <span class="input-group-addon" style="border-radius:0;"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group loader" style="display:none;">
            <div class="col-md-12 text-center">
                 <i class="fa fa-spinner  fa-spin fa-2x fa-fw" ></i>
                    <span class="sr-only">{$this->Language['loding']}</span>
            </div>
        </div>
        <div class="row faq_data back">
            {foreach from=$data|json_decode item=content}
            <div class="col-md-12">
                <h3 class="heading"><a href="javascript:void(0);" class="showmore" data-id="{$content->faq_id}">{$content->title}</a></h3>
                {if $content->content_length > 500}
                <div class="short_desc">{$content->short_content}<a href="javascript:void(0);" class="showmore" data-id="{$content->faq_id}">{$this->Language['view_more']}</a></div>
                {else}
                <div class="short_desc">{$content->short_content}</div>
                {/if}
            </div>
            {/foreach}
        </div>
    </div>
</div>