<div class="content-holder audio-body">
    <section>
        <h2 class="text-left bottom15p">{$category->title|utf8_decode}</h2>
        <div class="card-gallery">
            {if $item_count > 0}
            {include file='../layouts/listitem.html'}
			{else}
            <h5>{$this->Language['no_content_added_yet']}</h5>
            {/if}
        </div>
    </section>
</div>