<div class="page-header"> 
    <!--Background Banner-->
    <div class="fill-header"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="Banner Header"> </div>
    <div class="page-title">
        <h2>{$this->Language['card_info']}</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {if $gateways|@count>0}
            <section>
                <div class="bottom20p hidden-xs"></div>
                {if isset($usersub->status) && ($usersub->status == 1) && isset($usersub->payment_status) && ($usersub->payment_status != 0)} 
                <div style="color: #F00;">
                    {$last_charge_failed} {if $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypal' && $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypalpro'}<a href="javascript:void(0)" id="pamentpayhere" onclick="payFromPrimaryCard();" style="font-weight: bold">{$this->Language['btn_paynow']}</a>{/if}
                </div>
                {/if}
                {if isset($cards) && !empty($cards)}
                {if $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypalpro'}
                <h3>{$this->Language['credit_cards']}</h3>
                {/if}
                <div class=" table-responsive">
                    {assign var=total_cards value=$cards|count}
                    <table class="table table-bordered">
                        <thead>
                            <tr><th>#</th>
                                {if isset($this->API_ADDONS_OTHERGATEWAY[$gateways->short_code]) && !empty($this->API_ADDONS_OTHERGATEWAY[$gateways->short_code])}
                                <th>{$this->Language['text_card_number_other']}</th>
                                {else}
                                <th>{$this->Language['text_card_number']}</th>
                                {/if}
                                <th class="text-center">{$this->Language['type']}</th>
                                {if $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypal' && $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypalpro'}
                                <th class="text-center">{$this->Language["action"]}</th>
                                {/if}
                            </tr>
                        </thead>
                        <tbody>
                            {foreach from=$cards key=counter item=value}
                            {assign var=ccc value=$ccc+1}

                            <tr>
                                <th scope="row">{$ccc}</th>
                                <td>{$value->card_last_fourdigit}</td>
                                <td>
                                    {$value->card_type}
                                </td>
                                {if $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypal' && $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypalpro'}
                                <td>    
                                    {if isset($user->status) && ($user->status == 1) && isset($usersub->status) && ($usersub->status == 1)}
                                    {if $total_cards == 1}
                                    {else}

                                    {if $value->is_cancelled == 0} 
                                    {else}
                                    <a href="javascript:void(0);" data-managepayment_id="{$value['id']}"   data-header="{$this->Language['delete']}" data-type="delete" onclick="showConfirmPopup(this);">
                                        {$this->Language['delete']}
                                    </a>&nbsp;&nbsp;&nbsp;
                                    <a href="javascript:void(0);" data-managepayment_id="{$value['id']}"   data-header="{$this->Language['make_primary']}" data-type="makeprimary" onclick="showConfirmPopup(this);">
                                        {$this->Language['make_primary']}
                                    </a>
                                    {/if}
                                    {/if}

                                    {else if isset($user->status) && ($user->status == 1)}
                                    <a href="javascript:void(0);" data-managepayment_id="{$value['id']}"   data-header="{$this->Language['delete']}" data-type="delete" onclick="showConfirmPopup(this);">
                                        {$this->Language['delete']}
                                    </a>
                                    {if $value->is_cancelled != 0}
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="javascript:void(0);" data-managepayment_id="{$value['id']}"   data-header="{$this->Language['make_primary']}" data-type="makeprimary" onclick="showConfirmPopup(this);">
                                        {$this->Language['make_primary']}
                                    </a>  
                                    {/if}

                                    {else if isset($user->is_deleted) && ($user->is_deleted == 1) && isset($usersub->status) && ($usersub->status == 0)}
                                    <a href="javascript:void(0);" data-managepayment_id="{$value['id']}"   data-header="{$this->Language['delete']}" data-type="delete" onclick="showConfirmPopup(this);">
                                        {$this->Language['delete']}
                                    </a>
                                    {if $value->is_cancelled != 0}
                                    &nbsp;&nbsp;&nbsp;
                                    <a href="javascript:void(0);" data-managepayment_id="{$value['id']}"   data-header="{$this->Language['make_primary']}" data-type="makeprimary" onclick="showConfirmPopup(this);">
                                        {$this->Language['make_primary']}
                                    </a>
                                    {/if}
                                    {/if}
                                </td>
                                {/if}

                            </tr>

                            {/foreach}
                        </tbody>
                    </table>
                    {/if}
                </div>


            </section>
            {if $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypal' && isset($cards) && !empty($cards) }
            <section class="p-t-0">

                <h4 class="bottom45p">
                    {if $this->PAYMENT_GATEWAY[$gateways->short_code] == 'paypalpro'}
                    {$this->Language['update_credit_debit_card']}
                    {else}
                    {$this->Language['add_credit_card']}
                    {/if}
                </h4>
                {assign 'months' ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'N0V', 'DEC']}
                <div class="col-md-7 col-lg-6">
                    <form id="membership_form" name="membership_form" method="POST" class="form-horizontal" action="javascript:void(0);" autocomplete="false" data-pjax>
                        <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                        <div id="card-info-error" class="error" style="display: none;"></div>
                        <div class="form-group">
                            <input type="text" class="form-control" autocomplete="false" placeholder="{$this->Language['text_card_name']}" id="card_name" name="data[card_name]" required />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" autocomplete="false" placeholder="{$this->Language['text_card_number']}" id="card_number" name="data[card_number]" required />
                        </div>
                        <div class="form-group bottom45p">
                            <div class="row bottom10p">
                                <div class="col-xs-4 col-md-5">
                                    <div class="select-wrapper">
                                        <select name="data[exp_month]" id="exp_month" class="form-control" required="true">
                                            <option value="">{$this->Language['select_month']}</option>	
                                            {foreach from=$months key=counter item=month}
                                            <option value="{$counter}">{$month}</option>	 
                                            {/foreach}
                                        </select> 
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-5">
                                    <div class="select-wrapper">
                                        <select name="data[exp_year]" id="exp_year" class="form-control" required="true" onchange="getMonthList();">
                                            <option value="">{$this->Language['select_year']}</option>
                                            {section name="myLoop" start=date('Y') loop=date('Y') + 20}
                                            <option value="{$smarty.section.myLoop.index}">{$smarty.section.myLoop.index}</option>
                                            {/section}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-2">
                                    <input type="password" class="form-control" autocomplete="false" placeholder="{$this->Language['cvv']}" id="security_code" name="data[security_code]" required />
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="data[payment_gateway]" id="payment_gateway" value="{$gateways->short_code}" />
                        <input type="hidden" id="email" name="data[email]" value="{if isset(Yii::app()->user->email) && trim(Yii::app()->user->email)} {Yii::app()->user->email} {/if}" />
                        <div class="form-group">
                            <button id="register_membership" name="register_membership" class="btn as-btn-accent as-btn-md" onclick="validateUserForm();">
                                {if $this->PAYMENT_GATEWAY[$gateways->short_code] == 'paypalpro'}{$this->Language['update_card']}{else}{$this->Language['save_card']}{/if}</button>
                        </div>
                    </form>
                </div>
        </div>
        </section>
        {/if}
        {else}
        <table class="table table-bordered">
            <thead>
                <tr>{if isset($this->API_ADDONS_OTHERGATEWAY[$gateways->short_code]) && !empty($this->API_ADDONS_OTHERGATEWAY[$gateways->short_code])}
                    <th>{$this->Language['text_card_number_other']}</th>
                    {else}
                    <th>{$this->Language['text_card_number']}</th>
                    {/if}
                    <th>{$this->Language['type']}</th>
                    {if $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypal' && $this->PAYMENT_GATEWAY[$gateways->short_code] != 'paypalpro'}
                    <th>{$this->Language["action"]}</th>
                    {/if}
                </tr>
            </thead>
            <tbody>
                {

                <tr>

                    <td>{$this->Language["no_card_saved"]}
                    </td>


                </tr>


            </tbody>
        </table>
        {/if}

    </div>
</div>
</div>

<div id="loadingPopup" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <div class="modal-title auth-msg">{$this->Language['auth_your_card']}</div>
                <div><img src="{Yii::app()->baseUrl}/images/payment_loading.gif" style="padding:5px;"/></div>
            </div>
        </div>
    </div>
</div>


<div id="successPopup" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {if $this->PAYMENT_GATEWAY[$gateways->short_code] == 'paypalpro'}
                <div class="modal-title auth-msg" style="color: #42B970">{$this->Language['card_updated_success']}</div>
                {else}
                <div class="modal-title auth-msg" style="color: #42B970">{$this->Language['card_saved_success']}</div>
                {/if}
            </div>
        </div>
    </div>
</div>


<div id="errorPopup" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title auth-msg" style="color: #FE2E2E">{$this->Language['unable_to_process_try_another_card']}</div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>


            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5 id="headermodal"></h5>
                    </div>
                    <div class="col-md-12">
                        <hr> 
                    </div>

                    <div class="col-md-12">
                        <form class="form-horizontal" name="paymodal" id="paymodal" method="post" autocomplete="false" data-pjax>
                            <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                            <div class="bottom10p">
                                <span id="bodymodal"></span>
                                <input type="hidden" id="id_payment" name="id_payment" value="" />
                                <input type="hidden" id="gateway_code" name="gateway_code" value="{$this->PAYMENT_GATEWAY[$gateways->short_code]}" />
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:void(0);" id="paymentbtn" class="btn as-btn-accent as-btn-md top10p">{$this->Language['yes']}</a>
                                <button class="btn as-btn-accent as-btn-md top10p" data-dismiss="modal" type="button" >{$this->Language['btn_cancel']}</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>



    {literal}
    <script type="text/javascript">
        var months = new Array('JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'N0V', 'DEC');
        var action = 'saveCard';
        var btn = "{$this->Language['save_card']}";
        $('.menu_item a').removeClass('active');
        $('.wrapper').addClass('has-not-sidebar');
        function getMonthList() {
            var d = new Date();
            var curyr = d.getFullYear();
            var selyr = parseInt($('#exp_year').val());
            var curmonth = d.getMonth() + 1;
            var sel_month = $.trim($("#exp_month").val());
            var startindex = 1;

            if (curyr === selyr) {
                startindex = curmonth;
            }

            var month_opt = '<option value="">' + JSLANGUAGE.expiry_month + '</option>';
            for (var i = startindex; i <= 12; i++) {
                var selected = '';
                if (i === parseInt(sel_month)) {
                    selected = 'selected="selected"';
                }
                month_opt += '<option value="' + i + '" ' + selected + '>' + months[i - 1] + '</option>';
            }
            $('#exp_month').html(month_opt);
        }

        function validateUserForm() {
            $('#card-info-error').hide();
            var validate = $("#membership_form").validate({
                rules: {
                    "data[card_name]": {
                        required: true
                    },
                    "data[card_number]": {
                        required: true,
                        number: true
                    },
                    "data[exp_month]": {
                        required: true
                    },
                    "data[exp_year]": {
                        required: true
                    },
                    "data[security_code]": {
                        required: true
                    }
                },
                messages: {
                    "data[card_name]": {
                        required: JSLANGUAGE.card_name_required
                    },
                    "data[card_number]": {
                        required: JSLANGUAGE.card_number_required,
                        number: JSLANGUAGE.card_number_required
                    },
                    "data[exp_month]": {
                        required: JSLANGUAGE.expiry_month_required
                    },
                    "data[exp_year]": {
                        required: JSLANGUAGE.expiry_year_required
                    },
                    "data[security_code]": {
                        required: JSLANGUAGE.security_code_required
                    }
                }
            });
            var x = validate.form();
            if (x) {
                var payment_gateway = $("#payment_gateway").val();
                var class_name = payment_gateway + '()';
                eval("var obj = new " + class_name);
                if (payment_gateway !== 'manual' && payment_gateway != 'paypalpro') {
                    obj.processCard(1);
                } else if (payment_gateway == 'paypalpro') {
                    obj.updateCard();
                }
            }
        }


        function showConfirmPopup(obj) {
            $("#paymentModal").modal('show');
            var header = $(obj).attr('data-header');
            var type = $(obj).attr('data-type');
            var header_lower = header.toLowerCase();
            $("#headermodal").text(header.charAt(0).toUpperCase() + header.slice(1) + " " + JSLANGUAGE.card + "?");
            var myString = JSLANGUAGE.action_card;
            var myString = myString.replace(/\$/g, '');
            var oldword = "action";
            var reg = new RegExp(oldword, "g");
            var header1 = myString.replace(reg, header_lower);
            $("#bodymodal").text(header1);
            $("#paymentbtn").attr('data-managepayment_id', $(obj).attr('data-managepayment_id'));

            var onclick = type + 'Card(this)';

            $("#paymentbtn").attr('data-type', type);
            $("#paymentbtn").attr('onclick', onclick).bind('click');
        }

        function makeprimaryCard(obj) {
            $("#id_payment").val($(obj).attr('data-managepayment_id'));
            var type = $(obj).attr('data-type');

            var action = HTTP_ROOT + "/user/" + type + "Card";

            $('#paymodal').attr("action", action);
            document.paymodal.submit();
        }

        function deleteCard(obj) {
            $("#id_payment").val($(obj).attr('data-managepayment_id'));

            var type = $(obj).attr('data-type');

            var action = HTTP_ROOT + "/user/" + type + "Card";

            $('#paymodal').attr("action", action);
            document.paymodal.submit();
        }

        function payFromPrimaryCard() {
            var action = HTTP_ROOT + "/user/payFromPrimaryCard?gateway_code={$this->PAYMENT_GATEWAY[$gateways->short_code]}";
            window.location.href = action;
        }

        $(document).ready(function () {
            $('input').attr('autocomplete', 'false');
            $('form').attr('autocomplete', 'false');
            $('.modal-backdrop').remove();
            $("#security_code").keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A
                                (e.keyCode == 65 && e.ctrlKey === true) ||
                                // Allow: Ctrl+C
                                        (e.keyCode == 67 && e.ctrlKey === true) ||
                                        // Allow: Ctrl+X
                                                (e.keyCode == 88 && e.ctrlKey === true) ||
                                                // Allow: home, end, left, right
                                                        (e.keyCode >= 35 && e.keyCode <= 39)) {
                                            // let it happen, don't do anything
                                            return;
                                        }
                                        // Ensure that it is a number and stop the keypress
                                        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                                            e.preventDefault();
                                        }
                                    });
                        });
    </script>
    {/literal}

    {if isset($this->PAYMENT_GATEWAY[$gateways->short_code]) && $this->PAYMENT_GATEWAY[$gateways->short_code] != 'manual'}
    <script type="text/javascript" src="{Yii::app()->baseUrl}/common/js/{$this->PAYMENT_GATEWAY[$gateways->short_code]}.js"></script>
    {/if}