<link rel="stylesheet" href="{$this->siteurl}/css/cropper.min.css" type="text/css" />
<link rel="stylesheet" href="{$this->siteurl}/css/crop-avatar.css" type="text/css" />
<script type="text/javascript" src="{$this->siteurl}/common/js/cropper.min.js"></script>
<div class="page-header"> 
    <!--Background Banner-->
    <div class="fill-header">      
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="{$user->display_name}" title="{$user->display_name}">
    </div>
    <div class="page-title">
        <h2>{$this->Language['account_detail']}</h2>
    </div>
</div>
<div class="content-holder profile_page">
    <div id="crop-avatar">
        <section class="p-t-0">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <div class="card user-profile"> 
                        <figure> <img  src="{$user_picture}" alt="{$user->display_name}" title="{$user->display_name}" class="profile-picture">
                            <a href="#" data-target="#avatar-modal" data-toggle="modal" class="avatar_btn">  <div class="user-edit"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/camera.png"></div></a>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-6">
                    <form id="user-account-form" method="POST" data-pjax>
                        <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                        <div class="alert-success alert-msg" id="success_message" style="display:none;"></div> 
                        <div id="profile-errors" class="error  error-text center"></div>
                        <div id="profile-loading" class="loader"></div> 
                        <div class="form-group">
                            <input required type="text" class="form-control" value="{$user->display_name}" placeholder="{$this->Language['text_name_placeholder']}" name="name" id="name" />

                        </div>
                        <div class="form-group bottom20p">
                            <input id="disabledInput" type="text" class="form-control" value="{$user->email}" placeholder="{$this->Language['text_email_placeholder']}" name="email" id="email" disabled/>

                        </div>
                        <div class="bottom30p">
                            <a href="javascript:void(0);" class="text-uppercase" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">{$this->Language['change_password']}</a>
                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="{$this->Language['text_password_placeholder']}" name="new_password" id="new_password" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="{$this->Language['confirm_password']}" name="confirm_password" id="confirm_password" />
                            </div>

                        </div>
                        <div class="collapse" id="collapseExample">
                            <div class="form-group">
                                {if ($user->announcement_subscribe)}
                                <input name="subscribe_newsletter"  value="1" type="checkbox" checked="checked" /> &nbsp;{$this->Language['subscribe_to_announcement']}   
                                {else}
                                <input name="subscribe_newsletter"  value="1" type="checkbox"  /> &nbsp;{$this->Language['subscribe_to_announcement']} 
                                {/if}
                            </div>
                        </div>                        
                        <button id="update-profile-btn" class="btn as-btn-accent as-btn-md" type="submit">{$this->Language['btn_update_profile']}</button>

                    </form>
                </div>
            </div>

        </section>
        <div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-labelledby="avatar-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content profile-change"  style="height:500px;">
                    <form class="avatar-form" method="post" action="{$this->siteurl}/user/upload_image"  enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                           </div>
                        <div class="modal-body">
                            <div class="avatar-body">

                                <!-- Upload image and data -->
                                <div class="avatar-upload">
                                    <input class="avatar-src" name="avatar_src" type="hidden">
                                    <input class="avatar-data" name="avatar_data" type="hidden">
                                    <input class="" name="fileinfo" id="fileinfo" type="hidden">
                                    <div style="float:left;font-weight:bold;font-size:16px;padding-right:20px;">{$this->Language['file_upload_profile']}</div>
                                    <div style="float:left;">
                                        <input class="avatar-input" id="avatarInput" name="Filedata" type="file">
                                    </div>
                                </div>

                                <!-- Crop and preview -->
                                <div class="avatar-wrapper"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn as-btn-accent as-btn-md avatar-save" type="submit">{$this->Language['btn_save']}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{literal}
<script type="text/javascript">
    $(document).ready(function () {
        $('.wrapper').removeClass('has-not-sidebar');
        $('.menu_item a').removeClass('active');
         var crop=document.createElement("script");
                    crop.type = "text/javascript";
                    crop.src = THEME_URL +'/js/crop-avatar.js';
                    $('.profile_page').append(crop);
                    
      
    });
$('#update-profile-btn').click(function(){
        $("#user-account-form").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 5,
                },
                new_password: {
                    minlength: 6,
                },
                confirm_password: {
                    passwordExist: true,
                    equalTo: '#new_password'
                },
            },
             messages: {
                name: {
                    required: JSLANGUAGE.full_name_required,
                    minlength: JSLANGUAGE.name_atleast_5_char,
                },
                new_password: {
                    minlength:JSLANGUAGE.password_atleast_6_char,
                },
                confirm_password: {
                    passwordExist: JSLANGUAGE.valid_confirm_password,
                    equalTo: JSLANGUAGE.password_donot_match
                }
            },
            submitHandler: function(form) {
                $('#profile-loading').show();           
                $.ajax({
                    url: HTTP_ROOT+"/user/update_user_profile",
                    data: $('#user-account-form').serialize(),
                    type:'POST',
                    dataType: "json",
                    beforeSend:function(){
                        $('#profile-loading').show();
                    },
                    success:function(data){
                        $('#profile-loading').hide();
                        if(parseInt(data.err) === 0) {
                            var name=$('#name').val();
                          $('.user_name').html(name);
                            $("#new_password").val('');
                            $("#confirm_password").val('');
                            $('#success_message').html(JSLANGUAGE.profile_updated).show();
                            $(".alert-msg").fadeTo(5000, 0).slideUp("slow", function(){
                                $('#success_message').html('').css({ opacity: 1 });
                            });        
                        } else if(parseInt(data.err) === 1) {
                            $('#profile-errors').html("Passwords do not match.");
                        } else if(parseInt(data.err) === 2) {
                            $('#profile-errors').html("Error in updating profile.");
                        }
                    }
                });             
            }            
        });
    });
    
</script>
{/literal}
