<div class="page-header">
    <!--Background Banner-->
    <div class="fill-header">
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Banner%20Pik.jpg" alt="{$this->Language['reactivation']}">
    </div>             
    <div class="page-title">
        <h2>{$this->Language['reactivation']}</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-offset-1">
            <section class="p-b-0">
                <div class="bottom20p hidden-xs"></div>
                <div class="reactivate_title">
                    <p>{$this->Language['thanks_for_coming_bank']}</p>
                    <p>{$this->Language['choose_plan_and_payment_info']}</p>
                </div>
            </section>
        </div>
<div class="clearfix"></div>
        <div class="col-md-10 col-md-offset-1">
            <form id="membership_form" name="membership_form" method="POST" >

            <section class="m-b-30">
                <div class="bottom20p hidden-xs"></div>
                    {include file='../layouts/listplans.html'}                        

            </section>
            <section class="p-t-0 payment_form">
                <h4 class="bottom45p">
                    {$this->Language['credit_card_detail']}
                </h4>
                <div class="row">
                    <div class="col-md-7 col-lg-6">
                        {$payment_form}
                    </div>
                </div>
                <p class="meta-info" style="opacity: 0.8;">{$this->Language['agree_terms']}   <a href="{$this->siteurl}/page/terms-privacy-policy" target="_blank">{$this->Language['terms']}</a></p>
                <button id="register_membership" class="btn as-btn-accent as-btn-md " onclick="validatePaymentForm();">{$this->Language['btn_activate']}</button>
            </section>
            </form>
        </div>
    </div>
</div>
   <div class="modal fade" id="successPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-12">
                <p>{$this->Language['account_activate_after_card_submit']}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="modal fade" id="loadingPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-12">
                <p>{$this->Language['auth_your_card']}</p>
                <img src="{$this->siteurl}/images/payment_loading.gif" alt="Loading" title="Loading" style="padding:5px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
    var action = 'reactivate';
    var btn = 'Reactivate';
        $('.wrapper').addClass('has-not-sidebar');
        $('.menu_item a').removeClass('active');

</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>