<div class="content-holder audio-body">
    <section>
        <h2 class="text-left bottom15p">{$this->Language['my_favourite']}</h2>
        
        <div class="card-gallery">
            <input type="hidden" value="{$item_count}" class="item_count">
            {if $item_count > 0}            
            <div class="row">
                {foreach from=$contents|json_decode item=content}
                {$casts=$content->casts}
                <div class="col-fluid">
                    <div class="card">
                        <a href="{$content->permalink}"  data-pjax='main'>
                            <figure style="background-image: url('{$this->siteurl}{$Yii->theme->baseUrl}/images/default-artwork.jpg');">
                                <img class="owl-lazy" src="{$content->poster}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" >
                                    <div class="overlay text-center">
                                        <a {if $content->content_types_id == 5} href="javascript:void(0);"{else} href="{$content->permalink}"  data-pjax='main' {/if} class="playAudioContent" {if $content->content_types_id == 5} onclick="playAudio(this)" {/if}  id="{$content->movie_id}" data-content_type="{$content->is_episode}" >
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-201 40 467 467">
                                                <g>
                                                    <circle class="st0" cx="34" cy="274.1" r="227" />
                                                    <circle class="st1" cx="34" cy="274.1" r="220" />
                                                    <g class="st2">
                                                        <path class="st3" d="M123.7,269.9L-5.2,195.5c-3.3-1.9-7.3-1.9-10.6,0s-5.3,5.4-5.3,9.2v148.8c0,3.8,2,7.3,5.3,9.2
                                                              c1.6,1,3.5,1.4,5.3,1.4s3.6-0.5,5.3-1.4l128.9-74.4c3.3-1.9,5.3-5.4,5.3-9.2S127,271.8,123.7,269.9z" />
                                                    </g>
                                                </g>
                                            </svg>  
                                        </a> 
                                    </div>
                            </figure>
                            <h6> <a href="{$this->siteurl}/{$content->permalink}" class="c-white" data-pjax='main'>{if $content->content_types_id == 6}{$content->content_title|utf8_decode}{else}{$content->title|utf8_decode}{/if}</a></h6>
                            <p>{if $casts|@count > 0}{foreach from=$casts key=counter item=cast}{$cast_count=$cast|@count}{$j=0}{foreach from=$cast key=counter item=castitem}{$castitem->celeb_name}{$j = $j+1}{if $j != $cast_count}, {/if}{/foreach}{/foreach}{/if}&nbsp;</p>
                        </a>
                    </div>
                    <!--a href="javascript:void(0);"><div class="deleteFav" data-content_id="{if $content->is_episode == 1}{$content->movie_stream_id}{else}{$content->movie_id}{/if}" data-content_type="{$content->is_episode}"><i class="demo-icon icon-trash-empty">&#xe802;</i></div></a-->
                </div>
                {/foreach}
            </div>
            {else}
            <h5>{$this->Language['no_content_added_yet']}</h5>
            {/if}
            <div class="load-favourite load1">
                    <div class="loader-player">Loading...</div>
                </div>
        </div>
    </section>
</div>
{literal}
<script type="text/javascript">
      $(document).ready(function () {
            $('.wrapper').removeClass('has-not-sidebar');
            $('.menu_item a').removeClass('active');
        });
       $('.deleteFav').click(function() {
        $('.load-favourite').show();
        var url = HTTP_ROOT+"/user/deletefromfavlist/";
        var content_id = $(this).attr('data-content_id');
        var content_type = $(this).attr('data-content_type');
        var item_count=$('.item_count').val();
        $('.item_count').val(item_count - 1);
         var action = 0;
        if($.trim(content_type) == ""){
            content_type = 0;
        }
            $.ajax({
                url: url,
                data: {'content_id': content_id, 'content_type': content_type,'login_status':true,'action':action},
                type: 'POST',
                headers: {"X-PJAX":"true","X-PJAX-Container":"#main"},
                success: function (res) {
                   $('.load-favourite').hide();
                   var final_count=$('.item_count').val();
                   if(final_count == 0){
                       $('.card-gallery').html('<h5>'+ no_content_added +'</h5>')
                   }
              }
            });
        $(this).parent().parent().remove();

    });
    
</script>
{/literal}