<script>   
var parentThemeName = "{$this->studio->parent_theme}";
</script>
<div class="wrapper">
    <div id="homepage_sections" class="relative parent_sec"></div>
    <div class="loader _home_featured" style="display:block;" ></div>
</div>
{literal}
<script> 
var LIMIT = 2;
var dataOffset = 0;
var inProgress = false;
var oFfSet;
function loadFeaturedSection(dataOffset){
        inProgress = true;
        var url = HTTP_ROOT+ "/rest/loadFeaturedSections";
        var result = '';
        var playBtn;
        var contentId;
        var genre = ''
        $.get(url, {'authToken': STORE_AUTH_TOKEN, 'dataoffset': dataOffset, 'viewlimit': LIMIT, 'themes': parentThemeName}, function(response) {
            if (response.section.length > 0) {
                for (var i = 0; i < response.section.length; i++) {
                    if (response.section[i].content_type != 1) {
                        result = '<div class="parent_sec_' + response.section[i].id + ' parent-sec-hide _init"><div class="row"><div class="col-sm-8 col-lg-8"><h2 class="caps">' +
                                response.section[i].title +
                                '</h2></div></div><div class="row"><div class="slider responsive">';
                        var results = '';
                        if (response.section[i].total > 0) {
                            for (var j = 0; j < response.section[i].total; j++) {
                                if (response.section[i].contents[j].play_btn) {
                                    if (response.section[i].contents[j].content_types_id!=3 || response.section[i].contents[j].is_episode==1){
                                        playBtn = response.section[i].contents[j].play_btn;
                                    }else{
                                        playBtn = '<a href="' + response.section[i].contents[j].permalink + '" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" data-pjax="#main">' + explore + '</a>';
                                    }
                                } else {
                                    playBtn = '<a href="' + response.section[i].contents[j].permalink + '" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" data-pjax="#main">' + explore + '</a>';
                                }
                                if (response.section[i].contents[j].genres) {
                                    genre = response.section[i].contents[j].genres;
                                }
                                results += '<div class="col-md-3 col-sm-6 c-margin-b-20"><div class="c-content-product-2 c-bg-white list-box">' +
                                        '<div class="c-content-overlay"><div class="c-overlay-wrapper">' +
                                        '<div class="c-overlay-content">' +
                                        playBtn +
                                        '</div></div>' +
                                        '<div class="c-bg-img-top-center c-overlay-object text-center">' +
                                        '<img class="list-poster" src="' + response.section[i].contents[j].poster + '"/>' +
                                        '</div></div>' +
                                        '<div class="c-info">' +
                                        '<p class="c-title c-font-18 c-font-slim">' +
                                        '<a href="' + response.section[i].contents[j].permalink + '" data-pjax="#main"">' + response.section[i].contents[j].title + '</a></p>' +
                                        '<p class="caption_genre c-font-16">' +
                                        genre +
                                        '</p></div></div></div>';

                            }
                        }
                    } else {
                        result = '<div class="parent_sec_' + response.section[i].id + ' parent-sec-hide _init"><div class="row">  <div class="col-sm-8 col-lg-8"><h2 class="caps">' +
                                response.section[i].title +
                                '</h2></div></div><div class="row"><div class="slider responsive">';
                        var results = '';
                        if (response.section[i].total > 0) {
                            for (var j = 0; j < response.section[i].total; j++) {
                                playBtn = '<a href="' + response.section[i].contents[j].permalink + '" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" data-pjax="#main">' + explore + '</a>';
                                contentId = response.section[i].contents[j].id;
                                results += '<div class="col-md-3 col-sm-6 c-margin-b-20"><div class="c-content-product-2 c-bg-white list-box">' +
                                        '<div class="c-content-overlay"><div class="c-overlay-wrapper">' +
                                        '<div class="c-overlay-content">' +
                                        playBtn +
                                        '</div></div>' +
                                        '<div class="c-bg-img-top-center c-overlay-object text-center">' +
                                        '<img class="list-poster" src="' + response.section[i].contents[j].poster + '"/>' +
                                        '</div></div>' +
                                        '<div class="c-info">' +
                                        '<p class="caption_genre c-title c-font-16 c-font-slim">' +
                                        '<a href="' + response.section[i].contents[j].permalink + '" data-pjax="#main"">' + response.section[i].contents[j].name + '</a></p>' +
                                        '<p class="caption_genre c-font-16">' +
                                        response.section[i].contents[j].price +
                                        '</p></div><div role="group" class="btn-group btn-group-justified"><div role="group" class="btn-group c-border-top">' +
                                        '<a class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product"  href="javascript:void(0);" onClick="showcart(' + contentId + ',1)">' +
                                        '' + add_to_cart + '</a>' +
                                        '</div><div role="group" class="btn-group c-border-left c-border-top">' +
                                        '<a class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product"  href="javascript:void(0);" onClick="showcart(' + contentId + ',2)">' +
                                        '' + order_now + ' </a></div></div>' +
                                        '</div></div>';
                            }
                        }
                    }
                    $('#homepage_sections').append(result + results + '</div></div></div>');
                    updateSlider(response.section[i].id);
                    inProgress = false;
                }
            } else {
                $('.loader._home_featured').hide();
            }
            dataOffset = dataOffset + LIMIT;
            oFfSet = dataOffset;
        });
    }
    function updateSlider(secID) {
        initSlickSlider('.parent_sec_' + secID + ' .slider');
        $('.parent_sec_' + secID + '._init').removeClass('_init');
    }
    $(window).scroll(function() {
        if ($('.loader._home_featured').length > 0) {
            if (!inProgress && $(window).scrollTop() >= $('.loader._home_featured').offset().top - $(window).height()) {
                if (oFfSet) {
                    dataOffset = oFfSet;
                }
                loadFeaturedSection(dataOffset);
            }
        }
    });
    function pageRefresh() {
        if ($('#homepage_sections').length > 0)
            loadFeaturedSection(dataOffset);
    }
</script>
{/literal}