<div class="container" id="listItem">                
    <div class="content-area">
        <div class="row cust-row">
            {foreach from=$contents|json_decode item=content}
            {if $content->is_playlist == 1}
            {if $content->is_search == 1}
            {$data = $content}
            {else}
            {$data = $content->list}
            {/if}
            {$content_poster = $content->poster_playlist}
            {include file='../layouts/playlistitem.html'}
            {elseif $content->is_physical == 1}
            {if $content->is_search == 1}
            {$physical = $content}
            {else}
            {$physical = $content->physical}
            {/if}
            {include file='../layouts/physicallist.html'}
            {else}
            <div class="col-md-3 col-sm-6 c-margin-b-20">
                <div class="c-content-product-2 c-bg-white list-box">
                    <div class="c-content-overlay">
                        <div class="c-overlay-wrapper">
                            <div class="c-overlay-content">
                                {if $content->content_types_id == 5}
                                {if $content->full_movie != ''}
                                <div class="play-btn-wrap">
                                    <a href="javascript:void(0);" onclick="playAudio(this)" data-content_type="{$content->is_episode}" id="{$content->movie_id}"  class="playaudio" data-ctype="{$content->content_types_id}">
                                        {$this->Language['play_now']}</a>
                                </div>
                                {else}
                                <a class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" href="{$content->permalink}">{$this->Language['explore']}</a>
                                {/if}
                                {elseif $content->content_types_id == 6}
                                <a  class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square" href="{$content->permalink}">{$this->Language['explore']}</a>
                                {else}
                                {if $content->content_types_id!= 3}
                                {if $content->is_downloadable == 1}
                                {if $content->download_btn != '' }<div class="play-btn-wrap">{$content->download_btn}</div> {else}<a class="c-overlay-wrapper" href="{$content->permalink}"></a>{/if}
                                {elseif $content->is_downloadable == 2}
                                {if $content->play_btn != '' }<div class="play-btn-wrap">{$content->play_btn}</div> {else}<a class="c-overlay-wrapper" href="{$content->permalink}"></a>{/if}
                                {if $content->download_btn != '' }<br><div class="play-btn-wrap">{$content->download_btn}</div> {else}<a class="c-overlay-wrapper" href="{$content->permalink}"></a>{/if}
                                {else}
                                {if $content->play_btn != '' }<div class="play-btn-wrap">{$content->play_btn}</div> {else}<a class="c-overlay-wrapper" href="{$content->permalink}"></a>{/if}
                                {/if}
                                {/if}
                                {/if}
                            </div>

                        </div>
                        <div class="c-bg-img-top-center c-overlay-object text-center"><img class="list-poster" src="{$content->poster}" /></div>
                    </div>
                    <div class="c-info">
                        <p class="c-title c-font-18 c-font-slim">
                            <a href="{$content->permalink}">{$content->title|utf8_decode}</a>
                        </p>
                        {if $content->genres|@count > 0}
                        <p class="caption_genre c-font-16">
                            {$genre_count = $content->genres|count}
                            {$j=0}
                            {foreach from=$content->genres item=genre}
                            {$genre}{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                        </p>
                        {/if}                        
                    </div>                     
                </div>
            </div>
            {/if}
            {/foreach}
        </div>
    </div>
</div>
{literal}
<script type="text/javascript">
    $(document).on('ready pjax:end', function() {
        $('#main').addClass('c-layout-page');
        $(".c-overlay-object").matchHeight();
        $("p.c-title").matchHeight();
        $("p.caption_genre").matchHeight();
        $(".c-info").matchHeight();
        $(".list-box").matchHeight();
        $.fn.matchHeight._update(true);
    });

</script>
{/literal}
