<div id="wrapper" style="background-image: url({$background_path});">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 top">
                <img src="{$logo_path}" />
                <br/>
                <br/>
                <form name="subscribe" class="form-inline signup" id="passcodeFrm" method="post" autocomplete="off">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Passcode" readonly name="passcode" autocomplete="off" value="" />
                    </div>
                    <button type="submit" class="btn btn-default">Enter to Website</button> 
                    <div class="error" id="errorvalidation"></div><br />
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{$this->siteurl}{$Yii->theme->baseUrl}/js/passvalidate.js"></script>    