{$item = $item|json_decode}
<input type="hidden" value="{$content->movie_id}" id="p_movieid">
{$casts = $item->casts}
{$directors = $casts->directors}

{$release_date = $item->release_date}
{$censor_rating = $item->censor_rating}
{$actors = $casts->actors}
{$all_series = $allseries|json_decode}
<div class="single-product-area">
    <div class="container">
        <div class="row">
        

            <div class="col-md-9">
                <div class="product-content-right">

                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    
                                    <img src="{$item->poster}" alt="{$item->title}" />
                                </div>

                            </div>
                        </div>
                            

                        <div class="col-md-8 col-sm-6 ">
                          
                            <div class="product-inner">
                                <h2 class="product-name">{$item->title}</h2>
                                <div class="product-inner-price">
                                    {if $directors|@count > 0}
                                    <p>Director :
                                        {foreach from=$directors item=director}
                                        <a href="{$director->full_permalink}">{$director->celeb_name}</a>
                                        {/foreach}
                                    </p> 
                                    {/if}
                                    {if $release_date !=''}
                                    <p>Release Year : {$release_date}</p>
                                    {/if}
                                    
                                        <p>{if $censor_rating != ''}
                                      Censor rating : {$censor_rating}{/if}</p>
                                     {if $item->genres|@count > 0}
                                   <p>Genre :
                                        {$genre_count = $item->genres|count}
                                        {$j=0}
                                        {foreach from=$item->genres item=genre}
                                        <a href="#">{$genre}</a>
                                        {$j = $j+1}
                                        {if $j != $genre_count}
                                        ,
                                        {/if}
                                        {/foreach}
                                    </p>  {/if}                                      
                                    <div class="show"><a href="#trailer" class="btn btn-default btn-grey" id="trailer-btn">View Trailer</a>
                                        <span class="btn btn-default">{$item->play_btn}</span>
                                    </div>                                    
                                </div>
                                <div style="margin-top:20px;" class="row col-md-6 detailspage">
                                    {$pricing_text}
                                    </div>
                                   {$extra_content}
                                <div class="clearfix"></div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                      
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Story</h2>  
                                            {$item->story}
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            {$review_form}
                                        </div>
                                       
                                    </div>
                                </div>
                                
                                
                    
                           
                           
                            </div>
                        </div>
                    </div>

                </div>                    
            </div>
                <div class="col-md-3">

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Casts</h2>
                    {foreach from=$actors item=actor}
                    <div class="thubmnail-recent">
                        <img src="{$actor->celeb_image}" class="recent-thumb img-circle" alt="{$actor->celeb_name}" />
                        <h2><a href="{$actor->full_permalink}">{$actor->celeb_name}</a></h2>                           
                    </div>                            
                    {/foreach}                         
                </div>
            </div>
            <div role="tabpanel" class="comment">
              
               
            </div>
                
    </div>
    </div></div>
<div id="myTrailer"> 
     <div class="wrapper">
         <div class="videocontent">
        </div> 
    </div>
</div>


<script type="text/javascript" src="{$this->siteurl}/common/js/fancybox.js"></script>
<link rel="stylesheet" href="{$this->siteurl}/common/css/fancybox.css" type="text/css" media="screen" />

<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
<script type="text/javascript">

    var trailerUrl = '{$item->trailer_url}';
    var trailerIsConverted = '{$item->trailer_is_converted}';
    var v_logo = '{$item->v_logo}';
    var HTTP_ROOT = '{$this->siteurl}';
    var is_mobile = 0;
    var multipleVideoResolution = {$multipleVideo|json_encode};
    var defaultResolution = '{$defaultResolution}';    
    var createSignedUrl = "{$this->siteurl}/user/getNewSignedUrlForTrailer";
    $(document).ready(function () {
         $('.videocontent').hide();        
    });
</script>
{literal}
<style type="text/css">
    .RDVideoHelper{display: none;}
    .videocontent{display: block;}
    video::-webkit-media-controls {
        display:none !important;
    }
</style>  
{/literal}
<script type="text/javascript" src="{$this->siteurl}/js/content.js"></script>