<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$this->Language['watch_history']}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <div id="content_list"></div>
        <div class="row list_page">
            {if $item_count > 0}
                {foreach from=$contents|json_decode item=content}
                <div class="col-md-5ths col-xs-6 fav-col">
                    <div  class="thumbnail wrapper">
                        <a href="{$content->permalink}">
                            <div class="play-box"> <img src="{$content->poster}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}">
                                <div class="thumb-bg"></div>
                                {if $content->play_btn != ''}<div class="play-btn">{$content->play_btn}</div>{/if}
                                <div class="thumb-time-line"><span class="thumb_weight f-10">{$content->release_date|utf8_decode}</span><span class="pull-right f-10 thumb_weight m-t-5">{$content->video_duration}</span></div>
                            </div>
                            <div class="caption">
                                <h3><a href="{$content->permalink}">{if $content->title|count_characters > 18}{$content->title|truncate:28|utf8_decode}{else}{$content->title|utf8_decode}{/if}</a></h3>
                                <p>{$genre_count = $content->genres|count}
                                  {$j=0}
                                  {foreach from=$content->genres item=genre}{$genre}{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                {/foreach}
            {else}
            <div class="col-sm-12 top10">
                <div class="nocontent">
                    {$this->Language['no_content_added_yet']}
                </div>
            </div>
            {/if}
            <div class="loader" id="loader"></div>    
        </div>
    {if $item_count > $page_size}
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {$pagination}
                    </nav>                        
                </div>
            </div>
        </div> 
    {/if}
    </div>
</div>
