{$content = $item|json_decode}

<div class="page-header">

    <div class="fill-header if-contentList">
        <img src="{$celebrity_image}" alt="{$content->name}">
    </div>

</div>
<div class="content-holder ">
    <section class="p-t-0">
        <!---<h6>You searched for <span class="text-capitalize">“Routine”</span></h6>-->
        <div class="row art-detail">
            <div class="col-sm-3 col-md-4 col-lg-3">
                <div class="card cast-crew">
            <figure style="background-image: url('{$this->siteurl}{$Yii->theme->baseUrl}/images/default-artwork.jpg');">
                    <img class="owl-lazy" src="{$celebrity_image}" alt="{$content->name}">
                </div></div>
            <div class="col-sm-7 col-md-6 col-lg-5">
                <h2>{$content->name}</h2>
                <p>{$content->summary|utf8_decode}</p>
                 <p class="hidden-sm hidden-xs">&nbsp;</p>
            </div>

        </div>
    </section>
    <section>
                <h6>All Songs of  <span class="text-capitalize">“{$content->name}”</span></h6>
        {include file='../layouts/listitem.html'}

    </section>
</div>

