<div class="container">
    <div class="banner-bg">
        <ul class="pgwSlider">
            {foreach from=$banner_sections|json_decode item=banner_section}
                {foreach from=$banner_section->banners key=counter item=banner}
             {$banner_join_btn=$banner->join_btn}
             {$banner_text=$banner->banner_text}
                    <li>
                       
                        {if $banner->url_text !='' }
                    <a href="{$banner->url_text}">{/if}
                        <img src="{$banner->banner_full_path}"  data-description="">{if $banner->url_text !='' }</a>{/if}
                        {if $banner_text !=''} <span>{$banner_text}</span>{/if}
                    </li>
                    
                {/foreach}
              {/foreach}
        </ul>
          {foreach from=$banner_sections|json_decode item=banner_section}
                {foreach from=$banner_section->banners key=counter item=banner}
                  {$banner_join_btn=$banner->join_btn}
         {if $banner_join_btn !=''}
                  <div class="banner-bottom-line">                 
        <div class=banner_btn>{$banner_join_btn}</div>
        </div> {/if}             
{/foreach}
                {/foreach}
        <div class="clearfix"></div>
        
    </div>
</div>