<div class="container footer_container">
    <div class="wrapper">   
        <footer class="footer">
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-muted">{$this->copyright}</p>
                    </div>
                    <div class="col-md-9 pull-right">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="bottom_pages">
                                    <ul class="ftr_ul">
                                        <li class="ftr-link"><a href="{$this->siteurl}/contactus" title="{$this->Language['contact_us']}">{$this->Language['contact_us']}</a></li>
                                        {$pages = $this->Footerlinks}
                                        {foreach from=$pages item=page}
                                        {if $page['link_type'] == 'external'}
                                        <li  class="ftr-link"><a href="{$page['external_url']}" title="{$page['title']}" target="_blank">{$page['title']}</a></li>
                                        {else}
                                        <li  class="ftr-link"><a href="{$this->siteurl}/{$page['permalink']}" title="{$page['title']}">{$page['title']}</a></li>
                                        {/if}
                                        {/foreach}
                                        {if $this->has_blog}<li  class="ftr-link"><a href="{$this->siteurl}/blog" title="{$this->Language['head_blog']}">{$this->Language['head_blog']}</a></li>{/if}
                                        {if $this->has_faqs}<li  class="ftr-link"><a href="{$this->siteurl}/faqs" title="{$this->Language['faq']}">{$this->Language['faq']}</a></li>{/if}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">                      	 
                                {if ($this->studio->hide_powered_by == 0)&& ($this->studio->is_deleted == 0) && ($this->studio->status == 1) && ($this->studio->is_subscribed == 0)} 

                                <div class="footer-poweredby">
                                    <span class="font-12">{$this->Language['powered_by']}</span><a href="https://www.muvi.com/sdk/?utm_source={$studio->permalink}" target="_blank" title="{$this->Language['muvi']}"><img src="{$this->siteurl}/images/studio-logo.png" alt="{$this->Language['muvi']}" title="{$this->Language['muvi']}" /></a>
                                    <a class="btn btn-default btn-sm poweredby" role="button" href="https://www.muvi.com/payment/subscription">{$this->Language['remove_this_branding']}</a>
                                </div>  
                                {/if}
                            </div>
                            <div class="col-md-3 col-xs-12 text-right">
                                <ul class="share-buttons">
                                    <li>
                                        {if isset($this->studio->fb_link) && $this->studio->fb_link != ''}
                                        <a href="{$this->studio->fb_link}" target="_blank"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/social_icons/Facebook.png"></a>
                                        {/if}
                                    </li>

                                    <li>{if isset($this->studio->tw_link) && $this->studio->tw_link != ''}
                                        <a href="{$this->studio->tw_link}" target="_blank"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/social_icons/Twitter.png"></a>
                                        {/if}
                                    </li>

                                    <li>{if isset($this->studio->gp_link) && $this->studio->gp_link != ''}
                                        <a href="{$this->studio->gp_link}" target="_blank"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/social_icons/Google+.png"></a>
                                        {/if}
                                    </li>
                                    <li >{if isset($this->studio->ig_link) && $this->studio->ig_link != ''}
                                        <a href="{$this->studio->ig_link}" target="_blank"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/social_icons/instagram.png"></a>
                                        {/if} 

                                    </li>
                                    <li>{if isset($this->studio->yb_link) && $this->studio->yb_link != ''}
                                        <a href="{$this->studio->yb_link}" target="_blank"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/social_icons/youtube.png"></a>
                                        {/if} 
                                    </li>
                                </ul>
                                <ul class="list-inline text-right appStoreLink">
                                    <li>{if $this->ioslinks!=''}<a href="{$this->ioslinks}" title="Apple-Store"><img style="width:110px; !important" src="{$this->siteurl}/images/public/Apple-Store.png" alt="Apple-Store" title="Apple-Store"></a>{/if}</li>
                                    <li>{if $this->androidlinks!=''}<a href="{$this->androidlinks}" title="Apple-Store"><img style="width:110px; !important" src="{$this->siteurl}/images/public/Google-Play.png" alt="Apple-Store" title="Apple-Store"></a>{/if}</li>
                                </ul>
                                <div class="newsletter">
                                    {$this->newsletter}</div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </footer>
    </div>
</div>
