{if $plans|@count > 0}                            
    {if $isCouponExists}
        <div class="title1">{$this->Language['coupon']}</div>
        <input type="hidden" name="data[discount_amount]" id="discount_amount" value="">
        <input type="hidden" name="data[free_trail_charged]" id="free_trail_charged" value="">
        <div class="form-group top50">
            <div class="col-md-12">
                <span id="charged_amt" data-amount="{$price}"></span>
                <span id="discount_charged_amt" style="display: none;">
                    <span id="labele_text">{$this->Language['price']}</span>
                    <span id="dis_charged_amt" class="text-strike"></span>
                    <sup><span id="discount_charged_amt_span"></span></sup><br>
                    <span id="free_trail_txt"></span>
                </span>
            </div>
        </div>
        {$signup_steps = Yii::app()->general->signupSteps()}
        {if $signup_steps == 1 && $reactivate != 1 && $activate != 1}
        {$disabled = "disabled"}
        {else}
        {$disabled = ""}
        {/if}
        <div class="row">
            <div class="col-md-8">
                <input type="text" {$disabled} class="form-control" name="data[coupon_code]" id="coupon" placeholder="{$this->Language['coupon_code_optional']}" autocomplete="off" >
            </div>
            <div class="col-md-4">
                <button type="button" {$disabled} class="btn btn-info btn-flat" id="coupon_btn" onclick="validateCouponForSubscription();">{$this->Language['btn_apply']}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="invalid_coupon_error" style="color:red;font-size:16px;display:none"></div>
                <div id="valid_coupon_suc" class="has-success" style="display: none;">
                    <label for="inputSuccess" class="control-label" style="font-weight: normal;color: #4da30c;font-size:16px;">{$this->Language['discount_on_coupon']} <span id="coupon_in_amt"></span></label>
                </div>
            </div>
        </div>
    {/if}                            
{/if}  