            
{foreach from=$contents|json_decode item=content}
<div class="col-md-5ths col-xs-6 equal-height-box">
                    <div  class="thumbnail wrapper">
                    <a href="{$content->permalink}">
                  <div class="play-box"> <img src="{$content->poster}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}">
                    <div class="thumb-bg"></div>
                    {if $content->play_btn != '' }
                    <div class="thumb-bg"></div>
                    <div class="play-btn">{$content->play_btn}</div>
                    {else}<a class="thumb-bg" href="{$content->permalink}"></a>
                    {/if}
                    <div class="thumb-time-line"><span class="thumb_weight f-10">{$content->release_date|utf8_decode}</span><span class="pull-right f-10 thumb_weight m-t-5">{$content->video_duration}</span></div>
                  </div>
                  <div class="caption">

                      <h3 class="movie_name_title"><a href="{$content->permalink}">{if $content->title|count_characters > 18}{$content->title|truncate:28|utf8_decode}{else}{$content->title|utf8_decode}{/if}</a></h3>
                     <p class="movie_genre_title">{$genre_count = $content->genres|count}
                        {$j=0}
                        {foreach from=$content->genres item=genre}{$genre}{$j = $j+1}{if $j != $genre_count}, {/if}{/foreach}</p>
                  </div>
                  </a>
                  </div>
                </div>
              {/foreach}
             