<div class="container"> 
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand logo_image" href="{$this->siteurl}"><img src="{$this->siteLogo}" alt="{$this->studio->name}"></a> </div>
            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav left-menu-margin main_menu">
                    {$this->main_menu}
                </ul>
                <ul class="nav navbar-nav search navbar-right">
                    <li class="searchSec top10 ">
                        <form role="search" method="get" id="search-form" class="form-inline m-b-0" onsubmit="return validate_search();" action="/search/show_all">
                            <div class="form-group">
                                <label class="sr-only" for="search">{$this->Language['text_search_placeholder']}</label>
                                <div class="input-group">
                                    <input class="form-control ui-autocomplete-input" name="search_field" id="siteSearch" placeholder="{$this->Language['text_search_placeholder']}" autocomplete="off" type="text">
                                     <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />

                                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                                </div>
                            </div>
                        </form>
                    </li>
                    {if Yii::app()->general->getStoreLink()}
                    <li class="cart_icon_parent">
                        <a href="/shop/cart">
                            <i class="icon-handbag c-cart-icon"></i>
                            <div id="round-cart">{if $smarty.session.totalqnt}
                                {$smarty.session.totalqnt}
                                {else}
                                0
                                {/if}</div>
                        </a>
                    </li>
                    {/if}
                    <li class="user"> 
                        <ul class="nav navbar-nav navbar-right user_menu">
                            <div class="user-menu usermenu">
                                {$this->user_menu|json_decode}
                            </div>
                        </ul>
                    </li>
                    {$language_code = $this->language_code}

                    {$totallang =$this->enable_laguages|count}
                    {if $totallang > 1} 
                    {$studio_languages = $this->enable_laguages}  <li><a href="#" rel="popover" data-popover-content="#myPopover" data-placement="bottom" class="language-list"><i class="fa fa-language" aria-hidden="true"></i></a></li>{/if} 

                    <div id="myPopover" class="hide">
                        <ul>
                            {foreach from=$studio_languages key=key item=value}
                            {if $value['status'] != 0} 
                            <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">{$value['name']} </li>
                            {elseif $value['code'] == "en"}
                            <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">
                                {$value['name']}
                            </li>
                            {/if} 
                            {/foreach}
                        </ul>
                    </div>     
                </ul>
            </div>
            <!--/.nav-collapse --> 
        </div>
        <!--/.container-fluid --> 
    </nav>
</div>
<!-- /container -->

<script>
$(function(){
    $('[rel="popover"]').popover({
    container: 'body',
        html: true,
        content: function () {
        var clone = $($(this).data('popover-content')).clone(true).removeClass('hide');
                return clone;
        }
    }).click(function(e) {
        e.preventDefault();
    });
});
</script>