@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body
	{
		font-family: 'Open Sans', sans-serif;
		background:#d8d8d8;
	}
a {
    color: #fff;
    text-decoration: none;
}
.input-lg {
    border-radius: 0px;
    font-size: 18px;
	border:2px #8d8d8d solid;
    height: 46px;
    line-height: 1.33333;
    padding: 10px 16px;
	background:#d8d8d8;
}
.width-6{width:44%; float:left;}
label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
	font-size:18px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 0 15px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color:transparent;
    color: #fff600;
}
.navbar-inverse {
    background-color:transparent;
    border-color:0px #080808;
	text-transform:uppercase;
}
.navbar-static-top {
    border-width: 0;
    z-index: 1000;
}
.logo{
	background:url(../images/red/logo.png) no-repeat;
	width:145px;
	height:36px;
	}
.watch-show-icon{
	background:url(../images/red/play-icon.png);
	width:40px;
	height:45px;
	}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-primary {
    background-color: transparent;
    border:2px #fff solid;
    color: #fff;
}

.btn-primary2 {
    background-color: transparent;
    border:3px #ca1313 solid;
    color: #ca1313;
	padding:10px 35px;
	font-size:28px;
}
.btn-primary2-gray {
    background-color: transparent;
    border:3px #ca1313 solid;
    color: #ca1313;
	padding:10px 35px;
	font-size:28px;
}
.btn-primary2-mid {
    background-color: transparent;
    border:3px #ca1313 solid;
    color: #ca1313;
	padding:1px 30px;
	font-size:22px;
}
.btn-primary2:hover {
    border:3px #006e8c solid;

}
.btn-mid
	{
		margin-left:41.5%;
		padding-top:60px;
	}
.slider-caption ul
	{
		margin-left:-26px;
	}
.slider-caption ul li
	{
		padding-bottom:15px;
	}
.col-md-2a {
    width: 19.999%;
}
@media (max-width: 668px) {
  .col-md-2a {
    width: 79.999%;
}

}
.jumbotron {
    background-color: #000;
    color: inherit;
    margin-bottom: 30px;
    padding: 30px 15px;
	
}
.video-text
	{
		text-align:center;
		padding-top:18%;
		font-size:28px;
		color:#ca1313;
		text-transform:uppercase;
		height:450px;
	}
.header-text{ text-align:center; margin:25px; color:#ca1313;font-weight:bold; text-transform:uppercase;}
.thumbnail2 {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-120%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail2:hover .caption {
    top:0%;
}
.jumbotron2 {
    color: #fff;
	margin-top:60px;
	background:#ca1313;
	height:auto;
	position:absolute;
	width:100%;
	
}
.footer-border
	{
		height:5px;
		background:#8d8c8c;
	}
.footer-link
	{
		color:#333;
		margin-left:-40px;
	}
.footer-link ul
	{
		color:#333;
	}
.footer-link ul li
	{
		color:#333;
		margin-bottom:15px;
		text-decoration:none;
		list-style:none;
	}
.footer-link ul li a
	{
		color:#fff;
	}
.footer-link ul li a:hover
	{
		color:#333;
	}
.cyan
	{
		color:#fff;
	}
.bold
	{
		font-weight:bold;
	}
	
.bs-docs-header, .bs-docs-masthead {
	background:#ca1313;
    /*background:url(../images/nav-bg.jpg);*/
    /*background-image: linear-gradient(to bottom, #563d7c 0px, #6f5499 100%);*/
    background-repeat: repeat-x;
	width:100%;
    color: #cdbfe3;
    padding: 30px 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.bs-docs-masthead .bs-docs-booticon {
    margin: 0 auto 30px;
}
.bs-docs-masthead h1 {
    color: #fff;
    font-weight: 300;
    line-height: 1;
}
.bs-docs-masthead .lead {
    color: #fff;
    font-size: 20px;
    margin: 0 auto 30px;
}
@media (min-width: 768px) {
.bs-docs-header {
    font-size: 24px;
    padding-bottom: 90px;
    padding-top: 60px;
    text-align: left;
}
.bs-docs-header h1 {
    font-size: 60px;
    line-height: 1;
}
}
@media (min-width: 992px) {
.bs-docs-header h1, .bs-docs-header p {
    margin-right: 380px;
}
}
.bg-white
	{
		background:#d8d8d8;
		padding:30px;
	}
.white
	{
		color:#fff;
	}
.input-lg
	{
		width:100%;
	}
.form-left
	{
		margin-left:-30px;
	}
.form-width
	{
		width:209px;
	}
.form-width2
	{
		width:164px;
	}

.form-space
	{
		height:20px;
	}
.img-border{ border:3px #ccc solid}

.cast-list {
    min-width: 255px;
	max-width: 255px;
	border-bottom: 1px solid #999;
	height: 70px;
}
.cast-list ul {
    margin-left:-40px;
}
.cast-list ul li {
    display: inline;
    font-size: 15px;
    font-weight: bold;
    list-style: outside none none;
    text-decoration: none;
    text-transform: uppercase;
	
}
.cast-text {
    margin-left: 10px;
}
.cast-text2 {
    color: #666;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-left: 55px;
    margin-top: -15px;
}
.img-circle-top {
    margin-top: 18px;
}
.pen-icon{background:url('../images/icons/pencil.png') no-repeat center left; padding-left: 40px; text-transform: uppercase;}
.ac-setting-icon{background:url('../images/icons/ac-setting-icon.png') no-repeat center left; padding-left: 40px; text-transform: uppercase;}
.comment-icon{background:url('../images/icons/comment-icon.png') no-repeat center left; padding-left: 40px; text-transform: uppercase;}
.settings-icon{background:url('../images/settings.png') no-repeat center left; padding-left: 40px; text-transform: uppercase;}
.line-icon{ text-transform: uppercase; float:left; margin-top:20px;}
.heading_2{color: #333;font-weight: 300;font-size: 31.5px;line-height: 40px;text-transform: uppercase;margin: 10px 5px; margin-top:40px;text-rendering: optimizelegibility;}
.heading_3{color: #333;font-weight: bold;font-size: 20px;text-transform: uppercase;}
.devider
	{
	margin: 20px 0;
	}
.col-md-4-left
	{
		margin-left:-15px;
	}
.body-top-
	{
		margin-top:-80px;
	}
.header-big
	{
		text-transform:uppercase;
		color:#fff;
		font-size:48px;
		font-weight:bold;
		margin-top:-10px;
	}
.h4-white
	{
		color:#fff;
	}
.text-capitalize {
    text-transform: uppercase;
}
.black{color:#000;}
.red{color:#ca1313;}

.billed-box {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ca1313;
    border-radius: 4px;
    margin: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.billed-box .tick-icon {
    background: url("../images/red/tick-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 38px;
    margin: -19px -17px 0;
    position: absolute;
    width: 38px;
}
.billed-box h3 {
    color: #ca1313;
    font-weight: 400;
}
.billed-box2 {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.form-spacing
	{
		margin-bottom:15px;
	}
.link-bold a
	{
		font-weight:bold;
		font-size:16px;
		color:#ca1313;
		text-transform:uppercase;
	}
.search-margin-top
	{
		margin-top:-20px;
	}
.search-margin
	{
		margin-top:40px;
	}
	
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
    background:transparent;
    width: auto;
	border:0px;
	border-bottom:1px #fff solid;
	margin-top:-10px;
}
.btn-default {
    background-color: transparent;
    color: #333;
    margin-top: -11px;
}
.panel {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

@media (max-width: 440px) {
.header-text {
    color: #ed590f;
    font-size: 15px;
    font-weight: normal;
    margin:0px 0px 20px 0px;
    text-align: center;
    text-transform: uppercase;
}
}
@media (max-width: 1200px) {
    .form-control-search {
        width: 105px !important;
    }
}
@media (max-width: 768px) {
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: none repeat scroll 0 0 #333;
    border-color: #101010;
}
}
