@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{background: #FFF; }

.navbar-wrapper{
    background: #b3d1f3 url('../images/orange-purple/header_bg.png') repeat-x;
    padding: 20px 0px;
    border-bottom: 4px solid #B70000;
}
.carousel-inner {
    border-bottom: 3px solid #B70000;
}
.navbar > .container .navbar-brand{margin-left: 0px;}
.form-control::-moz-placeholder{color: #333;}
.logo{
	background:url(../images/orange-purple/logo.png) no-repeat;
	}
a{color: #219f06;}
a:focus, a:hover{color:#b70000;}
.input-lg {
    background: transparent;
    color: #219f06;
}

.navbar-nav > li > a{font-size: 16px; font-weight: bold;}
.navbar-inverse .navbar-nav > li > a {
    color: #333;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color:transparent;
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover{
    background-color:transparent;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{background: #ACC9E9; color: #FFF;}


.dropdown-menu{background: #ACC9E9;}
.navbar-inverse {
    background-color:transparent;
    border-color:0px #080808;
}

.btn-primary {
    background-color: #b70000;
    border:2px #fff solid;
    color: #fff;
}

.btn-primary2 {
    background-color: #b70000;
    color: #fff;
}
.btn-primary2-gray {
    background-color: #b70000;
    border:3px #219f06 solid;
    color: #219f06;
}
.btn-primary2-mid {
    border:3px #219f06 solid;
    color: #219f06;
}
.btn-primary2:hover {

    color:#000;

}
.jumbotron { background-color: #219f06; color: inherit;}
.video-text{ color:#fff;}
.header-text{ color:#219f06;}

.caption {
    background:rgba(66, 139, 202, 0.75);
    color:#fff !important;
}
.jumbotron2 {
    background:#fff;
	
}
.footer-border
{
    background:#B70000;
}

.footer-link, .footer-link ul, .footer-link ul li, .footer-link ul li a
{
        color:#333;
}
.footer-link ul li a:hover
{
        color:#b70000;
}
.cyan
{
    color:#00acdb;
}	

.bs-docs-masthead h1 {
    color: #fff;
}
.bs-docs-masthead .lead {
    color: #fff;
}
.bg-white{ background:#FFF;}
.white{color:#fff;}
.orange{color:#219f06;}

.img-border{ border:3px #ccc solid}

.cast-list {
    border-bottom: 1px solid #999;
}
.cast-text {
    color:#219f06
}
.cast-text2 {
    color: #666;
}

.pen-icon{background:url('../images/icons/pencil.png') no-repeat center left; }
.ac-setting-icon{background:url('../images/red-green/ac-setting-icon.png') no-repeat center left; }
.comment-icon{background:url('../images/red-green/comment-icon.png') no-repeat center left;}
.settings-icon{background:url('../images/red-green/settings.png') no-repeat center left; }
.heading_2{color: #219f06;}
.heading_3{color: #219f06;}
.header-big
{
    color:#fff;
}
.h4-white
{
    color:#fff;
}
.black{color:#000;}
.red{color:#130040;}

.billed-box {
    border: 2px solid #219f06;
}
.billed-box .tick-icon {
    background: url("../images/red/tick-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.billed-box h3 {
    color: #219f06;
}
.billed-box2 {
    background:transparent;
    border: 2px solid #ddd;
}
.link-bold a
{
    color:#219f06;
}
	
.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {

    color: #333;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default{
   background-color: #fff; 
}

.btn-default {
    color: #333;
}
.panel {
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.caption a{color: #FFF;}
.social-wrap li a {
    background: #191919;
    border:solid 1px #222121;
}
.social-wrap li a.facebook {
    background: #191919 url(../images/red-green/facebook.png) no-repeat -0px -44px;
}
.social-wrap li a.facebook:hover {
    background: #191919 url(../images/red-green/facebook.png) no-repeat -0px -0px;
}
.social-wrap li a.twitter {
    background: #191919 url(../images/red-green/twitter.png) no-repeat -0px -44px;
}
.social-wrap li a.twitter:hover {
    background: #191919 url(../images/red-green/twitter.png) no-repeat -0px -0px;
}
.social-wrap li a.google-p {
    background:#191919 url(../images/red-green/google.png) no-repeat -0px -44px;
}
.social-wrap li a.google-p:hover {
    background: #191919 url(../images/red-green/google.png) no-repeat -0px -0px;
}

.mov_playbtn{
    background:  url(../images/red-green/play_button.png) no-repeat;
}
.epi_playbtn{
    background:  url(../images/red-green/play_btn.png) no-repeat;
}

.modal h1, .modal h2, .modal h3, .modal h4, .modal h5{ color: #333;}
.modal .login-popup-msg h3{color: #FFF; }
#loginModal .close-icon {
    background: url("../images/red-green/cross_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.modal-dialog{margin:10px auto;}

.modal .form-signin{background: none; border: none;}
.btn-primary{background: #b70000; border-color: #b70000;}
.btn-primary:hover{background: #b70000; border-color: #b70000; color: #000;}
.error{color: #FF0000;}

.playbtn {
    background: url("../images/red-green/play_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.pgtitle{color: #219f06;}

ul.yiiPager a:link, ul.yiiPager a:visited{ border-color: #219f06; color: #333;}
ul.yiiPager .selected a{ background: #219f06;}
.movies-icon{background: url(../images/movie-icon.png) no-repeat 0px 14px; }

.ppv{ background: url('../images/red-green/ppv.png') no-repeat 0px 0px; position: absolute; width: 90px; height: 89px;  top: -5px; right: -5px;}
.ppv-small{ background: url('../images/red-green/ppv-small.png') no-repeat 0px 0px; position: absolute; width: 40px; height: 40px; z-index: 99; top: -5px; right: -5px;}


.carousel-caption .btn-primary {
    color: #fff;
    background: #219F06;
    border: 0px;
}

select.input-lg{border:1px solid #333;}
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.modal-title{color: #3a3a3a}
.form-control-search{color:#fff;background: transparent none repeat scroll 0 0; border: 1px solid #fff;}
.bootbox>div{
    color: #fff;
}
#loginButton{ background:#fff;border:1px solid #899caa;  }
#loginButton span {color:#445058; text-shadow:1px 1px #fff;}
#loginButton:hover {
    background:#fff;
}
#loginButton.active em {
    background:#d2e0ea; 
    border:1px solid #899caa;
    background:#fff;
}
#filterFormPopup #login {
        background:#ff1970;
    color:#fff;
    border:1px solid #ff1970;
      text-shadow:0px -1px #278db8;
}
fieldset#body {
      background:#fff; 
    border-radius:3px;
    -moz-border-radius:3px;
}
.modal{color:#000;}
.ppv_price{color:#f17f00;}
.social-icons li {background: #fff;}
.alert-danger{
      background-color: #F00;
    border-color: #900;
    color: #fff;  
}
.content-details h1{  color: #fff;text-shadow: 1px 1px 7px #333;}
.lstream-view .badges .badge-live {background-color: #ff3d22;color: #fff;}
.modal .login-popup-msg h3{color: #FFF; }
#loginBox{background: #fff;}
