<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="feature-banner">
                <div class="overlay-img">
                    <div class="left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$category->title|utf8_decode}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12 top10">
                {foreach from=$selected_genres item=selected_genre}
                {if $selected_genre != ''}
                <code class="tagdesign"> {$selected_genre|escape:'htmlall'} <span class="tag-delete crusor" onclick="removetaglist('{$selected_genre|escape:'htmlall'}');">X</span></code>
                {/if}
                {/foreach}

            </div>
        </div>
        <div class="row top20">

            <div class="col-md-12 text-right">
                <div class="dropdown filter">
                    <button class="btn btn-primary" id="menu1" type="button" data-toggle="dropdown">{$this->Language['filter']}
                    <span class="caret"></span></button>
                    <div class="dropdown-menu filter_popup dropdown-menu-right" role="menu" aria-labelledby="menu1">
                        <form action="{$this->siteurl}/{$category->permalink}" method="get" name="listingSearch" id="filterFormPopup" class="mCustomScrollbar" data-mcs-theme="dark">

                            <div class="row">    
                                <div class="col-xs-7">
                                    <ul class="list-inline">
                                     <label for="email" class="filter_by">{$this->Language['filter_by']}</label><br>

                                        {foreach from=$genres item=genre}
                                         <div class="col-md-12">
                                        <li><label> <input type="checkbox" class="genre" value="{$genre|escape:'htmlall'}" onclick="getsortlist(this.value)">{$genre|escape:'htmlall'}</label></li>
                                        </div>{/foreach} </ul>
                                </div>
                                <div class="col-xs-5">
                                    <label for="email" class="sort_by">{$this->Language['sort_by']}</label><br>
                                    <span class="sortby {if $smarty.get.orderby == 'lastupload'} sortby_active {/if} crusor" onclick="sortby('lastupload');">{$this->Language['sort_last_uploaded']}</span> <br />
                                    <span class="sortby {if $smarty.get.orderby == 'releasedate'} sortby_active {/if} crusor " onclick="sortby('releasedate');">{$this->Language['sort_release_date']}</span> <br />
                                    <span class="sortby {if $smarty.get.orderby == 'sortasc'} sortby_active {/if} crusor" onclick="sortby('sortasc');">{$this->Language['sort_alpha_a_z']}</span> <br />
                                    <span class="sortby {if $smarty.get.orderby == 'sortdesc'} sortby_active {/if} crusor" onclick="sortby('sortdesc');">{$this->Language['sort_alpha_z_a']}</span>                   

                                </div>
                            </div>
                        </form> 
                    </div>

                </div>
            </div>
        </div>
        <div id="content_list"></div>
        <div class="row list_page">
         {if $item_count > 0}
            {include file='../layouts/listitem.html'}
            {/if}

            <div class="loader" id="loader"></div>    
        </div>
{if $item_count > 20}
        <div class="row">
                    <div class="col-md-12">
                        <div class="product-pagination text-center">
                            <nav>
                                {$pagination}
                            </nav>                        
                        </div>
                    </div>
                </div> 
{/if}
    </div>
</div>
<script src="{$this->siteurl}/js/jquery.matchHeight.js" type="text/javascript" ></script>
<script type="text/javascript" >
$( window ).load(function() {
       $("img.play_box_img").matchHeight();
       $(".play-box").matchHeight();
       $(".movie_name_title").matchHeight();
       $(".movie_genre_title").matchHeight();
       $(".caption").matchHeight();
       $.fn.matchHeight._update();    
});

</script>
