body{font-size:16px;}
.c-info{min-height: 89px;}
.c-mobile-logo {
    height:auto;
    width: 90px;
}
img{max-width:100%;}
.c-layout-footer{margin-top:20px;}
@media (max-width: 1024px){
.c-title.c-font-14.c-font-slim > a {font-size: 12px !important;}
.c-content-product-2 .c-info {height: 75px !important;}
}
@media (max-width: 991px){
.c-layout-header .c-brand > .c-topbar-toggler, .c-layout-header .c-brand > .c-search-toggler, .c-layout-header .c-brand > .c-cart-toggler {
    margin: 0px 15px 0 0;
}
@media (min-width: 768px){
     .col-sm-5ths {
    float: left;
    width: 20%;
}
    
}

}
  .light-grey{
  color:#818181;
  }
  .rating-symbol{
  color:#ec5d68;
  }
  .cast {
    padding-bottom: 10px;
}
  .col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.col-xs-5ths {
    float: left;
    margin-top: 20px;
    width: 20%;
}
.label-red{
    color: #ec5d68;
    font-weight: 200;
}
.cast img {
    float: left;
    font-size: 14px;
    margin-right: 20px;
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20% !important;
        float: left;
		margin-top:30px;
    }

}
@media (max-width: 991px) {
.dropdown-toggle.js-activated.disabled.c-link {
    margin-top: 8px;
}
}
.playbtn {
    color: #ffffff;
}
.playbtn:hover , .playbtn:focus , .playbtn:active{
    color: #ffffff;
}
.play_btn a.playbtn:hover ,.play_btn a.playbtn:active,.play_btn a.playbtn:focus{color:#ffffff}
.tp-loader.spinner2.loader{top:0!important;}
.img-responsive.responsive-image {
    width: 100%;
}
.bottom25{padding-bottom: 25px;}
.input-group-btn span, .input-group-btn i{font-size:22px;}
.c-layout-header-fixed .c-layout-page{margin-top:80px;}
.titleheight{height:47px;}
.c-layout-header .c-quick-search > .form-control{height: 80px;}
.c-layout-header .c-quick-search > .leftsearchicon{position: absolute;top: 30px;font-size:22px;}
@media (max-width: 991px) {
    .c-layout-header .c-quick-search > .leftsearchicon{
        top: 21px;
    }
}
#siteSearch{
    margin-left: 25px;
}
.c-page-on-scroll .c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-btn-icon{padding:15px;}

.content-area{padding-top:20px; padding-bottom:20px;}
.content-box{margin-bottom:20px;}
.relative{position: relative;}
.c-shop-product-details-2 .c-product-gallery > .c-product-gallery-content{height:100%;}
#loader_episode, .loader{position: absolute; width: 100%; height: 100%; top: 0px; bottom: 0px; left: 0px; display: none; background: url('../images/loading.gif') no-repeat center;}

.c-layout-header{background: #FFF;}
#myPopover ul, #myPopover li{list-style: none; padding:0px;}
#myPopover li{display: inline-block; padding: 5px; cursor: pointer; width: 100%;}
#myPopover li:hover, #myPopover li.active{color:#32c5d2;}
.nav > li > a:hover, .nav > li > a:focus{background-color: inherit;}
img.img-left{ margin-right: 20px; display: inline-block; }
.selectplan {
    background: #f7fafb none repeat scroll 0 0;
    border: 2px solid #f4f8f9;
    color: #333;
    padding: 10px;
    position: relative;
}
.c-layout-header-fixed.c-layout-header-topbar .c-layout-page{margin-top: 82px;}
@media (max-width: 991px) {
    .c-layout-header-fixed.c-layout-header-topbar .c-layout-page{margin-top: 65px;} 
    .c-layout-header .c-navbar .c-mega-menu.c-mega-menu-dark-mobile li .fa{color:#FFF;}
    .c-layout-header .c-quick-search > .form-control{height: 65px;}
    .c-layout-header .c-quick-search > span{top:8px;}
}
@media (min-width: 992px) {
.c-layout-header .c-quick-search > .c-theme-link{top: 40px;}
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-link{min-height:80px;padding: 30px 15px; }
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-btn-icon{margin:15px 5px;}
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li > .c-link.profile{padding: 23px 15px;}
.c-layout-header .c-navbar .c-mega-menu > .nav.navbar-nav > li > a.language-list{padding: 30px 15px;}
}

.profile .user-icon{max-width: 35px;}
.list-box{background-color: #ffffff !important; border: 1px solid #f6f6f6;}
.lowopacity{opacity: 1;}
.bg-black{background-color: #000;}
.social-icon-size .fa{font-size:20px;}
.c-layout-go2top > i{color:#CCC;}
.c-layout-breadcrumbs-1 .c-page-title h3{margin:8px 0px;}
.fancybox-wrap{opacity:1 !important;}
#episodes .c-info {
    min-height: 113px;
}
.c-font-capitalize{text-transform:capitalize}
a{color:#6e6f76}
.crusor{cursor:pointer}
.genre {
    margin-right: 6px !important;
}
.sortby_active{color:#32c5d2}
.filter_by {
    margin-left: 15px;
}
.dropdown-menu.pull-right > form {
    width: 280px;
}
.c-mega-menu a{color:#3a3f45}
.sortby:hover{color:#32c5d2} 
code{background-color:#32c5d2;color:#ffffff}
.c-weight-300{font-weight:300}
.box{height:18px !important;}
.c-font-none{text-transform: none;}
.top6{padding-top: 6px;}
.btn.btn-default.btn-sm.poweredby {
    padding: 0 5px;font-size: 14px;margin-top: 10px;
    
}

.btn.btn-default.btn-sm.poweredby::before {
    border-bottom: 8px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 75px;
    margin: auto;
    position: absolute;
    top: 110px;
    width: 0;
}

@media (max-width: 991px) {
 .btn.btn-default.btn-sm.poweredby::before { top: 125px;}  
}