/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
    background: #fff;
    width: 100%;
}
*/
    .mainpop{
    width: 100%;
    height: auto;
    display: none;
    //background: rgba(0,0,0,0.4);
    overflow: hidden;
    position: fixed
}
   .containerpop{
    display: block;
    width: 800px;
    height: 500px;
    background: none;
    margin: 20px auto;
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    transition: 0.7s ease;

}
    .containerpop .popuppop{
    display: block;
    width: 100px;
    height: 300px;
    background: #fff;
    border: 1px solid #CCC;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    transition: 0.85s ease;
    margin: auto;
    z-index: -2;
}

    .containerpop .closepop{
     position: absolute;
     top: 10px;
     left: 10px;
     display: none;
     font-family: tahoma;
     font-size: 20px;
     cursor: pointer;
     z-index: 1;
    
}

    .containerpop h1 {
    display: none;
    position: absolute;
    color: #333;
    top: 30px;
    left: 195px;

}

    .containerpop p {
    display: none;
    position: absolute;
    top: 70px;
    color: #01b388;
    left: 110px;
    font-size: 20px;
    font-weight: bold

}

    button{
    width: 150px;
    height: 60px;
    background: #01b388;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-family: tahoma;
    font-size: 20px;
    outline: none;
    color: #fff;
    cursor: pointer
}/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
    background: #fff;
    width: 100%;
}
*/
    .mainpop{
    width: 100%;
    height: auto;
    display: none;
    //background: rgba(0,0,0,0.4);
    overflow: hidden;
    position: fixed
}
   .containerpop{
    display: block;
    width: 800px;
    height: 500px;
    background: none;
    margin: 20px auto;
    position: relative;
    padding-top: 50px;
    overflow: hidden;
    transition: 0.7s ease;

}
    .containerpop .popuppop{
    display: block;
    width: 100px;
    height: 300px;
    background: #fff;
    border: 1px solid #CCC;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    transition: 0.85s ease;
    margin: auto;
    z-index: -2;
}

    .containerpop .closepop{
     position: absolute;
     top: 10px;
     left: 10px;
     display: none;
     font-family: tahoma;
     font-size: 20px;
     cursor: pointer;
     z-index: 1;
    
}

    .containerpop h1 {
    display: none;
    position: absolute;
    color: #333;
    top: 30px;
    left: 195px;

}

    .containerpop p {
    display: none;
    position: absolute;
    top: 70px;
    color: #01b388;
    left: 110px;
    font-size: 20px;
    font-weight: bold

}

    button{
    width: 100px;
    height: 60px;
    background: #01b388;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-family: tahoma;
    font-size: 20px;
    outline: none;
    color: #fff;
    cursor: pointer
}