
<div class="c-layout-page">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="feature-banner">
            <div class="overlay-img">
                <div class="left23">
                    <div class="row">
                        <div class="col-sm-10">
                             <h1 class="center white">{$this->Language['product_list']}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

    {assign var="cropDimesion" value=Yii::app()->common->getPgDimension()}    
    <div class="container">   
         <div class="wrapper bottom-padding50">
        <div class="c-layout-sidebar-content ">
            <div class="row">
        {assign var="producturl" value=Yii::app()->createUrl("/")}
        {foreach from=$product key=k item=value}
        <div class="col-md-5ths col-xs-6   margin-bottom-30 product_list">
        <div class="productlist cart-item">
            <div>
                 {assign var="img_path" value=PGProduct::getpgImage($value['id'],'standard')}
                <a href="{$producturl}/{$value['permalink']}" >                 
                    <img alt="{$value['name']}" src="{$img_path}" title="{$value['name']}" >
                </a>
            </div>
            <div class="col-md-12 ">
                   <div class="col-sm-8">
                 <div style="min-height:40px;" class="title">
                  <a title="{$value['name']}" href="{$producturl}/{$value['permalink']}">
                      <h3 class="itemname text-left">
                         {if $value['name']|count_characters > 20}
                        {$value['name']|substr:0:20}
                        {else}
                        {$value['name']}
                        {/if}</h3>
                  </a>
                 </div>
                </div>
                <div class="col-sm-4 text-right">
                    <h3 class="itemname">
                        {if $value['is_preorder'] == 0}
                        {Yii::app()->common->formatPrice($value['sale_price'],$value['currency_id'])}
                        {else}
                        &nbsp;
                        {/if}
                    </h3>
                </div>
               </div>
                     <div class="clearfix"></div>
                    {if $value['status']==1}
                        {if $value['is_preorder'] == 0}
                     <input type="button" class="AddToCart btn cart-btn" name="" value="{$this->Language['add-to-cart']}" onclick="showcart({$value['id']}, 1);">
                       <input type="button" class="AddToCart btn order-now" name="" value="{$this->Language['ordernow']}" onclick="showcart({$value['id']}, 2);">
                
                        {else}
                        <input type="button" class="AddToCart btn order-now" name="" value="Pre Order" onclick="window.location='{$producturl}/{$value['permalink']}'">
                      <input type="button" onclick="window.location='{$producturl}/{$value['permalink']}'" value="{$this->Language['ordernow']}" name="" class="AddToCart btn order-now">
                        {/if}
                    {elseif $value['status']==3}
                    <button class="AddToCart btn cart-btn btn-disabled stockout">{$this->Language['stock_out']}</button>

                    {/if} 
                         
            
                
                
                            
        </div>
    </div>
 {/foreach}
        </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="{Yii::app()->getBaseUrl(true)}/common/js/placeholder/holder.js"></script>
{literal}
<script type="text/javascript">
    function showcart(id, flag){
        $('.loader_cart').show();
        var url = '{/literal}{$this->siteurl}{literal}/shop/addtocart';
        $.post(url, {'quantity':1, 'id':id}, function(res){
            if (flag == 2){
                window.location.href = '{/literal}{$this->siteurl}{literal}/shop/cart';
            } else{
                $('.loader_cart').hide();
                $('html,body').animate({scrollTop:0}, 500);
                $('#round-cart').html(eval($('#round-cart').html()) + 1);
                $('#cartpopup').html(res);
            }
        })
    }
</script>
{/literal}