.has-player {
    padding-bottom: 87px;
}

.ap {
    -moz-user-select: none;
    background: #12171f;
    border-top: 0px solid #ccc;
    bottom: 0;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    font-size: 14px;
    height: 87px;
    left: 0;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 99999;
}

.ap__item--track {
    flex-direction: column;
}

.play-section {
    display: flex;
}
.ap__item.ap__item--track {
    border-left: 1px solid #1c2430;
    border-right: 1px solid #1c2430;
}

.ap__inner {
    margin: 15px auto 10px;
    max-width: 100%;
    height: 60px;
}
button{
    width: 60px;
    height: 60px
}
/*Album Art*/
.art{
    width:100%;
}
.art .card{
    position: absolute;
    left: 20px;
}
.art-desc{
    padding-right: 20px;
}
.art-desc h6{
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
}
.art-desc h6,.art-desc p{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.art .card figure>img,.art .card figure{
    border-radius: 4px;
}
/*Track*/
.track__time {
    left: 0;
    top: -7px;
    width: 100%;
}
.track__time--duration {
    position: absolute;
    right: -50px;
}

.track__time--current {
    left: -50px;
    position: absolute;
}

.progress-container {
    margin-top: 0px;
    overflow: visible;
    padding: 2px 0;
}

.progress__bar::after {
    background: #b64b38;
}

.progress__bar {
    background: #b64b38;
}

.progress__preload {
    background: #7e7c8a;
}

.track {
    padding: 0px 18%;
}

.progress__bar,
.progress__preload {
    height: 2px;
}

.progress__bar,
.progress__preload {
    height: 1px;
}

.progress {
    border-radius: 0;
    height: 1px;
    margin-bottom: 7px;
}
.progress__bar:after{
    top:-1px;
    background: #12171f;
    border: 2px solid #b64b38;
}
.is-active .progress__bar:after{
    opacity: 1;
}
.volume {
    background: #1a1f2b;
    border: 0 solid #ccc;
    border-color: #1a1f2b transparent transparent;
}

.volume::before,
.volume::after {
    border-color: #1a1f2b transparent transparent;
}

.volume__bar {
    background: #b64a38;
}

.volume__track {
    background: #7e7c8a;
    width: 2px;
}

.pause-btn {
    display: none;
}

.is-playing .pause-btn {
    display: block;
}

.volume.shareicon {
    float: left;
    height: 113px;
    margin-left: -160px;
    padding: 20px 18px 10px;
    text-align: left;
    width: 175px;
}

.volume.shareicon::before,
.volume.shareicon::after {
    border-image: none;
    border-style: solid;
    border-width: 7px;
    bottom: -12px;
    content: "";
    margin-left: 65px;
    position: absolute;
    right: 5%;
}

.st2 {
    fill: #7e7c8a;
}
.ap__controls--repeat{
    display: none !important;
}
@media (max-width: 1024px){
    .ap__item > .ap__controls {
        -webkit-box-flex: 0;
        -webkit-flex: 0 25%;
        -ms-flex: 0 25%;
        flex: 0 25%;
    }
}
@media (min-width:992px){
    .ap__item.ap__item--playback {
        -webkit-box-flex: 1.9;
        flex: 1.9;
        overflow: hidden;
    }

    .ap__item.ap__item--track {
        -webkit-box-flex: 4.5;
        flex: 4.5;
    }
    .ap__item--settings{
        -webkit-box-flex: 1.4;
        flex: 1.4;
    }
    .art .card {
        width:85px;
        top:-10px;
    }
    .art-desc{
        padding-left: 120px;
    }
    .progress {
        background: #7e7c8a none repeat scroll 0 0;
    }
}
@media (max-width:991px){
    .has-player {
        padding-bottom: 69px;
    }
    .ap__item.ap__item--playback {
        -webkit-box-flex: 1.5;
        flex: 1.5;
        overflow: hidden;
    }

    .ap__item.ap__item--track {
        -webkit-box-flex: 2;
        flex:2;
    }
    .ap__item--settings{
        -webkit-box-flex: 1.2;
        flex: 1.2;
    }
    .art .card {
        width: 60px;
        top: 15px;
    }
    .art-desc{
        padding-left: 95px;
        margin-top: 15px;
    }
    .track{
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
    }
    .progress {
        background: #242a33 none repeat scroll 0 0;
    }
}

@media (max-width: 767px) {
    .ap__item.ap__item--playback{
        -webkit-box-flex: 4.8;
        flex: 4.8;
    }
    .ap__item.ap__item--track{
        border: 0;
        align-items: flex-end;
    }
    .art .card {
        top: 7px;
        left: 15px;
    }
    .ap {
        height: 70px;
    }
    .ap__item.ap__item--settings {
        margin-top: -40px;
        display: none;
    }
    .play-section {
       position: relative;
       top: 5px;
    }
    .ap__controls.ap__controls--prev,
    .ap__controls.ap__controls--next {
        display: none;
    }
    .ap__inner {
        margin: 5px auto 5px;
    }
}
@media (max-width:580px){
    .ap__item--playback, .ap__item--settings{
        -webkit-box-ordinal-group: 1;
        -webkit-order: 1;
        order:1;
    }
}