{include file='../layouts/banner.html'} 

<div class="container site_sdkIndex " id="page" style="position:relative; margin-top: 30px;">          
    {foreach from=$sections|json_decode item=section}  
    {if $section->total > 0}
    <div class="parent_sec">
        <!-- breadcrumbs -->
        <div class="row">
            <div class="col-sm-8 col-lg-8"><h2 class="caps"> {$section->title|utf8_decode} </h2></div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="slider responsive ">
                    {foreach from=$section->contents item=content}
                    {if $section->content_type == 1}
                    {include file='../shop/singleitem.html'}  
                    {else}
                    <div> 
                            <div class="thumbnail listpos">
                                <div class="caption">
                                    {$content->play_btn}
                                </div>                                   
                                <a href="{$content->permalink}">
                                    <img class="img-tshow lazy" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" src="{$content->poster}">
                                </a>
                                <div class="overtext popup_content">
                                    <div class="arrow"></div>
                                    <div class="ptitle caps"><a href="{$content->permalink}">{$content->title|utf8_decode}</a></div>
                                    <div class="stripe col-md-12">
                                        <div class="col-md-8">
                                            {foreach from=$content->genres item=genre}
                                            <span class="genre_list"> {$genre}<span>,</span> </span> 
                                              {/foreach} 
                                        </div>   
                                        <div class="col-md-4 text-right">{$content->release_date}</div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="ptext">{$content->short_story|utf8_decode} {if $content->story|count_characters:true > 200}<a href="{$content->permalink}">{$this->Language['more']}</a>{/if}</div>
                                    <div class="clear"></div>
                                     {if $content->casts->actors|count > 0}
                                    <div class="popup-cast">
                                        <div class="span12 row-fluid">
                                            <div class="cast-heading span4">{$this->Language['cast']}</div>
                                        </div>
                                        <div class="cast-body">
                                        {$actors = $content->casts->actors}
                                        {foreach from=$actors item=actor}
                                        <span class="caps"><a href="{$actor->full_permalink}" >{$actor->celeb_name}</a></span>,      
                                        {/foreach}   
                                        </div>
                                    </div>
                                     {/if}
        

                                </div>                                   
                            </div>
                            <h3 class="moviename"><a href="{$content->permalink}">{$content->title|utf8_decode}</a></h3>
                    </div>  
                    {/if}
                    {/foreach}

                </div>
            </div>
        </div>

    </div>
    {/if}

    {/foreach}  
</div>
{literal}
<script type="text/javascript">
    function showcart(id, flag){
        $('.loader_cart').show();
        var url = '{/literal}{$this->siteurl}{literal}/shop/addtocart';
        $.post(url, {'quantity':1, 'id':id}, function(res){
            if (flag == 2){
                window.location.href = '{/literal}{$this->siteurl}{literal}/shop/cart';
            } else{
                $('.loader_cart').hide();
                $('html,body').animate({scrollTop:0}, 500);
                $('#round-cart').html(eval($('#round-cart').html()) + 1);
                $('#cartpopup').html(res);
            }
        })
    }
</script>
{/literal}