<!-- Login Modal -->
<div id="loginModal" class="modal fade login-popu" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">

        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>


            <div class="modal-body popup_bottom">
                <div class="row">
                    <input type="hidden" id="movie_id" value="" />
                    <input type="hidden" id="stream_id" value="" />
                    <input type="hidden" id="season_id" value="" />
                    <input type="hidden" id="isppv" value="" />
                    <input type="hidden" id="videotype" value="" />
                    <input type="hidden" id="content-permalink" value="" />
                    <input type="hidden" id="content-type-permalink" value="" />
                    <input type="hidden" id="is_ppv_bundle" value="" />
                    <input type="hidden" id="isadv" value="" />
                    <input type="hidden" value="" id="play_url" />
                    <input type="hidden" value="" id="to_play" />
					<input type="hidden" id="isDownload" value="" />
                    <div  id="login_form_div">
                        <div class="col-md-12">
                            <ul class="list-inline top10p">
                                <li>
                                    <h5 class="text-uppercase">{$this->Language['login']}</h5></li>
                                <li class="meta-info">{$this->Language['dont_have_account']}  <a href="javascript:void(0);" onclick="showRegister();" class="text-uppercase">{$this->Language['btn_signup']}</a></li>
                            </ul>
                        </div>
                        {if $this->studio->social_logins}
                        {if isset($smarty.session.social) } 
                        {assign var=socialAuth value=$smarty.session.social}
                        {else}
                        {assign var=socialAuth value=$this->getSocialUrls()}
                        {/if}
                        {if $socialAuth}
                        <div class="col-md-12">
                            {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                            <a  href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="1" class="login-fb btn as-btn-lg btn-block facebook_login text-uppercase"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/Facebook-Icon.png"> {$this->Language['login_facebook']}</a>
                            {/if}
                        </div>
                        {/if}
                        
                        <div class="col-md-12">
                            <div class="gray text-center text-uppercase">-{$this->Language['or']}-</div>
                        </div>
{/if}
                        <div class="col-md-12">
                                <div id="login_errors" class="error"></div>

                            <form name="login_form" id="login_form" method="post">
                                <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                            <div class="loader" id="login_loading"></div>

                                <div class="form-group bottom10p">
                                    <input type="email" name="LoginForm[email]" id="username" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" value="" />

                                </div>
                                <div class="form-group bottom45p">
                                    <input type="password" name="LoginForm[password]" id="password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control" />
                                </div>

                                <button type="submit" class="btn as-btn-accent as-btn-md center-block top10p" id="login-btn">{$this->Language['btn_login']}</button>
                                <ul class="list-inline  text-center top15p">
                                    <li class="meta-info">{$this->Language['forgot_password']}<a href="{$this->siteurl}/user/forgot"> {$this->Language['btn_reset']}</a>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div  id="register_form_div" style="display: none;">
                        <ul class="list-inline top10p">
                            <li>
                                <h5 class="text-uppercase">{$this->Language['register']}</h5></li>
                            <li class="meta-info">{$this->Language['already_registered']} <a href="javascript:void(0);"   onclick="showLogin();" class="text-uppercase">{$this->Language['login']}</a></li>
                        </ul>
                   
                    {if $this->studio->social_logins}
                    {if isset($smarty.session.social) } 
                    {assign var=socialAuth value=$smarty.session.social}
                    {else}
                    {assign var=socialAuth value=$this->getSocialUrls()}
                    {/if}
                    {if $socialAuth}
                    <div class="col-md-12">
                        {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                        <a href="{$socialAuth['fb_url']}" class="login-fb btn as-btn-lg btn-block text-uppercase"><img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/Icons/Facebook-Icon.png"> {$this->Language['register_facebook']}</a>
                        {/if}
                    </div>
                    {/if}
               
                    <div class="col-md-12">
                        <div class="gray text-center text-uppercase">-{$this->Language['or']}-</div>
                    </div>
     {/if}
                    <div class="col-md-12">

                        <form id="register_form" name="register_form" method="POST" >
                            <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                            <div id="register_errors" class="error text-center"></div> 
                            <div id="loader_register" class="loader"></div>
                            <div class="row">
                                <div class="form-group col-md-6 bottom10p">
                                    <input type="text" required name="data[name]" id="fullname" placeholder="{$this->Language['text_name_placeholder']}" autocomplete="off" class="form-control" />
                                </div>
                                <div class="form-group col-md-6 bottom10p">
                                    <input type="email" required name="data[email]" id="email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" />
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-6 bottom10p">
                                    <input type="password" required name="data[password]" id="join_password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control join_password" />
                                </div>
                                <div class="form-group col-md-6 bottom45p">
                                    <input type="password" required="" value="" class="form-control" autocomplete="off" placeholder="{$this->Language['confirm_password']}" id="confirm-passwords" name="data[confirm_password]">

                                </div>
                                <ul class="list-inline  text-center bottom15p">
                                    <li class="meta-info"> 
                                        <input name="data[subscribe_newsletter]" value="1" type="checkbox" checked="checked"> &nbsp;{$this->Language['subscribe_to_announcement']}<br />
                                    </li>                                    
                                    <li class="meta-info"> {$this->Language['chk_over_18']}  <a  href="{$this->siteurl}/page/terms-privacy-policy" target="_blank">{$this->Language['terms']}</a></li>
                                </ul>
                                <button type="submit" class="btn as-btn-accent as-btn-md center-block" name="register_submit">{$this->Language['btn_register']}</button>

                            </div>
                        </form>
                    </div>

                </div>  
            </div>
        </div>
    </div>
</div>
</div>

<div id="ppvModal" class="modal fade login-popu" data-backdrop="static" data-keyboard="false"></div>
