<div class="col-fluid">
    <div class="card">
        <a href="{$data->playlist_permalink}"  data-pjax='main'>
            <figure style="background-image: url('{$this->siteurl}{$Yii->theme->baseUrl}/images/default-artwork.jpg');">
                <img class="owl-lazy" src="{$content_poster}" alt="{$data->playlist_name|utf8_decode}" title="{$data->playlist_name|utf8_decode}" >
                    <div class="overlay text-center">
  <a href="{$data->playlist_permalink}"  data-playlist_id="{$data->id}" data-playlist_name="{$data->playlist_name}" data-user_id="0">                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-201 40 467 467">
                                <g>
                                    <circle class="st0" cx="34" cy="274.1" r="227" />
                                    <circle class="st1" cx="34" cy="274.1" r="220" />
                                    <g class="st2">
                                        <path class="st3" d="M123.7,269.9L-5.2,195.5c-3.3-1.9-7.3-1.9-10.6,0s-5.3,5.4-5.3,9.2v148.8c0,3.8,2,7.3,5.3,9.2
                                              c1.6,1,3.5,1.4,5.3,1.4s3.6-0.5,5.3-1.4l128.9-74.4c3.3-1.9,5.3-5.4,5.3-9.2S127,271.8,123.7,269.9z" />
                                    </g>
                                </g>
                            </svg>  
                        </a> 
                    </div>
            </figure>
            <h6> <a href="{$data->playlist_permalink}" class="c-white" data-pjax='main'>{$data->playlist_name|utf8_decode}</a></h6>
   <p class="clear-bottom"></p>
  </a>
    </div>
</div>