<div class="content-holder audio-body audio-list">
	
    {foreach from=$sections|json_decode item=section} 
    {if $section->total > 0}
    <section>
        <h6 class="text-uppercase">{$section->title|utf8_decode}</h6>

        <div class="owl-carousel">
            {foreach from=$section->contents item=content}
            <div class="card">
                <a href="{$content->permalink}"  data-pjax='main'>
                    <figure style="background-image: url('{$this->siteurl}{$Yii->theme->baseUrl}/images/default-artwork.jpg');">
                        <img class="owl-lazy" data-src="{$content->poster}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}">
                            <div class="overlay text-center {if $content->content_types_id == 5 && $content->full_movie == ''} hide {/if}">
                                <a {if $content->is_episode == 3} class="playPlaylist" data-playlist_id="{$content->movie_id}" data-playlist_name="{$content->title}" data-index="0" data-user_id="0" {else}{if $content->content_types_id == 5} href="javascript:void(0);"{else} href="{$content->permalink}"  data-pjax='main' {/if} class="playAudioContent" {if $content->content_types_id == 5} onclick="playAudio(this)" {/if} {/if} id="{$content->movie_id}" data-content_type="{$content->is_episode}" >
									<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-201 40 467 467">
                                        <g>
                                            <circle class="st0" cx="34" cy="274.1" r="227" />
                                            <circle class="st1" cx="34" cy="274.1" r="220" />
                                            <g class="st2">
                                                <path class="st3" d="M123.7,269.9L-5.2,195.5c-3.3-1.9-7.3-1.9-10.6,0s-5.3,5.4-5.3,9.2v148.8c0,3.8,2,7.3,5.3,9.2
                                                      c1.6,1,3.5,1.4,5.3,1.4s3.6-0.5,5.3-1.4l128.9-74.4c3.3-1.9,5.3-5.4,5.3-9.2S127,271.8,123.7,269.9z" />
                                            </g>
                                        </g>
                                    </svg>  
                                </a>                                     
                            </div>
                    </figure>
                </a>

                <h6 class='text-capitalize'> <a href="{$content->permalink}" class="c-white"  data-pjax='main'>{$content->title|utf8_decode}</a></h6>
                <p class='text-capitalize'>{$casts=$content->casts}
                    {foreach from=$casts key=counter item=cast}
                    {$cast_count=$cast|@count}
                    {$j=0}
                    {foreach from=$cast key=counter item=castitem}
                    {$castitem->celeb_name}{$j = $j+1}{if $j != $cast_count},{/if}{/foreach}{/foreach}
                </p>
                </a>
            </div>
            {/foreach}
        </div>
    </section>
    {/if}
    {/foreach}

</div>
<link rel="stylesheet" href="{$this->siteurl}{$Yii->theme->baseUrl}/vendor/owlcarousel/owl.carousel.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $('.wrapper').removeClass('has-not-sidebar');
        });

    </script>
