 .trimg{width: 150px;}
    .trimg img{height: auto !important;width: 100% !important;}
    .item-style {border: 1px solid #8e8e8e;}
    .btn-blue {background: #2cb7f6 none repeat scroll 0 0;border-color: #2cb7f6;color: #fff;}
    #pg_coupon{width: auto !important;display: inline !important;}
    #address_details{border-top:1px solid rgba(135, 151, 174, 0.15)}
    #payment_details{border-top:1px solid rgba(135, 151, 174, 0.15)}
    .radio-inline{margin-top: 0;}
    .btn-green {background: #2cb7f6 none repeat scroll 0 0;border-color: #2cb7f6;color: #fff;}
    #card-error{color: #f55753;font-size: 16px;margin-bottom: 20px;}
    #parentaddress {
        margin-top: -38px;
    }
 .update{margin-left:5px;color:#2acb99;}
.remove_item{color:#2acb99;}   
 .planbox1{
        cursor: pointer;
        background: #fff none repeat scroll 0 0;
        border-left: 2px solid #ff1970;
        border-top: 2px solid #ff1970;
        border-right: 2px solid #ff1970;
        color: #333;
        padding: 10px;
        position: relative;
    }
    .choosen{border-color:#2acb99;}
    .address_page {
        margin-left: -22px;
        width: 100%;
    }
    .payment_details {
        margin-left: -7px;
        width: 100%;
    }
.cart_page div h3{font-size:20px !important; margin-bottom: 20px;}
    .btn-cart{margin-bottom: 5px; padding:8px 22px !important;}
    .planbox2{
        border-bottom: 2px solid #ff1970;
        border-left: 2px solid #ff1970;
        border-right: 2px solid #ff1970;
        padding: 10px;
        background: #fff none repeat scroll 0 0;
    }