/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}


.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #2acb99;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}





.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
       font-size: 19px;
    height: 54px;
    margin-right: -15px;
    margin-top: -11px;
    width: 56px;
}
.top18-{margin-top:-9px}
.header-text{ padding-top:24px;color: #cccccc;}

th{ background:#e20813; text-align:center; font-weight:bold}
/*tr td:nth-child(1){
    width:150px;
	background:#F00;
	
}*/
.table > tbody > tr > td:nth-child(1) {
	font-weight:normal;
	width:32px;
	background:#e20813;
	background: #e20813; /* Old browsers */
	background: -moz-linear-gradient(left,  #e20813 0%, #5c0308 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #e20813 0%,#5c0308 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #e20813 0%,#5c0308 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e20813', endColorstr='#5c0308',GradientType=1 ); /* IE6-9 */

}
.table > tbody > tr > td:nth-child(2) {
    width:150px;
	margin-right:20px;
}
.table > tbody > tr > td {
	 border:4px solid #000;
	 background:#111;vertical-align: middle;
}
.table > tbody > tr > td:hover {
	background:#f00;
	 box-shadow: 0px 0px 150px #000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 500ms ease-in;
    transform: scale(1.02);
}

.table-responsive {
    border: 0px solid #ddd;
    margin-bottom: 15px;
    overflow-y: hidden;
    width: 100%;
	height:300px;
}
.date-bg {
    background: #374a4e;
    height: 54px;
}