body
{
    background:#EDEFF0;
}


.navbar {
    border: 1px solid transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;

}

.navbar-default {
    background-color: #000;
    border-bottom: 0px solid #ff1970;
}

.navbar-default .navbar-nav > li > a:hover{
    background-color: #ff1970;
    color: #fff;
}


.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.logo{
    background:url(../images/pink/logo.png) no-repeat;
}


.btn-danger {
    background-color: #ff1970;
    border-color: #ff1970;
    color: #fff;
    text-transform:uppercase;
}
.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open > .dropdown-toggle.btn-danger {
    background-color: #f94388;
    border-color: #ff1970;
    color: #fff;
}
.btn-primary2 {
    background-color: #ff1970;
    color: #fff;
}
.btn-primary2:hover {
    background-color: #ff1970;
    color: #fff;
}


.btn-primary2-mid {
    background-color:#ff1970;
    border:1px #ff1970 solid;
    color: #fff;

}

.thumbnail .strip-text :hover
{
    color:#fff;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #337ab7;
}



.strip-text
{
    border-bottom: 1px solid #000;
}
.strip-text:hover
{
    color:#ff1970;
     border-bottom: 1px solid #000;
}
.thumbnail {
      border: 0px solid #ddd;
}

.caption {
    border:2px solid #ff1970;
    color:#fff !important;
    background:rgba(0,0, 0, 0.35);
}

.playbtn {
    background: url("../images/pink/play_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.strip2{    background:#000;
    border-bottom: 1px solid #000;}
.strip-text2
{
    color:#ff1970;
}

.footer {
    background-color: #000;
    border-top: 2px solid #181818;
    color: #fff;

}



.carousel-inner {
    border: 2px solid #ff1970;
}

.red-border
{
    border:#ff1970 2px solid;
    border-radius:0px;
}

.active_block {
    border-bottom: 4px solid #ff1970;
}

.block_header {
    color: #ff1970;
}
.link-bold a
{
    font-size:16px;
    color:#ff1970;
    text-transform:uppercase;
}

.bg-white{background:#fff; border: solid 1px #000;}
.input-lg
{
    
    border: 1px solid #ddd;
    background:#fafafa;
}
.login-title {
    background-image: url("../images/icons/login-icon.png");
}

.form-control {
    background-color: #fff;
    border: 2px solid #8e8e8e;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.016) inset;
    color: #555;
}
.heading_2 {
    color: #000000;
}
label {
    color:#000;
}

.billed-box {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ff1970;

}
.billed-box .tick-icon {
    background: url("../images/pink/tick-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);

}
.billed-box h3 {
    color: #ff1970;
}
.billed-box2 {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ddd;

}
.middle{ margin-left:16%;}
.white{ color:#fff;}
.pink{ color:#ff1970;}
.gray{ color:#ff1970;}
.cyan{ color:#ff1970;}

.light-black{color:#eee;}

.capitalize{text-transform:uppercase}
.linkcol{color:#FF1970;}
.btn-default {
        background-color: #fff;
    color: #333;
    border-bottom:0px #fff solid;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    background-color:#fff;
    border-color: #adadad;
    color: #333;
}
.strip
{
    background:#000;
    border-bottom: 1px solid #000;
}
.strip:hover
{
    background:#000;
    border-bottom: 1px solid #000;
}
.thumbnail .caption {
    color: #333;
}
.carousel-control.right { background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);}
.carousel-caption{
   color: #fff; 
}
.carousel-top h1{color:#fff;}
.search-head{border-bottom:1px solid #9e9e9e;}
.bg-dark-gray
{
    background:#181818;
}
.bg-pink{
    background:#ff1970;
    color:#fff;
}
.bg-gray{
    background:#46484b;
    color:#fff;
}
a:hover {
    background-color: #ff1970;
}


