
.navbar {
    margin-bottom:-20px;
    min-height: 100px;
    position: relative;
}
.navbar-nav {
    float: left;
    margin: 0 0 0 30px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {

    margin-top: 12px;
}
.top20{margin-top:15px;}
.top50{margin-top:50px;}


.navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius:5px;
    text-transform:uppercase;
    font-size:17px;
}

.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
    width: auto;
    border:0px;
    margin-top:-21px;
}
.logo{
    width:114px;
    height:25px;
}
.Textcolor h2 {color:#333 !important;}
.Textcolor p {color:#333 !important;}
.Textcolor .confirm {
    color: #333 !important;
}
.Textcolor .cancel {
    background: #f55753 none repeat scroll 0 0 !important;
    color: #fff !important;
}
.btn{
    padding: 9px 12px;
}
.btn-default {
    margin-top: -21px;
    border:0px;
}

.btn-group-lg > .btn, .btn-lg {
    font-size: 18px;
    line-height: 1.33333;
    padding: 5px 66px;
}
.btn-danger {
    text-transform:uppercase;
}


.thumbnail {
    background-color: transparent;
    position:relative;
    border-radius: 8px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 0px;
    transition: border 0.2s ease-in-out 0s;
    max-width:360px;
}

.thumbnail a > img, .thumbnail > img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.strip
{
    z-index: 9999;
    border-radius: 0 0 5px 5px;
    height:40px;
    margin-top:-40px;
    position:relative;
    padding: 8px 14px;
    opacity:0.3;
}
.strip:hover
{
    z-index: 9999;
    border-radius: 0 0 5px 5px;
    height:40px;
    margin-top:-40px;
    position:relative;
    padding: 8px 14px;
    opacity:0.9;
}


.strip-text
{
    z-index: 9999;
    border-radius: 0 0 5px 5px;
    height:40px;
    margin-top:-40px;
    position:relative;
    padding: 8px 14px;
    text-transform:uppercase;
    font-size:18px;
}
.strip-text:hover
{
    z-index: 9999;
    border-radius: 0 0 5px 5px;
    height:40px;
    margin-top:-40px;
    position:relative;
    padding: 8px 14px;
    text-transform:uppercase;
    text-decoration:none;
    font-size:18px;
}
.thumbnail {
    position:relative;
    /*overflow:hidden;*/
}
/*.carousel-inner > .item > a > img {
width:100%;
}*/

.caption {
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    padding:0%;
    display: none;
    text-align:center;
    z-index:2;
    border-radius: 5px;
}

.playbtn {
    bottom: 0;
    height: 103px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 103px;
}
.form-control {
    background-image: none;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    height: 38px;
    line-height: 1.42857;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.strip2
{
    z-index: 9999;
    border-radius: 5px 5px 0 0 ;
    height:40px;
    position:relative;
    padding: 8px 14px;
    opacity:0.3;
}

.strip-text2
{
    z-index: 9999;
    border-radius: 5px 5px 0 0 ;
    height:40px;
    margin-top:-40px;
    position:relative;
    padding: 8px 14px;
    text-transform:uppercase;
    font-size:18px;
}
.thumbnail .caption {
    padding: 0px;
}

.footer {
    height: 121px;
    width: 100%;
    border-top: #e7e7e7 2px solid;
}



.left20-
{
    margin-left:-15px;
}
.right15-
{
    margin-right:-15px;
    float:right;
    padding: 0;
}
.left15-{margin-left:-15px;}	
.left10
{
    margin-left:10px;
}
.top30-
{
    margin-left:-30px;
}
.top20-
{
    margin-top:-26px;
}
.top10{ margin-top:10px;}
.top0{ margin-top:0px;}
.carousel-inner {
    overflow: hidden;
    position: relative;
    width: 107%;
    border-radius: 7px;
}

.carousel-control.right {
   
    background-repeat: repeat-x;
    left: auto;
    margin-right: -7%;
    right: 0;
}

.carousel-caption {
    bottom: 20px;
    left: 3%;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    right: 15%;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    z-index: 10;
}
.carousel-caption h1
{
    font-size:48px;
    font-weight:bolder;
    text-transform:uppercase;
}

.carousel-top h1
{
    font-size:48px;
    text-transform:uppercase;
    position:absolute;
    top:0;
    padding-left:25px;
}


.top-index
{
    z-index:9999 !important;
    position:relative;
    margin-top: 59px;
}

.small-font-size li a
{
    text-transform:none;
    font-size:14px;
}

.search-head{height:35px;}
.search-head2{float:left; margin-left:60px;}
.search-head2a{float:left;color:#ff1970}
.block_header {
    cursor: pointer;
    float: left;
    font-size: 28px;
    padding-left: 7px;
    margin-top:-10px;
}

.clear
{
    width:100%;
    clear:both;
}
.bg-dark-gray
{
    padding:30px;
}
.bg-pink{
    padding:5px 20px;
    font-size:16px;
}
.bg-gray{
    padding:5px 20px;
    font-size:16px;
}
.heading_2 {
    font-size: 31.5px;
    font-weight: 300;
    line-height: 40px;
    margin: 40px 0 10px;
    text-rendering: optimizelegibility;
}
.heading_3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.login-title {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
    text-transform: uppercase;
}
.form-left
{
    margin-left:-30px;
}
.form-width
{
    width:196px;
}
.form-width2
{
    width:164px;
}
.form-width2a {
    width: 170px;
}
.form-width3 {
    width: 245px;
}
.form-width4 {
    width: 210px;
}
.form-space
{
    height:20px;
}
label {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 5px;
    max-width: 100%;
    font-size:18px;
}
.divider
{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
    height:1px;
    //background-color: #e7e7e7;
    //border-color: #e7e7e7;
    
}
.billed-box {

    border-radius: 4px;
    margin: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.billed-box .tick-icon {
    height: 38px;
    margin: -19px -17px 0;
    position: absolute;
    width: 38px;
}

.billed-box2 {
    border-radius: 4px;
    margin: 10px;
    padding-bottom: 15px;
    text-align: center;
}
.form-spacing
{
    margin-bottom:15px;
}
.padd15{padding-left: 15px;}
.billed-box h3{font-weight: 400;}
.bold{ font-weight:bold;}
.btn-primary2-mid{    padding:1px 30px;
    font-size:22px;}
.active_block {
    border-bottom: 4px solid #ff1970;
}
.block_header2 {
    cursor: pointer;
    float: left;
    font-size: 28px;
    padding-left: 7px;
    margin-top:-10px;
}
.input-lg{width:100%;}
.cast-list {
    min-width: 255px;
    max-width: 255px;
    height: 70px;
}
.cast-list ul {
    margin-left:-40px;
}
.cast-list ul li {
    display: inline;
    font-size: 15px;
    font-weight: bold;
    list-style: outside none none;
    text-decoration: none;
    text-transform: uppercase;

}
.cast-text {
    margin-left: 10px;
}
.cast-text2 {
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-left: 55px;
    margin-top: -15px;
}
.img-circle-top {
    margin-top: 18px;
}
.devider {
    margin: 20px 0;
}
.body-top- {
    margin-top: -7px;
}
.header-big {
    font-size: 40px;
    margin-top: -7px;
    text-transform: uppercase;
}
a{
    margin-right: 4px;
    margin-left: 4px;
}

