    <div class="container">
        <div class="row top20 col-md-12">
            <h2>{$this->Language['create_account_now']}</h2> 
            <form id="membership_form" name="membership_form" method="POST" class="form-horizontal" action="javascript:void(0);">
				<input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
				
				<div class="loader" id="membership_loading"></div>
                                {if $this->studio->social_logins}
                                {if isset($smarty.session.social) } 
                                {assign var=socialAuth value=$smarty.session.social}
                                {else}
                                {assign var=socialAuth value=$this->getSocialUrls()}
                                {/if}
                                {if $socialAuth}
                                <div class="form-group">
                                    <ul class="social-icons invert">
                                        {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                                        <li><a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="0" class="facebook_login facebook social_login"></a></li>     
                                        {/if}
                                        {if ($this->studio->social_logins & 2) && $socialAuth['gplus_url'] }
                                        <li><a href="{$socialAuth['gplus_url']}" class="googleplus social_login"></a></li>    
                                        {/if}  
                                    </ul>
                                </div>
                                {/if}
                                {/if}
                <div id="errors" class="error center"></div>  
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">{$this->Language['text_name']}</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" autocomplete="off" placeholder="{$this->Language['text_name_placeholder']}" id="name" name="data[name]" required />
                    </div>
                    {if (!$this->register_with_mobile)}
                    <label for="email" class="col-sm-2 control-label">{$this->Language['email']}</label>
                    <div class="col-sm-4">
                        <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['text_email_placeholder']}" id="email_address" name="data[email]" required />
                    </div>  
                    {/if}
                </div> 
                {if ($this->register_with_mobile)}
            <div class="form-group">
           
                <label for="email" class="col-sm-2 control-label">{$this->Language['mobile']}</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" autocomplete="off" placeholder="{$this->Language['mobile']}" id="mobile_number" name="data[mobile_number]" required />
                     <input type="hidden" name="data[is_api]" id="is_api" value="{$is_api}" />

                </div> 
                
                </div>
                {/if}
                {if (!$this->register_with_mobile)}
                <div class="form-group">
                    <label for="join_password" class="col-sm-2 control-label">{$this->Language['text_password_placeholder']}</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['text_password_placeholder']}" id="join_password" name="data[password]" required />
                    </div>

                    <label for="confirm_password" class="col-sm-2 control-label">{$this->Language['confirm_password']}</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['confirm_password']}" id="confirm_password" name="data[confirm_password]" required />
                    </div>                    
                </div> 
                {/if}

                <div class="top20"></div>
                <div class="form-group ">
                    <div class="col-sm-12">
                        <label><input name="data[subscribe_newsletter]" value="1" checked="checked" type="checkbox"> &nbsp;{$this->Language['subscribe_to_announcement']}</label>
                    </div>                
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <div class="">
                            <label>
                                
                                {$this->Language['chk_over_18']}  <a class="link linkcol" href="{$this->siteurl}/page/terms-privacy-policy" target="_blank">{$this->Language['terms']}</a>
                            </label>
                            <label id="data[over_18]-error" class="error" for="data[over_18]" style="display: none;"></label>
                        </div>
                    </div>
                </div>            

                <div class="clear"></div>
                <div class="form-group col-md-12">
                    <div class="controls">
                        <div class="pull-left">
                            <button id="register_membership" class="btn btn-primary" onclick="validateSignupStep1Form();">{$this->Language['btn_register']}</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>                   

                <span class="error" id="plan_error"></span>     
            </form>            
        </div>
    </div>
   
<script type="text/javascript">
    var action = 'saveuser';
    var btn = 'Register';
</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>
