<div class="single-product-area">
    <div class="container">
        <div class="row top20">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>{$this->Language['reset_your_password']}</h2>
                <form name="frmRT" id="frmRT" method="post">
                    <div id="reset-loading" class="loader" style="display: none;"></div>
                    <input type="hidden" name="reset_password_token" value="{$token}" readonly />
                    <input type="hidden" name="email" value="{$email}" readonly />
                    <input type="hidden" name="user_id" value="{$user_id}" readonly /> 
                    
                    <div class="form-group ">
                        <label class="control-label required" for="password">{$this->Language['text_new_password']}</label>
                        <div class="controls">
                            <input type="password" name="password" id="password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control" />
                        </div>
                    </div>     

                    <div class="clear"></div>
                    <div class="form-group ">
                        <div class="controls">
                            <button type="submit" class="btn btn-lg btn-primary btn-green-small pull-right" name="login_submit" id="login-btn"><i class="fa fa-sign-in" aria-hidden="true"></i> {$this->Language['btn_reset']}</button>
                        </div>
                    </div>
                    <div id="reset-errors" class="error center"></div>
                </form>                 
            </div>   
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<div class="modal fade custom-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content planWrapper-Content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-close" style="color:white;"></i></span></button>
                <h1 class="modal-title text-center" id="myModalLabel">{$this->Language['reset_password']}</h1>
            </div>
            <div class="modal-body result-message">
             {$this->Language['password_changed']}.
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#reset-loading').hide();
    });
</script>