<!-- Login Modal -->
<style>.sub_title{ font-size:14px; }
    </style>
<div id="loginModal" class="modal fade login-popu">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{$this->Language['oops_only']}</h4>
            </div>            
            <div class="modal-body">
                <div class="row-fluid popup_bottom">

                    <input type="hidden" id="content_title" value="">
                    <input type="hidden" id="movie_id" value="" />
                    <input type="hidden" id="stream_id" value="" />
                    <input type="hidden" id="season_id" value="" />
                    <input type="hidden" id="isppv" value="" />
                    <input type="hidden" id="videotype" value="" />
                    <input type="hidden" id="content-permalink" value="" />
                    <input type="hidden" id="content-type-permalink" value="" />
                    <input type="hidden" id="is_ppv_bundle" value="" />
                    <input type="hidden" id="isadv" value="" />
                    <div class="col-md-12" id="login_form_div">
                        <input type="hidden" value="" id="play_url" />
                        <input type="hidden" value="" id="to_play" />
                        {if ($this->otp_enable == 1 || $this->otp_enable == 2)}
                        <form name="otp_form" id="otp_form" method="post" class="form-horizontal" action="javascript:void(0);">
                            {else}
                        <form name="login_form" id="login_form" method="post" class="form-horizontal" action="javascript:void(0);">
                            {/if}
                            <div id="login_loading" class="loader" style="display: none;"></div>

                            <div class="form-group">
                                <h4>{$this->Language['already_registered']}</h4>
                                <div id="login_errors" class="error"></div>
                                <div id="login_success" class="error center" style="color: green;"></div>
                            </div>
                            {if $this->studio->social_logins}
    {if isset($smarty.session.social) } 
    {assign var=socialAuth value=$smarty.session.social}
    {else}
     {assign var=socialAuth value=$this->getSocialUrls()}
    {/if}
    {if $socialAuth}
    			<div class="form-group">
				<ul class="social-icons invert">
				{if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                                    <li><a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="1" class="facebook_login facebook social_login"></a></li>     
                                {/if}
				 {if ($this->studio->social_logins & 2) && $socialAuth['gplus_url'] }
                                <li><a href="{$socialAuth['gplus_url']}" class="googleplus social_login"></a></li>    
                                {/if}  
                                </ul>
			</div>
    {/if}
{/if}
                            <div class="form-group">
                                {if ($this->login_with == 3)}
                                <label for="username">{$this->Language['mobile']}</label>
                                <input type="text" name="LoginForm[mobile_number]" id="username" placeholder="{$this->Language['mobile']}" autocomplete="off" class="form-control" value="" />
                                {else}
                                <label for="username">{$this->Language['text_email']}</label>
                                <input type="email" name="LoginForm[email]" id="username" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" value="" />
                                {/if}
                            </div>
                            {if ($this->otp_enable == 2 || $this->otp_enable != 1)}
                            <div class="form-group ">
                                <label for="password">{$this->Language['text_password']}</label>
                                <div class="controls">
                                    <input type="password" name="LoginForm[password]" id="password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control" />
                                </div>
                            </div>
                            {/if}
                            {if ($this->otp_enable == 1 || $this->otp_enable == 2)}
                                
                                <div class="form-group" id="otp_display">
                                <label for="otp">{$this->Language['otp']}</label>
                                <div class="controls">
                                    <input type="password" name="LoginForm[otp]" id="new_otp" placeholder="{$this->Language['opt_placeholder']}" autocomplete="off" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <a href="javascript:void(0)" onclick="generateOtp()" id="otp_btn">{$this->Language['generate_otp']}</a>
                            </div>
                            {/if}
                            <div class="clear"></div>
                            <div class="form-group ">
                                <div class="controls">
                                    <input type="hidden" id="is_generateotp" name="LoginForm[is_generateotp]" value="" />
                                    <input type="hidden" name="LoginForm[chklogin]" value="{$this->login_with}" />
                                    <input type="hidden" id="chkPlay" value="{$this->chkPlayPermission}" />
                                    <input type="hidden" name="LoginForm[optenable]" value="{$this->otp_enable}" id="otp" />
                                    {if ($this->otp_enable == 1 || $this->otp_enable == 2)}
                                    <button type="button" class="btn btn-primary btn-green-small" name="login_submit" id="login-btn" onclick="validateOTPLogin();">{$this->Language['btn_login']}</button>
                                    {else}
                                    <button type="submit" class="btn btn-primary btn-green-small" name="login_submit" id="login-btn">{$this->Language['btn_login']}</button>
                                    {/if}
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="controls">
                                    <div class="pull-left"><a class="link-ylw txt-right" href="javascript:void(0);" style="color: blue;" onclick="showRegister();">{$this->Language['btn_register']}</a></div>
                                    <div class="pull-right"><a class="link-ylw txt-right" href="{$this->siteurl}/user/forgot" style="color: blue;">{$this->Language['forgot_password']}</a></div>
                                </div>
                            </div>
                            <input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                        </form>  
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12" id="register_form_div" style="display: none;">
                        <form id="register_form" name="register_form" method="POST" class="form-horizontal">
							<input type="hidden" name="csrfToken" id="csrfToken" value="{$smarty.session.csrfToken}" />
                            <div class="form-group">
                                <h4>{$this->Language['new_member']}</h4>
                                <div id="register_loading" class="loader"></div>
                                <div id="register_errors" class="error text-center"></div> 
                            </div>
                                                        {if $this->studio->social_logins}
                            {if isset($smarty.session.social) } 
                            {assign var=socialAuth value=$smarty.session.social}
                            {else}
                            {assign var=socialAuth value=$this->getSocialUrls()}
                            {/if}
                            {if $socialAuth}
                            <div class="form-group">
                                <ul class="social-icons invert">
                                    {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                                    <li><a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="1" class="facebook_login facebook social_login"></a></li>     
                                    {/if}
                                    {if ($this->studio->social_logins & 2) && $socialAuth['gplus_url'] }
                                    <li><a href="{$socialAuth['gplus_url']}" class="googleplus social_login"></a></li>    
                                    {/if}  
                                </ul>
                            </div>
                            {/if}
                            {/if}
                            <div class="form-group">
                                <label for="name">{$this->Language['text_full_name']}</label>
                                <input type="text" required name="data[name]" id="fullname" placeholder="{$this->Language['text_name_placeholder']}" autocomplete="off" class="form-control" />
                            </div>
                            {if (!$this->register_with_mobile)}
                            <div class="form-group">
                                <label for="username">{$this->Language['text_email']}</label>
                                <input type="email" required name="data[email]" id="email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" />
                            </div>
                            {/if}
                            {if ($this->register_with_mobile)}
                            <div class="form-group">
                                <label for="username">{$this->Language['mobile']}</label>
                                <input type="text" name="data[mobile_number]" id="username" placeholder="{$this->Language['mobile']}" autocomplete="off" class="form-control" value="" />
                            </div>
                            {/if}
                            {if (!$this->register_with_mobile)}
                            <div class="form-group ">
                                <label for="password">{$this->Language['text_password']}</label>
                                <div class="controls">
                                    <input type="password" required name="data[password]" id="join_password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control" />
                                </div>
                            </div>
                            {/if}
                            <div class="form-group ">
                                <div class="controls">
                                    <input name="data[subscribe_newsletter]" value="1" type="checkbox" checked="checked"> &nbsp;{$this->Language['subscribe_to_announcement']} 
                                </div>
                            </div>
                            <input type="hidden" id="chk_register" name="chk_register" value="" />
                            <div class="clear"></div>
                            <div class="form-group ">
                                <div class="controls pull-left">
                                    <button type="submit" class="btn btn-primary btn-green-small" name="register_submit" id="register-btn">{$this->Language['btn_signup']}</button>
                                </div>
                                <div class="pull-right"><a class="link-ylw txt-right" href="javascript:void(0);" style="color: blue;" onclick="showLogin();">{$this->Language['btn_login']}</a></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>          
        </div>		
    </div>
</div>
<div id="playchkModal" class="modal fade login-popu" data-backdrop="static" data-keyboard="false" >
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <div class="modal-header">
                <button type="button" class="close sub-popup-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title sub_title">{$this->Language['perimission_denied']}</h4>
            </div>            
            <div class="modal-body">
                <div id="subscribe_loading" class="loader" style="display: none;"></div>
                <div class="row-fluid popup_bottom">
                    <div id="subscribe_errors" class="error text-left"></div>
                    <div id="subscribe_success" class="error text-left" style="color:green;"></div>
                    <p>{$this->Language['subscribe_msg']}</p>
                    <div class="col-md-12" id="playchk_div">
                        <button type="button" class="btn btn-blue" onclick="subscribe()">{$this->Language['subscribe_btn']}</button> 
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>          
        </div>		
    </div>
</div>
<div id="ppvModal" class="modal fade login-popu" data-backdrop="static" data-keyboard="false"></div>
<script type="text/javascript" src="{$this->siteurl}/js/themes/loginpopup.js"></script>
