.loader_cart{
    display: none;
}
.loader-overlay {
    background: #333 none repeat scroll 0 0;
    opacity: 0.5;
    z-index: 100000;
}
.loader-overlay, .loader-elem-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.loader_cart .loader-body {
    background: rgba(51, 51, 51, 0.3) none repeat scroll 0 0;
    color: #333;
    left: 43%;
    padding: 7px;
    position: fixed;
    top: 43%;
    z-index: 100001;
}
.loader_cart .large .msg{
    background: #fff url("/images/loader.gif") no-repeat scroll 6% 50%;
    font-size: 20px;
    padding: 15px 20px 15px 50px;
}
.cart_icon_parent{
    position:relative;
    padding-right: 10px;
}
#round-cart{
    background:#e2c335;
    color: #000;
    font-weight: 600;
    position: absolute;
    margin-left: 17px;
    border-radius: 20px;
    height: 25px;
    top: 12px;
    width: 25px;
    padding-left: 0px;
    padding-top: 3px;
    left: 12px;
    z-index:999;
    text-align: center;
}