<style>
    .primg img{height: auto !important;width: 100% !important;}
    .order-now{background: #008000 !important; color: #fff; }
    .cart{background: #A58600 !important; color: #fff; }
    .cart-box{border: 1px solid #ddd;margin-bottom: 10px;padding:10px; background: #fff;}
    .title-new{font-size: 24px;}
    .cart-main-box{height: 300px; overflow: auto; padding: 5px}
    .price{font-size: 18px;}
</style>
<div class="cart-main-box">
    <?php 
    $cropDimesion = Yii::app()->common->getPgDimension();
    $producturl = Yii::app()->createUrl("/");
    foreach ($product as $key => $value) { ?>
        <div class="col-sm-12 margin-bottom-30 cart-box">
            <div class="row">
            <div class="col-xs-2 primg">
                <a style="color:#000" href="<?php echo $producturl.'/'.$value['permalink'];?>">
                    <?php 
                    $img_path = PGProduct::getpgImage(@$value['id'],'thumb');                    
                    ?>
                    <?php if($img_path){?>
                        <img src="<?php echo $img_path; ?>" alt="<?php echo $value['name']; ?>" style="width:100%;">
                    <?php }else{?>
                        <img data-src="holder.js/<?php echo $cropDimesion['width']; ?>x<?php echo $cropDimesion['height']; ?>" alt="<?php echo $cropDimesion['width']; ?>x<?php echo $cropDimesion['height']; ?>" style="width: 100%;" />
                    <?php }?>
                </a>
            </div>
            <div class="col-xs-10">
                <div class="title-new"><a style="color:#000" href="<?php echo $producturl.'/'.$value['permalink'];?>"><?php echo $value['name'];?></a></div>
                <p><?php echo $value['description'];?></p>
                <div class="pull-left price"><?php echo Yii::app()->common->formatPrice($value['sale_price'],$value['currency_id']);?></div>
                <div class="pull-right">
                <?php
                if($value['status'] == 1)
                {
                ?>
                    <input type="button" onclick="showcart(<?php echo $value['id'];?>,1);" value="<?php echo $this->Language['add-to-cart'];?>" name="" class="AddToCart btn cart">
                    <input type="button" onclick="showcart(<?php echo $value['id'];?>,2);" value="<?php echo $this->Language['ordernow'];?>" name="" class="AddToCart btn order-now">
                
                <?php
                }
                else if($value['status'] == 3)
                {
                    echo '<span style="color:red;">'.$this->Language['stock_out'].'</span>';
                }
                ?> 
                </div>
            </div>
            </div>
        </div>
    <?php } ?>
</div>
<script type="text/javascript" src="<?php echo Yii::app()->getBaseUrl(true) ?>/common/js/placeholder/holder.js"></script>
<script type="text/javascript">
    function showcart(id,flag){
        $('.loader_cart').show();
        var url = '<?php echo Yii::app()->getBaseUrl(true) ?>/shop/addtocart';
        $.post(url,{'quantity':1,'id':id},function(res){
            if(flag==2){
                 window.location.href = '<?php echo Yii::app()->getBaseUrl(true) ?>/shop/cart';
            }else{
                $('.loader_cart').hide();
                $('html,body').animate({scrollTop:0}, 500);
                $('.round-cart').html(eval($('.round-cart').html())+1);
            }    
        })
    }
</script>