
    <div class="cloud floating">
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/img/cloud.png" alt="Muvi Themes">
    </div>

    <div class="cloud pos1 fliped floating">
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/img/cloud.png" alt="Muvi Themes">
    </div>

    <div class="cloud pos2 floating">
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/img/cloud.png" alt="Muvi Themes">
    </div>

    <div class="cloud pos3 fliped floating">
        <img src="{$this->siteurl}{$Yii->theme->baseUrl}/img/cloud.png" alt="Muvi Themes">
    </div>


    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 top">
                    <img src="{$this->siteurl}{$Yii->theme->baseUrl}/img/logo.png" alt="Muvi Themes Logo">
                    <br/>
                    <h3 class="subtitle">Oops! This page is currently unavailable as the account associated with this page is not active at this time. Please <a href="https://www.muvi.com/contacts.html" title="MUVI">contact us</a> to activate this account</h3>
                    <br/>
                    <h3 class="subtitle">Take me to <a href="https://muvi.com" title="MUVI">Muvi.com</a> </h3>
                </div>
                <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/muvidotcom" class="icoFacebook" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/muvi" class="icoTwitter" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/muvi-com" class="icoLinkedin" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p class="copyright">Copyright &copy; 2016 - <a href="http://muvi.com">muvi.com</a>
                    </p>
                </div>
            </div>-->
        </div>
    </div>