{$content = $item|json_decode}
<div class="single-product-area">
    <div class="container">
        <div class="row top20">
            <div class="col-md-12">
            <h2>{$content->name}</h2>
            <img src="{$celebrity_image}" alt="{$content->name}" align="left" style="margin-right: 20px;" />
            <div>{$content->summary|utf8_decode}</div>
            <br /><br />
           </div>
        </div>
          <div class="row top20">
            {include file='../layouts/listitem.html'}
        </div>
    </div>
</div>