@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
		margin-top:30px;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

@media (max-width: 1366px) {
.margin-right-search {margin-right: 10px;}
#input input {width: 200px;}
.left-menu-margin {margin-left: 5%;}
.control-label {font-size: 20px;top: 7px;}
.caption h3 {
     font-size: 18px;
}
.caption p {
    font-size: 14px;
}
.cart-btn {
    margin-left: 0;
    padding: 7px 7px;
	font-size:12px;
}
.order-now {
    padding: 7px 7px;font-size:12px;
}
}

@media (max-width: 1200px) {
	.caption h3 {
     font-size: 16px;
}
.left15-{margin-left: 0px;}
.banner-bg {background: transparent;}
.banner-col-md-12{ width:100%; background:#222c2e !important}
.padding5{padding:5px !important;background:#222c2e !important}
}
@media (max-width: 1024px) {
}

@media (max-width: 767px) {
.left-menu-margin {  margin-left: -2%;}
#search {
    float: right;
}
.profile{ border:3px solid #fff; margin:auto; margin-top:20px; width:220px; z-index:9999 !important;}
}

@media (max-width: 480px) {

.banner-strip {
    font-size: 9px;padding: 2px 10px 4px;
}
.banner-bottom-line p{ padding-bottom:0px; margin:0 0 0px;}
.banner-bottom-line h2 {font-size: 24px; margin-bottom:2px;}
.font18 {font-size: 12px;}
.font22 {font-size: 13px;}
.caption h3 {font-size: 13px;}
.caption p {font-size: 12px; margin: 0 0 0px;}
.btn-padding{padding: 4px 4px !important;}
.banner-btn{ width:220px}
.order-now { margin-top:5px;}
}

@media (max-width: 320px) {
.caption h3 {
    font-size: 10px;
}
}