/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2016, 1:45:46 PM
    Author     : Muvi
*/

.loader{position: absolute; width: 100%; height: 100%; top: 0px; bottom: 0px; left: 0px; background: url('images/loading.gif') no-repeat center; z-index: 99;}
