body {
    background: #FAFAFA;
    color: #333;
}

#topbar {
    border-bottom: 3px solid #FD1F01;
}
#topbar.home2 {
    border-bottom: 2px solid #f81d00;
        background: #000;
}
.navbar .nav > li > a{
    color: #fff;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover
{
    color: #FF0000;
}

a {
    color: #333;

}

a:hover,
a:hover,
a:focus {
    color: #f81d00;

}



h2 {
    color: #333;
    
}

.hmclr {
    color: #FF0000;
}



.bold-green {
    color: #f81d00;
  
}


.form-signin {
    border: 1px solid #333;
    color:#000;
    height:304px;
}

.form-signin-black {
    background: #FFF;
    border: 1px #333 solid;
    height: 304px;
}


.main-banner p span {
    color: #FDBE0C;
}

.btn-green {
    color: #FFF;
    background: #f81d00;
}

.btn-green:hover {
    background: #f81d00;
    color: #333;
}

.btn-green-small {
    color: #FFF;
    background: #f81d00;

}

.btn-green-small:hover {
    background: #f81d00;
    color: #333;
}

.btn-grey {
    color: #FFF;
    background: #828282;

}

.btn-grey:hover {
    background: #828282;
    color: #333;
}


.login-title {
    background-image: url(../images/white/login-icon.png);
}

.shows-icon {
    background: url(../images/white/shows-icon.png) no-repeat 0px 5px;
}

.movies-icon {
    background: url(../images/white/movie-icon.png) no-repeat 0px 14px;
}

.events-icon {
    background: url(../images/white/events-icon.png) no-repeat 0px 6px;
}



.footer-poweredby {

    color: #FFF;
}

.footer-poweredby:hover{
    color:#FF0000;
}




.header-bar-bg {

    background-color: #ddd;
}

.well {
    background: #FFF;

}


.pen-icon {
    background: url('../images/white/cast-icon.png') no-repeat center left;

}

.ac-setting-icon {
    background: url('../images/white/ac-setting-icon.png') no-repeat center left;

}

.comment-icon {
    background: url('../images/white/comment-icon.png') no-repeat center left;

}

.settings-icon {
    background: url('../images/settings.png') no-repeat center left;

}




.choosen .ylw {
    color: #FFBD05;
}


.choosen {
    border: 1px solid #FFBD05;
}
.choosen .plan-free {
    color: #FFBD05;
}


.selectpicker.btn {
    background: #FFF;
    border: 1px solid #CCC;

}

.btn-group.open .selectpicker {
    background: #FFF !important;
    box-shadow: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
      background: #000;
    color:#fff;
}


footer a{
    color: #FFFF;  
}
footer a:hover {
    
    text-decoration: none;
}

footer .navbar .nav > li > a {
    color: #FFF;

}
footer .navbar .nav > li > a:hover {
    color: #FF0000;
}
.copy {
    color: #FFFF;
}

.copy a:hover{
    color:#FF0000;
}
.border_btm {
    border-bottom: solid 3px #F81D00;
}



.playbtn2 {
    background: url(../images/white/play_button.png) no-repeat;
}



.playbtn {
    background: url(../images/white/play_button.png) no-repeat;
}



.stripe {
    background: none repeat scroll 0 0 #f81d00;
    color: #fff;

}


.ptext {
    border-bottom: 1px solid #ddd;
    color: #2b2b2b;

}



.cast-body a {
    color: #f81d00;

}

.larrow {
    background: url(../images/white/left_arrow.png) no-repeat;

}

.rarrow {
    background: url(../images/white/right_arrow.png) no-repeat;

}




.name_block {
    color: #333;
}



.cast_link {
    color: #f81d00;
}

.block_header {
    color: #333;

}

.active_text {
    color: #f81d00;
}

.active_block {
    border-bottom: 2px solid #f91d00;
}


/* Search page css ends */


/*movie page css starts*/

.name_header {
    color: #494949;
}

.mov_playbtn {
    background: url(../images/white/play_button.png) no-repeat;

}

.epi_playbtn {
    background: url(../images/white/play_button.png) no-repeat;
}



/* movie page css ends */


.btn-primary {
    background: #f81d00;
    text-shadow: none;
}

.btn-primary:hover {
    background: #286090 !important;
    color: #fff;
}


.more-movies {

    color: #333;

}

#spinner {
    background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background: #f81d00;
}

.adv_search_header {
    font-weight: bold;
    width: 200px;
    right: 0;
    position: absolute;
    font-size: 75%;
    float: right;
}

.copy a {
    color: #FFFFFF;
}

.linkcol {
    color: #bb7f5d;
}

.linkcol:hover {
    text-decoration: underline;
}

.ht {
    color: #9d261d;
}



.ylw_link {
    color: #f81d00;
}

.ylw_link:hover {
    color: #e9ac00;
}

.btn-inverse {
    background: #828282;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.btn-pink.disabled,
.btn-pink {
    background: #D1247E;
}

.heading_2 {
    color: #000;

}


.navbar .pull-right > li > .dropdown-menu::before,
.navbar .nav > li > .dropdown-menu.pull-right::before {
    background: none repeat scroll 0 0 #f81d00;

}

.navbar .nav > li > .dropdown-menu::before {
    border: medium none #f81d00;
}


.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 0px solid #333;
 

}

.dropdown-menu>li>a {
   color: #000;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu-focus > a {
    background: #F5F5F5;
    background-image: linear-gradient ( to bottom, #08c, #f81d00);
    background-repeat: repeat-x;
    color: #000;
    text-decoration: none;
}

.billed-box {
    border: 2px #49ac00 solid;
    color: #eee;
    background: #222;
}

.billed-box .tick-icon {
    background: url(../images/white/tick-icon.png) no-repeat;

}

.billed-box h3 {
    color: #f81d00;

}

.billed-box2 {
    border: 2px #444 solid;
    background: #fff;
}



.bs-example {
    background: #fff;

}
.headings_2{
    color:#000000;
}




.cast-text2 {
    color: #333;
}

.img-circle-top {
    margin-top: 18px;
}

.panel-heading {
    background: #f5f5f5;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #f81d00;
    box-shadow: 0 0 6px #f81d00;
}




.input-append .add-on,.input-prepend .add-on { background: #FFF;}
h3.moviename{color:#FF0000;}
h3.hmclr{color:#FF0000;}
.link-ylw{color:#FF0000;}
#home_slider {    border-bottom: 3px solid #FD1F01;}
.main-banner h2 {color: #FFF;}
.input-prepend .add-on {    background: #FFF;}
.navbar-form .input-append input,
.navbar-form .input-prepend input {
    border-right: solid 1px #ccc;
    border-radius: 4px 0px 0px 4px;
}
.plan-box { border: 1px solid #CCCCCC;}
.choosen h5 {
    color: #FFBD05;
}
.tshow_lable {color: #2b2b2b;}
.dtext {color: #797979;}

.tvshow_list {
    color: #999; }
.thumbnail .caption2 { color: #555;}
.thumbnail {border: 0px solid #ddd;}
.caption2{background: #2b2b2b;color: #fff !important;}
.caption {background: #2b2b2b; border: 3px solid #FF0000;color: #fff !important;}
.popup_content {    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #ddd;}
.ptitle{color: #484848;}
.cast-heading {
    color: #292929;
}
.last-div{    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #ddd;}
.view-all-cast{ color: #878787;}
.banner_name_header {color: #ffffff;text-shadow: 0 0 3px rgba(0, 0, 0, .8);}
.censor {
    background-color: #494949;
    color: #fff;}
.banner_censor
{    background-color: #fff;
    color: #000;}
.rel_yr{color: #8a8a8a;}
.banner_rel_yr{ color: #fff;text-shadow: 0 0 3px rgba(0, 0, 0, .8);}
.sub_header{ color: #525252;}
.genre {  color: #8a8a8a;}
.banner_genre {color: #ffffff;}
.epi_heading{color: #000000;}
.story_font {
    color: #767676;
}
#alert-area{ color: #D8000C;
    background-color: #FDD5CE;}
.filter-dropdown{ border: 1px solid #CCC;}
.filter-dropdown:hover {
    border: 1px solid #292929;
}
.login-popup-msg{ color: #fff;}
.row-fluid-bg{background: #140f04;}
#frm-free h2,#frm-free { color: #FFF;}
#frm-free h1,#frm-free { color: #FFF;}
.slide-desc p { text-shadow: 0px 0px #000000;}
.price-bold{color: #fec30c;}
.agreement-span{color: #333;}
.grn { color: #5bb75b;}
.blk { color: #333333;}
.warning_msg{color: red;}
.navbar .nav > li > .dropdown-menu::after{    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;}
.devider{background: #333;}
.nav-tab-bg{background: #252525;}
.cast-list ul{border-bottom: 1px #999 solid;}
.details-thumbnail {
    border: 3px #fff solid;
}
.span6 h1{
    font-weight: normal;
    color: #000000;
}
.abt-heading, .faq-heading{
    color:#000;
}






@media (max-width: 767px) {
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        box-shadow: none;
        border-radius: 0px;
        font-size: 13pt;
        font-weight: 300;
        padding: 18px 8px;
    }
}
@media (min-width: 768px) and (max-width: 980px) {

    .caption {
        background: #2b2b2b;
        border: 3px solid #f81d00;
   color: #fff !important;
    }

}
@media (min-width: 768px) and (max-width: 981px) {
    .caption {   
        border: 3px solid #f81d00;
        color: #fff !important;
    }
}
@media (max-width: 981px) {
    .thumbnail .caption {
        color: #555;
    }
}
@media (max-width: 760px) {
     .details-thumbnail {
        border: 3px #fff solid;
     }
}
@media (max-width: 460px) {
    .details-thumbnail {
        border: 3px #fff solid;
    }
}
@media (max-width: 979px) {
   .block_header {
        color: #fff;
   }
}
.navbar .nav li.dropdown > a:hover .caret, .navbar .nav li.dropdown > a:focus .caret {
    border-top-color: #FF0000;
    border-bottom-color: #FF0000;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}























