body{font-family: 'Roboto'; font-weight: 300; font-size: 16px; color: #6B6B7D; line-height: 22px;}
*:focus, img:focus{outline: none;}
#page {  padding-top: 60px;}
.center{text-align: center;}
.navbar .container{max-width: 1170px;}
.blue{color: #42b7da;}
.wrapper{margin-top:40px; margin-bottom: 20px;}
.grybg{background: #f3f7f8 url('../images/divider.png') no-repeat top center;}
.graybg{background: #f9fbfc; margin-top: 0px; margin-bottom: 0px;}
.whtbg{background: #FFF; margin-top: 0px; margin-bottom: 0px;}
.blubg{ background: #42b7da; margin-bottom: 0px;}
.martop0{margin-top: 0px;}
.item{padding: 5px;}
blockquote{border: none; padding-left: 0px; padding-top: 10px;}

.garybg{background: #f9fbfc;}

h3{font-weight: 500; font-size: 22px;}

#top_bar.site{background: url('../images/home-bg.jpg') no-repeat top center; }
#top_bar.sdk{background: url('../images/sdk-bg.jpg') no-repeat top center; }
#top_bar.dam{background: url('../images/dam-bg.jpg') no-repeat top center; }
#top_bar.muvi{background: url('../images/muvi-bg.jpg') no-repeat top center; }
#top_bar.affiliate{background: url('../images/affiliate-bg.jpg') no-repeat top center; }


.navbar-inner{background: none; border: none; box-shadow:none; padding-top: 20px; padding-bottom: 20px;}


.navbar .nav > li > a{color: #FFF; text-shadow: none; font-size: 24px; margin-top: 2px; font-weight: 500;}
.navbar .nav > li > a span{font-size: 16px;}
.navbar .nav > li > a:hover, .navbar .nav > li > a.current{border-top: 2px solid #FFF; color: #FFF; margin-top: 0px;}
.navbar .nav > li > a.btn, .navbar .nav > li > a.btn:hover{ margin-top: 8px; border: 0px;}

.navbar .nav li.dropdown > .dropdown-toggle .caret{border-bottom-color: #FFF; border-top-color: #FFF;}
#top_bar .hero-unit{background: none; text-align: center; color: #FFF; padding-top:12%; padding-bottom: 17%; margin: 0px;}
.muvi #top_bar .hero-unit{padding-top:9%; padding-bottom: 15%;}
.site #top_bar .hero-unit{padding-top: 19%; padding-bottom: 25%;}

#top_bar.contact, #top_bar{background: #42b7da;}
.hero-unit h1{font-size: 58px;}
.hero-unit h2{font-weight: 300; font-size: 42px;}
.navbar .nav#yw21 > li > a{font-size: 16px;}
.nav-divider{width: 1px; height: 35px; background: #FFF; margin-top: 12px;}
.btn:hover, .btn:focus{background-position: 0px;}

.btn-white{background: #FFF; color: #02a2d4;}
.navbar .nav > li > a.btn-white{color: #02a2d4; padding:4px 12px; }
.navbar .nav > li > a.btn-white:hover{background: #CCC;}

#yw21{margin-top: 5px;}

#yw20, #yw21{list-style: none;}
#yw21 li{ display: inline-block;}
#yw21 li a{padding: 5px; display: block; color: #FFF; text-decoration: none;}
#yw21 li a.btn{color:#02a2d4; text-shadow: none; }
#yw21 li a.btn:hover{color: #FFF; background: #02a2d4;}

#yw21 ul.dropdown-menu a{color:#02a2d4;}
#yw21 ul.dropdown-menu li{ display: inline;}
#yw21 ul.dropdown-menu li a:hover{color:#FFF;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{ background: #02a2d4;}

h2.btm-bdr, h1.btm-bdr{background: url(../images/h2-bg.png) no-repeat bottom center; text-align: center; padding-bottom: 30px; color: #42b7da; font-size: 38px; font-weight: 500; margin-bottom: 30px;}
.home-page-studio{text-align: center; }
.home-page-studio h3{font-size: 24px; font-weight: normal;}

.home-page-customers{padding: 20px 0px;}
.home-page-customers ul{list-style: none;}
.home-page-customers li{ display: inline-block; text-align: center; padding: 0px 28px;}
.sols .span3:first-child{margin-left: 0px;}

.top_social li{padding: 0px 5px;}
.top_social li a{margin-right: 0px;}

.footer-above{background: #42b7da; margin-bottom: 0px;}
.footer-nav .navbar-inner{ padding: 0px;}

.footer-above ul{padding: 10px 0px; margin: 0px;}
.footer-above ul li{display: inline-block; color: #c7f2ff; padding: 5px 10px;}
.footer-above ul li a{color:#FFF;}
.footer-above .container .span6:first-child{margin-left: 0px;}
footer{background: #000; padding: 10px 0px; color: #8C8F95;}
.span6 ul li:first-child{padding-left: 0px;}
.span6 ul li:last-child{padding-right: 0px;}

.social a{opacity: 0.5;}
.social a:hover{opacity: 0.9;}

.blubg a{color: #c7f2ff; display: inline-block; margin-right: 50px; font-size: 22px; font-weight: 500;}

.cols2{list-style: none; margin: 0px; padding: 0px;}
.cols2 img{width: 100%;}
.cols2 li{display: inline-block; }
.cols2 li:first-child{margin-left: 0px;}
.cols2 li.bigger{width: 50%;}
.cols2 li.smaller{width: 40%;}
.pad50{padding-top: 50px; padding-bottom: 50px;}
.txt-right{text-align: right;}
.move_top{margin-top: -100px;}

.white{color: #FFF;}


.col-first{ margin-top: 100px;}
.col-center{text-align: center;}
.col-last{ margin-top: 100px;}

.table th, .table td{border: 0px;}
.table-condensed thead tr th{background: #3ec6e0; color: #FFF;}
.table-striped tbody tr.even td{ background: #e8f2f7;}
.table-striped tbody tr.odd td{ background: #FFF;}
table.center-table{max-width: 60%; margin: 0px auto; float: none;}
.table-striped td h3{margin: 0px;}

.dam .footer-above{ margin-top: 0px;}

.customers ul{list-style: none;}
.customers ul li{display: inline-block; padding: 0px 3px;}
.customers ul li.separator{font-size: 30px;}
.customers ul li:first-child{padding-left: 0px;}
.customers h3{font-size: 28px;font-weight: bold;}

@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    #top_bar .hero-unit{padding-top: 200px; min-height: 370px;}
    .hero-unit h1{font-size: 36px;}
    .hero-unit h2, h2.btm-bdr, h2{font-size: 24px;}
    .home-page-studio h3, h3{font-size: 20px;}
    #yw20{display: none;}
    
    .home-page-customers li{ width: 100%; text-align: center; margin: 0px; padding: 0px;}
    .span3, .footer-above .container, [class*="span"]{padding: 4px;}
    .navbar .nav > li > a{margin: 0px;}
    .navbar .nav > li > a:hover, .navbar .nav > li > a.current{color: #02a2d4; border: 0px;}
    
    table.center-table{max-width: 100%;}
}

@media (max-width: 980px) {
    .navbar .nav > li > a{font-size: 18px; max-width: 115px; padding: 10px;}
}


/*Contact Us page*/
.icon-name{background: url(../images/name-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-email{background: url(../images/email-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-company{background: url(../images/company-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-phone{background: url(../images/phone-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}
.icon-message{background: url(../images/message-icon.png) no-repeat; height: 20px; width: 20px; line-height: 20px;}


@media (min-width: 1200px) {
    textarea{width: 477px;}
}

@media (max-width: 765px) and (min-width:440px) {
    textarea{width: 371px;}
}

.martop10{margin-top: 10px;}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{box-shadow: none;}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child{
    border-radius: 0px; 
    background: none; 
    border: none;
    padding: 10px;
}
.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input{
    border-radius: 0px;
    border: none;
    color: #42b7da;
    text-transform: uppercase;
    border-left: 0px;
    padding: 10px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    border-radius: 0px;
    border: none;
    color: #42b7da;
    text-transform: uppercase;
    border-left: 0px;
    padding: 10px;    
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{box-shadow: none;}
.border{ border:1px solid #42b7da;}

#contact-form{position: relative;}
.btn-blue{ border-radius: 2px; font-size: 24px; padding: 8px 80px; border-color: #42b7da; box-shadow: none; text-align: center; background: #42b7da; color: #FFF; text-shadow: none;}
.btn-blue:hover, .btn-blue:focus{background: #42b7da; color: #333;}
.error{color: #FF0000; text-align: center;}
.loading{position: absolute; width: 100%; height: 100%; background: #FFF url(../images/loading.gif) no-repeat center; z-index: 1;}

#first [class*="span"]:first-child, #second [class*="span"]:first-child, #third [class*="span"]:first-child, #fourth [class*="span"]:first-child,
#fifth [class*="span"]:first-child, #sixth [class*="span"]:first-child, #seventh [class*="span"]:first-child, #eightth [class*="span"]:first-child, 
#nineth [class*="span"]:first-child{margin-left: 0px;}

#LoginModal .modal-header{background: #42b7da; border-radius: 5px 5px 0px 0px; color: #FFF;}
#LoginModal .modal-header h3{text-align: center; font-weight: 400; font-size: 32px; text-transform: uppercase; padding-top: 10px; padding-bottom: 10px;}
#login_form label{display: inline-block; color: #42b7da;}
#login_form input[type="text"], #login_form input[type="password"]{width: 94%; color: #67677f; font-size: 16px; padding-top: 10px;padding-bottom: 10px;}
#login_form input[type="checkbox"]{margin-top: 0px; margin-right: 5px;}
.btn.btn-blue{background: #42b7da; color: #FFF; font-weight: 400; font-size: 20px; border-radius: 4px; text-align: center; padding-top: 10px; padding-bottom: 10px; text-shadow: none;}
.btn.btn-blue:focus, .btn.btn-blue:hover{background: #42b7da;}

p.home_img{min-height: 116px;}
h3 a{color: inherit;}
.list{list-style: none;}

.list li{display: inline-block; min-height: 116px;}
table td.tbl_btm_bg{background: url('../images/dam_table_btm_bg.jpg') no-repeat top center; background-color: inherit !important; height: 10px;}
.table-condensed th, .table-condensed td{vertical-align: middle; padding: 8px;}

.navbar .brand{margin-right: 46px;}
.navbar .nav > li > a span{font-size:15px;}
.navbar .nav > li > a{padding:10px 14px;}
#yw21 li a.btn { font-size: 16px; font-weight: 400; padding: 5px 15px;}
#yw21 li{margin-left: 15px;}
#yw21.pull{margin-left: 10px !important;}
#yw21.pull li{margin-left: 0px;}

#yw21 li:first-child{margin-left: 0px;}
.navbar .nav{margin-right: 0px;}
#yw21{margin-left: 18px;}
.navbar-inner{padding-right: 0px;}

.zerocap{margin-top: 60px;}
.ql{margin-top: 110px;}
.infscl{margin-top: 30px;}
.drm{margin-top: 80px;}
.custlook{margin-top: 50px;}
.ppv{margin-top: 50px;}
.webmob{margin-top: 45px;}
.bltmrkt{margin-top: 40px;}
.audrel{margin-top: 100px;}

.cms{margin-top: 50px;}
.wrldsec{margin-top: 70px;}
.convrt{margin-top: 45px;}
.reltime{margin-top: 40px;}

.selfpub{margin-top: 60px;}
.discveng{margin-top: 50px;}
.viral{margin-top: 35px;}
.bltdrm{margin-top: 85px;}
.setprc{margin-top: 55px;}


.acqsub{margin-top: 30px;}
.qkset{margin-top: 120px;}
.brndown{margin-top: 70px;}

.blogsection{margin-top: 20px;}
.blogsection .span6:first-child{margin-left: 0px;}

.tag-links a{color: #0088cc; }
footer.entry-meta{background: #EEE; margin-top: 40px; padding-left: 4px; padding-right: 4px;}
.paddlr20{padding-left: 20px; padding-right: 20px;}

.fixedtop #navblubar{position: fixed; top: 0px; width: 100%; margin-top: 0px;}
.fixedtop .curstep{margin-top: 100px !important;}
#contactModal, .modal-dialog{  width: 570px; height: 600px;}
#contactModal .modal-body{max-height: 600px; padding-right: 0px;}
.contactform h2.btm-bdr{margin-bottom: 10px;}
.close{font-size: 28px;}
h3 a.link{ color: #42b7da;}




